[% INCLUDE 'help-top.inc' %]

<h1>Authorized Values</h1>

<p>Authorized Values can be used in several areas of Koha. One reason you would add an authorized value category would be to control the values that can be entered into MARC fields by catalogers.</p>

<h2>Existing Values</h2>

<p>Koha installs with pre-defined values that your library is likely to use, for instance, 'Lost.'</p>

<p>By default, this includes:</p>

<ul>
 <li>'Asort1,' for acquisitions statistical purposes.</li>
 <li>'Asort2,' used for acquisitions statistical purposes.</li>
 <li>'BOR_NOTES' is for values for custom patron notes that appear on the circulation screen and the OPAC.</li>
 <li>'Bsort1' is for patron statistical purposes.</li>
 <li>'Bsort2' is used for patron statistical purposes.</li>
 <li>'CART' is the shelving cart location, used by InProcessingToShelvingCart and ReturnToShelvingCart</li>
 <li>'CCODE' is for collection codes (appears when cataloging and working with items).</li>
 <li>'DAMAGED' is for descriptions of damaged items, and appears when cataloging and working with items.</li>
 <li>'HINGS_AS' is for General Holdings: Acquisition Status Designator, a data element that specifies the acquisition status for the unit at the time of the holdings report.</li>
 <li>'HINGS_C' is for General Holdings: Completeness Designator.</li>
 <li>'HINGS_PF' is for Physical Form Designators</li>
 <li>'HINGS_RD' is for General Holdings: Retention Designator, a data element that specifies the retention policy for the unit at the time of the holdings report.</li>
 <li>'HINGS_UT' is for General Holdings: Type of Unit Designator.</li>
 <li>'LOC' is for the shelving location and usually appears when adding or editing an item.</li>
 <li>'LOST' is for descriptions for items marked as lost. It appears when adding or editing an item. Values given to lost statuses should be numeric (not alphabetical) in order for statuses to appear properly.
<ul>
 <li style="color: #990000;">Important: Values given to lost statuses should be numeric and not alphabetical in order for statuses to appear properly</li>
</ul>
</li>
 <li>'MANUAL_INV' includes values for manual invoicing.</li>
 <li>'NOT_LOAN' is used to list reasons why a title is not for loan.</li>
 <li>'PROC' is for the location to be used for NewItemsDefaultLocation (change description as desired), also the location expected by InProcessingToShelvingCart.</li>
 <li>'REPORT_GROUP' provides a way to sort and filter your reports, the default values in this category include the Koha modules (Accounts, Acquitisions, Catalog, Circulation, Patrons)</li>
 <li>'REPORT_SUBGROUP' can be used to further sort and filter your reports. This category is empty by default. Values here need to include the authorized value code from REPORT_GROUP in the Description (OPAC) field to link the subgroup to the appropriate group.</li>
 <li>'RESTRICTED' is used for the restricted status of an item</li>
 <li>'SUGGEST' is for a list of reasons to accept or reject patron suggestions. It appears when managing suggestions.</li>
 <li>'WITHDRAWN' is for a description of a withdrawn item. It appears when adding or editing an item.</li>
</ul>

<h2>Add New Authorized Value Category</h2>

<p>In addition to the existing categories that come by default with Koha, librarians can add their own authorized value categories to control data that is entered into the system. To add a new category:</p>

<ul>
 <li>Click 'New Category.'</li>
<ul>
 <li>Limit your Category to 10 characters (something short to make it clear what the category is for)
<ul>
 <li style="color: #990000;">Important: Category cannot have spaces or special characters other than underscores and hyphens in it.</li>
</ul>
</li>
 <li>When adding a new category you're asked to create at least one authorized value
<ul>
 <li>Enter a code for your Authorized Value into the 'Authorized value' field
<ul>
 <li style="color: #990000;">Important: Authorized value is limited to 80 characters and cannot have spaces or special characters other than underscores and hyphens in it.</li>
</ul>
</li>
 <li>Use the Description field for the actual value that will be displayed. If you want something different to show in the OPAC, enter a 'Description (OPAC)'</li>
 <li>If you would like to limit this authorized value category to only specific libraries you can choose them from the 'Branches limitation' menu. To have it show for all libraries just choose 'All branches' at the top of the list.</li>
 <li>If you have StaffAuthorisedValueImages and/or AuthorisedValueImages set to show images for authorized values you can choose the image under 'Choose an icon'</li>
</ul>
</li>
 <li>Click 'Save'</li>
 <li>Your new category and value will appear on the list of Authorized Values</li>
</ul>
</ul>

<h2>Add New Authorized Value</h2>

<p>New authorized values can be added to any existing or new category. To add a value:</p>

<ul>
 <li>Click 'New authorized value for ...'</li>
<ul>
 <li>Enter a code for your Authorized Value into the 'Authorized value' field
<ul>
 <li style="color: #990000;">Important: Authorized value is limited to 80 characters and cannot have spaces or special characters other than underscores and hyphens in it.</li>
</ul>
</li>
 <li>Use the Description field for the actual value that will be displayed. If you want something different to show in the OPAC, enter a 'Description (OPAC)'</li>
 <li>If you would like to limit this authorized value category to only specific libraries you can choose them from the 'Branches limitation' menu. To have it show for all libraries just choose 'All branches' at the top of the list.</li>
 <li>If you have StaffAuthorisedValueImages and/or AuthorisedValueImages set
to show images for authorized values you can choose the image under 'Choose an icon'</li>
 <li>Click 'Save'</li>
 <li>The new value will appear in the list along with existing values</li>
</ul>
</ul>

<p><strong>See the full documentation for Authorized Values in the <a href="http://manual.koha-community.org/3.12/en/basicparams.html#authorizedvalues">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
