 table,th,td{
      border:1px solid black;
      border-collapse:collapse;
      margin-top: 10px;
      padding-top: 10px;
      width: 100%;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      break-word: word-wrap;
      table-layout:fixed;
    }
    th,td{
      padding:5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      display: table-cell;
      break-word: word-wrap;
    }
    tr{
      height: 15px;
    }
    table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
      max-width: 99%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
    }
    #topheader{
       background-image: url(banner.jpg);
       background-repeat: no-repeat;
       background-size: 1500px;
       background-color:#fd550c; 
    }
    #btn-bc{
      margin-left: 100px;
      margin-top: 30px;
    }
    #btn-print,#btn-export{
      margin-top: 30px;
    }
    #btn-find{
      margin-top: 22px;
    }
    #barcode,#input-box{
      margin-top: 21px;
    }
    #btn-print{
      margin-left: 50px;
    }
    #btn-export-csv{
      margin-left:10px;
      margin-top: 28px;
    }
    #version{
      margin-top: -50px;
      margin-left: 500px
    }
    #btn-export{
      margin-left: 10px;
    }
    .wait{
      cursor: wait;
    }
    .default{
      cursor: default;
    }

  #btn-fade,#btn-err-number,#btn-err-login {
    display: none;
   }​
  #spinner{
    margin-top: 100px;
    width: 100px;
    height: 100px;
  }
  #fade{
    pointer-events:none;
  }
   