[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Statistics</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="circ_stats" class="circ">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'circ-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a> &rsaquo; Statistics</div>

<div id="doc3" class="yui-t2">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">

 [% IF ( notime ) %]
 <h1>Display statistics for:</h1>
 <ul>
 <li><a href="/cgi-bin/koha/circ/stats.pl?time=yesterday">เมื่อวาน</a></li>
 <li><a href="/cgi-bin/koha/circ/stats.pl?time=today">today</a></li>
 [% ELSE %]
 [% IF ( loop1 ) %]
 <table>
 <caption>Statistics</caption>
 <tr>
 <th>Name</th>
 <th>Type</th>
 <th>Date/time</th>
 <th>Amount</th>
 <th>Library</th>
 <tr>
 [% FOREACH loop IN loop1 %]
 <tr>
 <td>[% loop.name %]</td>
 <td>[% loop.type %]</td>
 <td>[% loop.time %]</td>
 <td>[% loop.amount %]</td>
 <td>[% loop.branch %]</td>
 </tr>
 [% END %]
 </table>
 <p>Total paid: [% total %]<br />Total written off: [% totalw %]</p>
 [% ELSE %]
 <h3>No statistics to report</h3>
 [% END %]
 
 [% END %]
</div>
</div>
<div class="yui-b">
[% INCLUDE 'circ-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]