@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-attachment: scroll;
	/*background-image: url(images/bg.jpg);*/
	background-repeat: repeat-x;
	background-position: top;
	background-color: #faf5e1;
	font-family: Tahoma;
	width: 100%;
	max-width: 100%;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y:scroll;

}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}


/*------------------------------------------------topheader--------------------*/
#topheader{
	width:100%;
	height:170px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
}
.topmenu_area {
	margin: 0px;
	float: left;
	width: 292px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 682px;
	font-size:10px;
}
.home {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/top_menu_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 43px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 67px;
}
.home:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #ed5400;
	text-decoration: none;
	background-image: url(images/top_menu1_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 43px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 67px;
}
.about {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/top_menu_02.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 45px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 27px;
}
.about:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #ed5400;
	text-decoration: none;
	background-image: url(images/top_menu1_02.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 45px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 27px;
}
.search {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/top_menu_03.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 84px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
}
.search:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #ed5400;
	text-decoration: none;
	background-image: url(images/top_menu1_03.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 84px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
}.banner_textarea {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	color: #ffc762;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 67px;
	width: 481px;
	padding-top: 37px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 461px;
}
.banner_head {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.search_menu_banner {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 38px;
	width: 1500px;
}
.search_background {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	height: 38px;
	width: 363px;
	margin-top: 0px;
	margin-right: 74px;
	margin-bottom: 0px;
	margin-left: 250px;
}
.searchname {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #9a2500;
	text-decoration: none;
	float: left;
	height: 20px;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 50px;
	margin: 0px;
}
.searchbox {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #9a2500;
	text-decoration: none;
	float: left;
	height: 20px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.searchtextbox {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 192px;
	border: 1px solid #CCCCCC;
}

.menu_area {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 38px;
}

.go {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/go.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 19px;
	width: 34px;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.go:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/go1.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 19px;
	width: 34px;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.addidea {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 90px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 42px;
}
.addidea:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu1_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 90px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 42px;
}
.loginhere {
	font-family: Arial;
	font-size: 8px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu_02.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 90px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 36px;
}
.loginhere:hover {
	font-family: Arial;
	font-size: 8px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu1_02.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 90px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 36px;
}
.comments {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	/*background-image: url(images/menu_03.png);*/
	/*background-repeat: no-repeat;*/
	margin: 0px;
	float: left;
	height: 26px;
/*	width: 250px; */
	text-align: right;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 150px;
}

.contact {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu_04.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 81px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 42px;
}
.contact:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/menu1_04.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 26px;
	width: 81px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 42px;
}
/*------------------------------------------------body_area--------------------*/
#body_area{
	width:1004px;
	height:378px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
}
#innerbody_area{
	width:1004px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
}.left {
	margin: 0px;
	float: left;
	height: 353px;
	width: 213px;
	padding-top: 21px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
}
.morelinks_top {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 9px;
	width: 193px;
	background-image: url(images/morelinks_box_01.png);
	background-repeat: no-repeat;
}
.morelinks_area {
	margin: 0px;
	float: left;
	height: 308px;
	width: 193px;
	background-image: url(images/morelinks_box_02.png);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.morelinks_head {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/morelinks.png);
	background-repeat: no-repeat;
	float: left;
	height: 24px;
	width: 145px;
	text-transform: capitalize;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}

.morelinks_bottom {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 11px;
	width: 193px;
	background-image: url(images/morelinks_box_03.png);
	background-repeat: no-repeat;
}
.morelink {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #c12f00;
	text-decoration: none;
	background-image: url(images/morelinks_active.png);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 143px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.morelink:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #c12f00;
	text-decoration: none;
	background-image: url(images/morelinks_hover.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 143px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.links_morearea {
	margin: 0px;
	float: left;
	width: 190px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.links_text {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #7e7656;
	text-decoration: none;
}
.body_area1 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 378px;
	width: 765px;
}
.banner_bottom {
	
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 90px;
	width: 765px;
}
.mid {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 288px;
	width: 528px;
}
.tick_head {
	font-family: Arial;
	font-size: 22px;
	font-weight: normal;
	color: #3b3b3b;
	text-decoration: none;
	background-image: url(images/tickmark.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 25px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 18px;
	padding-left: 40px;
}
.tick_head1 {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: #bb3604;
	text-decoration: none;
}
.inner_banner {
	background-image: url(images/inner_banner.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 200px;
	width: 250px;
	padding-top: 28px;
	padding-right: 250px;
	padding-bottom: 0px;
	padding-left: 26px;
}
.worksheet {
	font-family: "Arial Narrow";
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/innerbanner_head.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 44px;
	width: 152px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 22px;
}
.innerlink {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #b32c01;
	text-decoration: none;
	background-image: url(images/inner_link.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 137px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 13px;
}
.innerlink:hover {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #b32c01;
	text-decoration: none;
	background-image: url(images/inner_link1.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 137px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 13px;
}
.right{
	margin: 0px;
	float: left;
	height: 267px;
	width: 200px;
	padding-top: 21px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.freeregistration {
	font-family: "Arial Narrow";
	font-size: 23px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(images/freereg.png);
	background-repeat: no-repeat;
	float: left;
	height: 40px;
	width: 168px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}

.latestblogs_top {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 9px;
	width: 193px;
	background-image: url(images/morelinks_box_01.png);
	background-repeat: no-repeat;
}
.latestblogs_area {
	margin: 0px;
	float: left;
	width: 193px;
	background-image: url(images/morelinks_box_02.png);
	background-repeat: no-repeat;
	padding: 0px;
	background-position: left;
}
.latestblogs_head {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/morelinks.png);
	background-repeat: no-repeat;
	float: left;
	height: 24px;
	width: 145px;
	text-transform: capitalize;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}

.latestblogs_bottom {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 11px;
	width: 193px;
	background-image: url(images/morelinks_box_03.png);
	background-repeat: no-repeat;
}
.latestblogs {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #c12f00;
	text-decoration: none;
	background-image: url(images/morelinks_active.png);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 143px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.latestblogs:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #c12f00;
	text-decoration: none;
	background-image: url(images/morelinks_hover.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 143px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.latestblogs_area {
	margin: 0px;
	float: left;
	width: 190px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.latestblogs_text {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #7e7656;
	text-decoration: none;
}
.right_area {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 258px;
	width: 195px;
	background-image: url(images/right_03.jpg);
	background-repeat: repeat-y;
	background-attachment: scroll;
}
.right_top {
	background-image: url(images/right_01.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 10px;
	width: 195px;
}
.right_bottom {
	background-image: url(images/right_04.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 13px;
	width: 195px;
}
.right_head {
	background-image: url(images/right_02.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 38px;
	width: 195px;
}
.right_links_area {
	background-image: url(images/right_03.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 197px;
	width: 195px;
}
.free {
	font-family: "Arial Narrow";
	font-size: 21px;
	font-weight: bold;
	color: #b72d01;
}
/*------------------------------------------------body_area1--------------------*/
.body_areabackground{
	width:100%;
	height:242px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: left;
	background-attachment: scroll;
	background-image: url(images/bodyarea1_bg.jpg);
	background-repeat: repeat-x;
}#body_area1{
	width:1004px;
	height:242px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-attachment: scroll;
	background-image: url(images/bodyarea1_bg.jpg);
	background-repeat: repeat-x;
}
.inner_tabarea {
	margin: 0px;
	float: left;
	height: 242px;
	width: 453px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 27px;
}

.inner_menu {
	padding: 0px;
	float: left;
	height: 28px;
	width: 400px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.tab_text {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #928f83;
	text-decoration: none;
	margin: 0px;
	float: left;
	width: 403px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.tab_readmore {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #928f83;
	text-decoration: none;
	margin: 0px;
	float: left;
	width: 403px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.innermenu {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-image: url(images/menu_inner_02.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 20px;
	width: 81px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration: none;
}
.innermenu:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-image: url(images/menu_inner_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 20px;
	width: 81px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration: none;
}
.innermenu_hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-image: url(images/menu_inner_01.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 20px;
	width: 81px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration: none;
	cursor:text;
}.tab_head {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #f5430a;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.tab_head1 {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #cdb753;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.tablink {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #928f83;
	text-decoration: underline;
}
.tablink:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
}
.readmore {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #3b3b3b;
	text-decoration: none;
	background-image: url(images/readmore.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: right;
	height: 20px;
	width: 396px;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.readmore:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #3b3b3b;
	text-decoration: none;
	background-image: url(images/readmore1.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: right;
	height: 20px;
	width: 396px;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.login_area {
	background-image: url(images/loginbg.png);
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	height: 170px;
	width: 286px;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.login_head {
	font-family: Arial;
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 33px;
	width: 230px;
	background-image: url(images/login_head.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 38px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.login_textarea {
	font-family: Arial;
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	width: 258px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}.login_name {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #a6a6a6;
	text-decoration: none;
	margin: 0px;
	float: left;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 55px;
}


.login_box {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #a6a6a6;
	text-decoration: none;
	margin: 0px;
	float: left;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.logintextbox {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 18px;
	width: 180px;
	border: 1px solid #666666;
}.logintextbox:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 18px;
	width: 180px;
	border: 1px solid #333333;
}
.register {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #fcb340;
	text-decoration: none;
	background-image: url(images/login_buttons_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 115px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 67px;
}
.register:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/login_buttons1_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 115px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 67px;
}
.login {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/login_buttons_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.login:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #fcb340;
	text-decoration: none;
	background-image: url(images/login_buttons1_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.toolfree_area {
	float: left;
	height: 170px;
	width: 210px;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}.call_free {
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 200px;
}
.callus {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/call.png);
	background-repeat: no-repeat;
	float: left;
	height: 23px;
	width: 61px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.callno {
	margin: 0px;
	float: left;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bookmark {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #f4eed0;
	text-decoration: none;
	background-image: url(images/bookmark.png);
	background-repeat: no-repeat;
	float: left;
	height: 28px;
	width: 152px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 42px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.facing {
	background-image: url(images/facing.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 66px;
	width: 143px;
}
/*------------------------------------------------fotter--------------------*/
#fotter{
	width:100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: left;
	height: 104px;
	background-image: url(images/fotter_bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
#fotter_1{
	width:941px;
	height:104px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
}
.fotter_links {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 20px;
	width: 100%;
	color: #9e9e9e;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.fotter_text {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #cb0002;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 43px;
	width: 944px;
	padding-top: 53px;
	padding-right: 30px;
	padding-bottom: 32px;
	padding-left: 30px;
}

.fotter_copyrights {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	float: right;
	height: 20px;
	width: 220px;
	color: #ae920f;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fotter_validation {
	font-family: "Trebuchet MS";
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 20px;
	width: 150px;
	color: #c75c2c;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/*------------------------------------------------fotterlinks --------------------*/
a.fotterlink:link {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #9e9e9e;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:visited {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #9e9e9e;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:hover {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;

}
a.fotterlink:active{
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #9e9e9e;
	padding-right: 5px;
	padding-left: 5px;

}
/*------------------------------------------------fotterlinksend--------------------*/

/*------------------------------------------------validation --------------------*/
.validation {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	background-image: url(images/fotter_validation.png);
	background-repeat: no-repeat;
	float: right;
	height: 19px;
	width: 48px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.validation:hover {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	background-image: url(images/fotter_validation1.png);
	background-repeat: no-repeat;
	float: right;
	height: 19px;
	width: 48px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/*------------------------------------------------validation--------------------*/
.fotter_designed {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-decoration: none;
	margin: 0px;
	float: left;
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.fotter_designed1 {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #d0b003;
}
.fotter_designedlink {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-decoration: none;
	color: #f5430a;
}
.fotter_designedlink:hover {
	font-family: Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-decoration: none;
	color: #FFFFFF;
}
.fotter_leftarea {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 104px;
	width: 555px;
}
.fotter_rightarea {
	margin: 0px;
	padding: 0px;
	float: right;
	height: 104px;
	width: 385px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#innercontetblank
			{
			margin: 0px;
			padding: 0px;
			float: left;
			width: 765px;
			}
#innermidarea
			{
			margin: 0px;
			padding: 0px;
			float: left;
			width: 700px;
			}
#innerhedding
			{
			width:700px;
			font-family: Arial;
			font-size: 22px;
			font-weight: normal;
			color: #3b3b3b;
			text-decoration: none;
			background-image: url(images/tickmark.png);
			background-repeat: no-repeat;
			margin: 0px;
			float: left;
			height: 25px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 18px;
			padding-left: 40px;
			}
#innercontent
			{
			margin: 0px;
			padding:0 0 10px 0;
			float: left;
			width: 700px;
			font-family: Arial;
			font-size: 11px;
			font-weight: normal;
			color: #7e7656;
			text-decoration: none;
			text-align:justify;
			}
#innercontent002
			{
			margin: 0px;
			padding:0 0 10px 0;
			float: left;
			width: 700px;
			font-family: Arial;
			font-size: 11px;
			font-weight: normal;
			color: #7e7656;
			text-align:justify;			
			text-decoration: none;
			}
#innercontent003
			{
			margin: 0px;
			padding:0 0 10px 0;
			float: left;
			width: 700px;
			font-family: Arial;
			font-size: 11px;
			font-weight: normal;
			color: #7e7656;
			text-align:justify;			
			text-decoration: none;
			}
#innercontent004
			{
			margin: 0px;
			padding:0 0 10px 0;
			float: left;
			width: 700px;
			font-family: Arial;
			font-size: 11px;
			font-weight: normal;
			color: #7e7656;
			text-align:justify;			
			text-decoration: none;
			}
/*----------------------------------------------------------------contactpage----------------------------------------------------------------------------------------*/
#contactblank
			{
	margin: 0px;
	float: left;
	width: 674px;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
		
			}
		
#contactinnerblank
		{
				width:1004px;
				height:500px;
				float:left;
				margin:0px;
				padding:0px;
		}
#contactheddingblank
		{
			width:500px;
			height:30px;
			float:left;
			margin:27px 0 0 45px;
			padding:0px;
			font:normal 12px/17px Arial, Helvetica, sans-serif;
			color:#CECECE;
			border-bottom: solid 1px #7f7f7f;
			
			
		}
#contactaddressblank{
				margin: 0px;
				padding:0 0 0 30px;
				float: left;
				width:236px;
				font-family: "Trebuchet MS";
				font-size: 11px;
				font-weight: normal;
				color: #000000;
				text-decoration: none;
				
	}

#contactaddresshedding
		{
			width:700px;
			font-family: Arial;
			font-size: 22px;
			font-weight: normal;
			color: #3b3b3b;
			text-decoration: none;
			background-image: url(images/tickmark.png);
			background-repeat: no-repeat;
			margin: 0px;
			float: left;
			height: 25px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 18px;
			padding-left: 40px;
		}		

#contactaddresstext{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #8f8d69;
	margin: 0px;
	float: left;
	width: 600px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 13px;
	padding-left: 0px;
	text-align:justify;
	}
#contactsmallhedding
			{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #af0602;
	text-decoration: none;
	margin: 0px;
	float: left;
	width: 600px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 13px;
	padding-left: 0px;
			}
#contacthedding
			{
			width:700px;
			font-family: Arial;
			font-size: 22px;
			font-weight: normal;
			color: #3b3b3b;
			text-decoration: none;
			background-image: url(images/tickmark.png);
			background-repeat: no-repeat;
			margin: 0px;
			float: left;
			height: 25px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 18px;
			padding-left: 40px;
		}
			
#contacticon{
				width:86px;
				height:84px;
				float:left;
				background-image: url(contacticon.png);
				background-repeat:no-repeat;
				margin:10px 0 0 30px;
	}
#contactfeildnameblank
			{
				width:160px;
				height:400px;
				margin:10px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildblank
			{
				width:200px;
				height:400px;
				margin:10px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname
			{
				width:160px;
				height:20px;
				margin:0px;
				padding:0;
				float:left;
			}
#contactfeildname002
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname003
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname004
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname005
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname006
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname007
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname008
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname009
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild
			{
				width:200px;
				height:20px;
				margin:0px;
				padding:0;
				float:left;
			}
#contactfeild002
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild003
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild004
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild005
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild006
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild007
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild008
			{
				width:200px;
				height:20px;
				margin:8px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild009
			{
				width:200px;
				height:60px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#submitbutton
			{
				width:200px;
				height:20px;
				margin:60px 0 0 0;
				padding:0;
				float:left;
				text-align: left;

			}	
			
.contactfeildname
			{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #8f8d69;
	text-decoration: none;
			}
.contactfeild
			{	font-family:Arial, Helvetica, sans-serif;
				font-size:10pt;
				color: #3c4538;
				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
				height:20px;
			}
.contactfeild
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:10pt;
				color:#3c4538;
				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
				height:20px;
			}
.submitbutton
			{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/login_buttons_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 8px;
	cursor:pointer;
			}
.submitbutton:hover 
			{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #fcb340;
	text-decoration: none;
	background-image: url(images/login_buttons1_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 8px;
	cursor:pointer;	
			}
			
.contactinput
		{

				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
		}
.contactinput:hover
		{
				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
	}
.listbox
		{

				width:174px;
				height:20px;			
				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
		}
.listbox:hover
		{
				width:174px;
				height:20px;			
				border:solid;
				border-width:1px;
				border-color:#d2e3e9;
				background-color:#fffdfd;
	}	

.sortable{
	margin:0;
	color:#232323;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-attachment: scroll;
	text-align: center;
	font-family: tahoma;
	font-size: 14px;
    max-width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_nosort):not(.sorttable_sorted_reverse):after { 
    content: " \21f3" 
}

/*----------------------------------------------------------------contactpage----------------------------------------------------------------------------------------*/																		
