[% INCLUDE 'help-top.inc' %]

<h1>Checking in (Returning)</h1>

<p>Checking in items can be performed from various different locations</p>

<ul>
 <li>The check in box on the top of the main staff client</li>
 <li>The check in option on the quick search bar on the Circulation page</li>
 <li>The check in link on the patron's checkout summary (and on the checkout summary page)</li>
 <li>The Check in page under the Circulation menu</li>
</ul>

<h3>Checking Items In</h3>

<p>To check an item in scan the barcode for the item into the box provided. A summary of all items checked in will appear below the checkin box</p>

<p>If you are checking items in that were put in the dropbox while the library was closed you can check the 'Dropbox mode' box before scanning items. This will effectively roll back the returned date to the last date the library was open.</p>

<ul>
 <li>This requires that you have your closings added to the Holidays & Calendar Tool</li>
</ul>

<p>You can also choose to forgive all overdue charges for items you are checking in by checking the 'Forgive overdue charges' box before scanning items.</p>

<h3>Check In Messages</h3>

<p>There are several messages that can appear when checking items in:</p>

<ul>
 <li>If you are checking an item in at a library other than the home branch, a message will appear asking you to transfer the book to the home library
<ul>
 <li>After this item is checked in the status of the item will be changed in the catalog to 'in transit'</li>
 <li>To mark an item as back at the home branch, check the item in at the home branch
<ul>
 <li>A message will appear tell you that the item is not checked out, but the status will now say available in the catalog. This step is necessary to mark items as received by the home branch.</li>
</ul>
</li>
</ul>
</li>
 <li>If you are checking in an item that should have multiple parts or pieces a message will appear warning you about the number of pieces you should have in your hand</li>
 <li>If you're checking an item in that has a hold on it, you will be prompted to confirm the hold
<ul>
 <li>Clicking the Confirm hold button will mark the item as waiting for pickup from the library</li>
 <li>Clicking the Print Slip and Confirm button will mark the item as waiting for pickup at the library and present the library with a receipt to print and place on the book with the patron's information</li>
 <li>Ignoring the hold will leave the item on hold, but leave its status as Available (it will not cancel the hold)</li>
</ul>
</li>
 <li>If you're checking in an item that has a hold on it at another branch you will be prompted to confirm and transfer the item
<ul>
 <li>Clicking the Confirm hold and Transfer button will mark the item as in transit to the library where the hold was placed</li>
 <li>Clicking the Print Slip, Transfer and Confirm button will mark the item as in transit to the library where the hold was placed and present the library with a receipt to print and place on the book with the patron's information</li>
 <li>Ignoring the hold will leave the item on hold, but leave its status as Available (it will not cancel the hold)</li>
</ul>
</li>
 <li>If you have the system showing you fines at the time of checkin (FineNotifyAtCheckin) you will see a message telling you about the fine and providing you a link to the payment page for that patron</li>
</ul>

<h2>Receiving Holds</h2>

<p>When items that are on hold are checked in or out the system will remind the circulation librarian that the item is on hold and offer them options for managing the hold.</p>

<p>When you check in an item that has a hold on it the system will ask you to either confirm and transfer the item or just confirm the hold</p>

<p>Clicking the Confirm button will mark the item as on hold for the patron. If the item needs to be transferred the item will also be marked as in transit to the proper library. Clicking 'Ignore' will retain the hold, but allow you to check the item out to another patron. Choosing to confirm and print will present you with a printable page that you can slip inside the book with the necessary hold and/or transfer information.</p>

<p>Once confirmed the hold will show on the patron record and on the checkout screen under the 'Hold' tab.</p>

<p>The item record will also show that the item is on hold.</p>

<p>In some cases a patron may come in to pick up a hold for their partner (or someone else in their household). In this case you want to make sure that the hold is cancelled when you check the item out to someone else. When trying to check out an item that is already waiting for someone else you will be presented with a warning message.</p>

<p>From here you can check the item out to the patron at the desk and cancel the hold for the patron.</p>

<p><strong>See the full documentation for Checking In in the <a href="http://manual.koha-community.org/3.12/en/checkingin.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
