[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Catalog &rsaquo; Item details for [% title %] [% FOREACH subtitl IN subtitle %] [% subtitl.subfield %][% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
<style type="text/css">h3{padding-top: 1em; border-top: 2px solid #CCCCCC;}</style>
</head>
<body id="catalog_moredetail" class="catalog">
[% USE KohaDates %]
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a> &rsaquo; Item details for <i>[% title |html %] [% FOREACH subtitl IN subtitle %] [% subtitl.subfield|html %][% END %]</i></div>

<div id="doc3" class="yui-t2">

 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">
[% INCLUDE 'cat-toolbar.inc' %]

<div id="catalogue_detail_biblio">

 <h2>[% title |html %]</h2>
 [% IF ( subtitle ) %]<h4>[% FOREACH subtitl IN subtitle %] [% subtitl.subfield|html %][% END %]</h4>[% END %]
 [% IF ( author ) %]<h4>by [% author %]</h4>[% END %]
 <ol class="bibliodetails">
 <li><span class="label">Biblionumber:</span> [% biblionumber %]&nbsp;</li>
 [% UNLESS ( item_level_itypes ) %]
 <li><span class="label">Item type:</span> [% itemtypename %]&nbsp;</li>
 [% END %]
 [% IF ( rentalcharge ) %]<li><span class="label">Rental charge:</span>[% rentalcharge %]&nbsp;</li>[% END %]
 <li><span class="label">ISBN:</span> [% isbn %]&nbsp;</li>
 <li><span class="label">Publisher:</span>[% place %] [% publishercode |html %] [% publicationyear %]&nbsp;</li>
 [% IF ( volumeddesc ) %]<li><span class="label">Volume:</span> [% volumeddesc %]</li>[% END %]
 <li><span class="label">Physical details:</span> [% pages %] [% illus %] [% size %]&nbsp;</li>
 [% IF ( bnotes ) %]<li><span class="label">Notes:</span> [% bnotes %]</li>[% END %]
 <li><span class="label">No. of items:</span> [% count %]&nbsp;[% IF ( hiddencount ) %]total ([% showncount %] shown / [% hiddencount %] hidden) 
<a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=[% biblionumber %]&amp;showallitems=1">Show all items</a>[% END %]</li>
 </ol>

 <br clear="all" />
 [% IF ( ONLY_ONE ) %]
 <div class="dialog message">You are only viewing one item. <a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=[% biblionumber %]&amp;bi=[% biblioitemnumber %]#item[% itemnumber %]">View All</a></div>
 [% END %]
 [% FOREACH ITEM_DAT IN ITEM_DATA %]
 <div class="yui-g">
 <h3 id="item[% ITEM_DAT.itemnumber %]">Barcode [% ITEM_DAT.barcode %] [% IF ( ITEM_DAT.notforloantext ) %][% ITEM_DAT.notforloantext %] [% END %]</h3>
 <div class="listgroup"><h4>Item information [% IF ( CAN_user_editcatalogue_edit_catalogue ) %][% UNLESS ( ITEM_DAT.nomod ) %]
 [% IF ( CAN_user_editcatalogue_edit_items ) %]
 <a href="/cgi-bin/koha/cataloguing/additem.pl?op=edititem&amp;biblionumber=[% ITEM_DAT.biblionumber %]&amp;itemnumber=[% ITEM_DAT.itemnumber %]">[Edit Item]</a>
 [% END %]
 [% END %][% END %]</h4>
 <ol class="bibliodetails">
 <li><span class="label">Home library:</span> [% ITEM_DAT.homebranchname %]&nbsp;</li>
 [% IF ( item_level_itypes ) %]
 <li><span class="label">Item type:</span> [% ITEM_DAT.itype %]&nbsp;</li>
 [% END %]
 [% IF ( ITEM_DAT.collection ) %]<li><span class="label">Collection:</span> [% ITEM_DAT.collection %]</li> [% END %]
 <li><span class="label">Item callnumber:</span> [% ITEM_DAT.itemcallnumber %]&nbsp;</li>
 [% IF ( ITEM_DAT.displaycopy ) %]<li><span class="label">Copy / Vol :</span> [% ITEM_DAT.copyvol %]&nbsp;</li> [% END %]
 [% IF ( ITEM_DAT.replacementprice ) %]<li><span class="label">Replacement price:</span> [% ITEM_DAT.replacementprice %]&nbsp;</li> [% END %]
 [% IF ITEM_DAT.materials %]<li><span class="label">Materials specified:</span> [% ITEM_DAT.materials %] </li> [% END %]
 </ol></div>
 <div class="listgroup"><h4>Statuses [% IF ( ITEM_DAT.status_advisory ) %](
 [% IF ( ITEM_DAT.notforloantext ) %][% ITEM_DAT.notforloantext %] [% END %]
 [% IF ( ITEM_DAT.itemlost ) %]Lost[% END %]
 [% IF ( ITEM_DAT.damaged ) %]Damaged[% END %]
 [% IF ( ITEM_DAT.wthdrawn ) %]Withdrawn[% END %]
 )[% END %]</h4>

 <ol class="bibliodetails">
 <li><span class="label">Current location:</span> [% ITEM_DAT.holdingbranchname %]&nbsp;</li>
 <li><span class="label">Checkout status:</span>
 [% IF ( ITEM_DAT.issue ) %]Checked out to
 [% IF ( hidepatronname ) %]
 <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% ITEM_DAT.borrowernumber %]">[% ITEM_DAT.cardnumber %]</a>,
 [% ELSE %]
 <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% ITEM_DAT.borrowernumber %]">[% ITEM_DAT.borrowerfirstname %] [% ITEM_DAT.borrowersurname %]</a>,
 [% END %]
 [% IF ( ITEM_DAT.lastreneweddate ) %]
 Last renewed [% ITEM_DAT.lastreneweddate | $KohaDates %],
 [% END %]
 [% IF ( ITEM_DAT.datedue ) %]
 Due back on [% ITEM_DAT.datedue | $KohaDates %]
 [% ELSE %]
 Not checked out
 [% END %]
 [% END %]
 &nbsp;</li>
 <li><span class="label">Current renewals:</span> [% ITEM_DAT.renewals %]&nbsp;</li>
 [% IF ( ITEM_DAT.itemlostloop ) %]
 <li><span class="label">Lost status:</span>
 [% IF ( CAN_user_circulate ) %]
 <form action="updateitem.pl" method="post">
 <input type="hidden" name="biblionumber" value="[% ITEM_DAT.biblionumber %]" />
 <input type="hidden" name="biblioitemnumber" value="[% ITEM_DAT.biblioitemnumber %]" />
 <input type="hidden" name="itemnumber" value="[% ITEM_DAT.itemnumber %]" />
 <select name="itemlost" >
 <option value="">Choose</option>
 [% FOREACH itemlostloo IN ITEM_DAT.itemlostloop %]
 [% IF ( itemlostloo.selected ) %]
 <option value="[% itemlostloo.authorised_value %]" selected="selected">[% itemlostloo.lib %]</option>
 [% ELSE %]
 <option value="[% itemlostloo.authorised_value %]">[% itemlostloo.lib %]</option>
 [% END %]
 [% END %]
 </select>
 <input type="hidden" name="wthdrawn" value="[% ITEM_DAT.wthdrawn %]" />
 <input type="hidden" name="damaged" value="[% ITEM_DAT.damaged %]" />
 <input type="submit" name="submit" class="submit" value="Set Status" /></form>
 [% ELSE %]
 [% FOREACH itemlostloo IN ITEM_DAT.itemlostloop %]
 [% IF ( itemlostloo.selected ) %]
 [% itemlostloo.lib %]
 [% END %]
 [% END %]
 &nbsp;
 [% END %]
 </li>
 [% END %]
 [% IF ( ITEM_DAT.itemdamagedloop ) %]
 <li><span class="label">Damaged status:</span>
 [% IF ( CAN_user_circulate ) %]
 <form action="updateitem.pl" method="post">
 <input type="hidden" name="biblionumber" value="[% ITEM_DAT.biblionumber %]" />
 <input type="hidden" name="biblioitemnumber" value="[% ITEM_DAT.biblioitemnumber %]" />
 <input type="hidden" name="itemnumber" value="[% ITEM_DAT.itemnumber %]" />
 <select name="damaged" >
 <option value="">Choose</option>
 [% FOREACH itemdamagedloo IN ITEM_DAT.itemdamagedloop %]
 [% IF ( itemdamagedloo.selected ) %]
 <option value="[% itemdamagedloo.authorised_value %]" selected="selected">[% itemdamagedloo.lib %]</option>
 [% ELSE %]
 <option value="[% itemdamagedloo.authorised_value %]">[% itemdamagedloo.lib %]</option>
 [% END %]
 [% END %]
 </select>
 <input type="hidden" name="wthdrawn" value="[% ITEM_DAT.wthdrawn %]" />
 <input type="hidden" name="itemlost" value="[% ITEM_DAT.itemlost %]" />
 <input type="submit" name="submit" class="submit" value="Set Status" /></form>
 [% ELSE %]
 [% FOREACH itemdamagedloo IN ITEM_DAT.itemdamagedloop %]
 [% IF ( itemdamagedloo.selected ) %]
 [% itemdamagedloo.lib %]
 [% END %]
 [% END %]
 &nbsp;
 [% END %]
 </li>
 [% END %]
 <li><span class="label">Withdrawn?:</span>[% IF ( ITEM_DAT.wthdrawn ) %]Yes[% ELSE %]No[% END %]
 [% IF ( CAN_user_circulate ) %]
 <form action="updateitem.pl" method="post">
 <input type="hidden" name="biblionumber" value="[% ITEM_DAT.biblionumber %]" />
 <input type="hidden" name="biblioitemnumber" value="[% ITEM_DAT.biblioitemnumber %]" />
 <input type="hidden" name="itemnumber" value="[% ITEM_DAT.itemnumber %]" />
 <input type="hidden" name="itemlost" value="[% ITEM_DAT.itemlost %]" />
 <input type="hidden" name="damaged" value="[% ITEM_DAT.damaged %]" />

 [% IF ( ITEM_DAT.wthdrawn ) %]
 <input type="hidden" name="wthdrawn" value="0" />[% ELSE %]<input type="hidden" name="wthdrawn" value="1" />
 [% END %]
 [% IF ( ITEM_DAT.wthdrawn ) %]
 <input type="submit" name="submit" class="submit" value="Restore" />[% ELSE %]<input type="submit" name="submit" class="submit" value="Withdraw" />
 [% END %]
 </form>
 [% END %]
 </li>
 </ol></div>
 <div class="listgroup"><h4>History</h4>
 <ol class="bibliodetails">

 [% IF ITEM_DAT.basketno %]
 <li><span class="label">Order date:</span>
 [% IF ( CAN_user_acquisition_order_manage ) %]
 <a href="/cgi-bin/koha/acqui/basket.pl?basketno=[% ITEM_DAT.basketno %]">[% ITEM_DAT.orderdate | $KohaDates %]</a>
 [% ELSE %]
 [% ITEM_DAT.orderdate | $KohaDates %]
 [% END %]
 </li>
 <li><span class="label">Vendor:</span>
 [% ITEM_DAT.vendor %]
 </li>
 [% END %]

 [% IF ITEM_DAT.dateaccessioned %]
 <li><span class="label">Accession date:</span>
 [% IF ( CAN_user_acquisition_order_receive && ITEM_DAT.invoiceid ) %]
 <a href="/cgi-bin/koha/acqui/parcel.pl?invoiceid=[% ITEM_DAT.invoiceid %]">[% ITEM_DAT.dateaccessioned | $KohaDates %]</a>
 [% ELSE %]
 [% ITEM_DAT.dateaccessioned | $KohaDates %]
 [% END %]
 </li>
 [% END %]
 [% IF ( ITEM_DAT.invoicenumber ) %]
 <li><span class="label">Invoice number:</span>
 [% ITEM_DAT.invoicenumber %]
 </li>
 [% END %]

 <li><span class="label">Total checkouts:</span>[% IF ( ITEM_DAT.issues ) %][% ITEM_DAT.issues %][% ELSE %][% END %] (<a href="/cgi-bin/koha/circ/bookcount.pl?&amp;biblionumber=[% ITEM_DAT.biblionumber %]&amp;bi=[% ITEM_DAT.biblioitemnumber %]&amp;itm=[% ITEM_DAT.itemnumber %]">View item's checkout history</a>)</li>

 <li><span class="label">Last seen:</span>[% IF ( ITEM_DAT.datelastseen ) %][% ITEM_DAT.datelastseen | $KohaDates %] [%END %]&nbsp;</li>
 <li><span class="label">Last borrowed:</span>[% IF (ITEM_DAT.datelastborrowed ) %][% ITEM_DAT.datelastborrowed | $KohaDates %][% END %]&nbsp;</li>
 [% IF ( ITEM_DAT.card0 ) %]<li><span class="label">Last borrower:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% ITEM_DAT.borrower0 %]">[% ITEM_DAT.card0 %]</a>&nbsp;</li>[% END %]
 [% IF ( ITEM_DAT.card1 ) %]<li><span class="label">Previous borrower:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% ITEM_DAT.borrower1 %]">[% ITEM_DAT.card1 %]</a>&nbsp;</li>[% END %]
 [% IF ( ITEM_DAT.card2 ) %]<li><span class="label">Previous borrower:</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% ITEM_DAT.borrower2 %]">[% ITEM_DAT.card2 %]</a>&nbsp;</li>[% END %]
 [% IF ( ITEM_DAT.paidfor ) %]<li><span class="label">Paid for?:</span> [% ITEM_DAT.paidfor %]&nbsp;</li>[% END %]
 [% IF ( ITEM_DAT.enumchron ) %]<li><span class="label">Serial enumeration:</span> [% ITEM_DAT.enumchron %]&nbsp;</li>[% END %]
 <li><span class="label">Public note:</span>
 [% IF ( CAN_user_editcatalogue_edit_items ) %]
 <form class="inline" action="updateitem.pl" method="post"><input type="hidden" name="biblionumber" value="[% ITEM_DAT.biblionumber %]" />
 <input type="hidden" name="biblioitemnumber" value="[% ITEM_DAT.biblioitemnumber %]" /><input type="hidden" name="itemnumber" value="[% ITEM_DAT.itemnumber %]" />
 <textarea name="itemnotes" rows="2" cols="30">[% ITEM_DAT.itemnotes %]</textarea><input type="submit" name="submit" class="submit" value="Update" />
 </form>
 [% ELSE %]
 [% ITEM_DAT.itemnotes %]
 &nbsp;
 [% END %]
 </li>
 </ol>
 </div>
</div>
[% END %]

</div>

</div>
</div>
<div class="yui-b">
[% INCLUDE 'biblio-view-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
