[% INCLUDE 'doc-head-open.inc' %][% LibraryName %] &rsaquo; การยืมด้วยตนเอง</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="Koha [% Version %]" /> <!-- leave this for stats -->
<link rel="shortcut icon" href="[% themelang %]/includes/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="[% themelang %]/css/sco.css" />
[% IF ( SCOUserCSS ) %]<style type="text/css">[% SCOUserCSS %]</style>[% END %] [% IF ( SCOUserJS ) %]<script type="text/javascript">[% SCOUserJS %]</script>[% END %] </head>
<body>
<div id="doc" class="yui-t7">
 <div id="bd">
 <div class="yui-g">

<h1>วิธีใช้ระบบยืมด้วยตนเอง</h1>

[% IF ( SelfCheckHelpMessage ) %] <div id="selfcheckhelpmessage">
[% SelfCheckHelpMessage %] </div>
[% END %] <p>ถ้านี่เป็นครั้งแรกที่คุณใช้ระบบยืม-คืนด้วยตนเอง หรือถ้าระบบไม่ทำงานอย่างที่คุณคาดหวัง คุณอาจจะต้องอ้างถึงคู่มือแนะนำฉบับนี้เพื่อเริ่มต้นใช้งานระบบ</p>

<h3>ขั้นตอนที่หนึ่ง: ป้อน ID ผู้ใช้[% IF ( SelfCheckoutByLogin ) %]และรหัสผ่านของคุณ[% END %]</h3>
<p>ป้อน ID ผู้ใช้[% IF ( SelfCheckoutByLogin ) %]และรหัสผ่านของคุณ[% END %] แล้วคลิกปุ่ม 'ส่ง' (หรือกดแป้น Enter)</p>

<h3>ขั้นตอนที่สอง: สแกนบาร์โค้ดของแต่ละรายการทีละเล่ม</h3>
<p>สแกนแต่ละรายการและรอให้โหลดหน้าใหม่ก่อนที่จะสแกนรายการถัดไป รายการที่ยืมควรปรากฏในชั้นหนังสือที่คุณยืม ต้องคลิกปุ่ม 'ส่ง' ในกรณีที่คุณป้อนบาร์โค้ดด้วยตนเองเท่านั้น</p>

<h3>ขั้นตอนที่สาม: คลิกปุ่ม 'เสร็จสิ้น'</h3>
<p>ถ้าคุณไม่คลิกปุ่ม 'เสร็จสิ้น' เซสชันของคุณจะหมดเวลาโดยอัตโนมัติภายใน [% SelfCheckTimeout %] วินาที</p>

 <div class="button">
 <a href="javascript:history.go(-1)">กลับไปยังการยืมด้วยตนเอง</a>
 </div>

</div></div></div>
</body>
</html>

