[% INCLUDE 'help-top.inc' %] 

<h2>Patron permissions</h2>

<p>Patron Permissions are used to allow staff members access to the staff client.</p>

<p style="color: #990000">Important: In order for a staff member to log into the staff interface they must have (at the very least) 'catalogue' permissions which allow them to view the staff interface.</p>

<h3>Setting Patron Permissions</h3>

<p>To set patron permissions, you must first have a patron of the 'Staff' type open</p>

<ul>
 <li>On the patron record click More and choose Set Permissions to alter patron permissions</li>
 <li>You will be presented with a list of preferences, some of which can be expanded by clicking the plus sign to the left of the section title.</li>
</ul>

<h3>Patron Permissions Defined</h3>

<ul>
 <li>superlibrarian
<ul>
 <li>Access to all librarian functions
<ul>
 <li style="background-color: #ffe599;">Tip: With this selected there is no need to choose any other permissions</li>
</ul>
</li>
</ul>
</li>
 <li>circulate
<ul>
 <li>Check out and check in items</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>catalogue
<ul>
 <li><strong>Required for staff login.</strong> Staff access, allows viewing the catalogue in staff client
<ul>
 <li style="color: #990000">Important: Must be given to all staff members to allow them to login to the staff client</li>
</ul>
</li>
</ul>
</li>
 <li>parameters
<ul>
 <li>Manage Koha system settings (Administration panel)</li>
 <li>This secton can be expanded</li>
</ul>
</li>
 <li>borrowers
<ul>
 <li>Add or modify patrons</li>
</ul>
</li>
 <li>permissions
<ul>
 <li>Set user permissions</li>
</ul>
</li>
 <li>reserveforothers
<ul>
 <li>Place and modify holds for patrons</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>borrow
<ul>
 <li>Borrow books</li>
</ul>
</li>
 <li>editcatalogue
<ul>
 <li>Edit Catalog (Modify bibliographic/hodings data)</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>updatecharges
<ul>
 <li>Manage patrons fines and fees</li>
</ul>
</li>
 <li>acquisition
<ul>
 <li>Acquisition and/or suggestion management</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>management
<ul>
 <li>Set library management paraments (deprecated)
<ul>
 <li style="color: #990000">Important: This permission level no longer controls anything.</li>
</ul>
</li>
</ul>
</li>
 <li>tools
<ul>
 <li>Use all tools</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>editauthorities
<ul>
 <li>Edit Authorities</li>
</ul>
</li>
 <li>serials
<ul>
 <li>Manage serial subscriptions</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>reports
<ul>
 <li>Allow access to the reports module</li>
 <li>Reports found on the Circulation page are not controlled by this permission</li>
 <li>This section can be expanded</li>
</ul>
</li>
 <li>staffaccess
<ul>
 <li>Allow staff members to modify permissions for other staff members</li>
 <li style="color: #990000">Important: Requires the borrowers permission above</li>
</ul>
</li>
</ul>

<h4>Granular Circulate Permissions</h4>

<p>If the staff member has 'circulate' permissions they have the ability to perform all of these actions. If you would like to control circulation permissions on a more granular level choose from these options:</p>

<ul>
 <li>circulate_remaining_permissions
<ul>
 <li>Remaining circulation permissions</li>
 <li>All circulation rights except the ability to override renewals</li>
</ul>
</li>
 <li>overdues_report
<ul>
 <li>Execute overdue items report</li>
 <li>The permission to run the overdues reports found under Circulation</li>
</ul>
</li>
 <li>override_renewals
<ul>
 <li>Override blocked renewals</li>
 <li>Requires that the staff member also has circulate_remaining_permissions</li>
</ul>
</li>
</ul>

<h4>Granular Parameters Permissions</h4>

<p>If the staff member has 'parameters' permissions they have the ability to perform all of these actions. If you would like to control parameter permissions on a more granular level choose from these options:</p>

<ul>
 <li>manage_circ_rules
<ul>
 <li>Manage circulation rules</li>
 <li>The ability to access the Circulation and fines rules in the administration area</li>
</ul>
</li>
 <li>parameters_remaining_permissions
<ul>
 <li>Remaining system parameters permissions</li>
 <li>The ability to access all areas in Administration (other than the Circulation and fine rules)</li>
</ul>
</li>
</ul>

<h4>Granular Holds Permissions</h4>

<p>If the staff member has 'reserveforothers' permissions they have the ability to perform all of these actions. If you would like to control holds permissions on a more granular level choose from these options:</p>

<ul>
 <li>modify_holds_priority
<ul>
 <li>Modify holds priority</li>
 <li>Allow staff members to alter the holds priority (moving patrons up and down the queue)</li>
</ul>
</li>
 <li>place_holds
<ul>
 <li>Place holds for patrons</li>
</ul>
</li>
</ul>

<h4>Granular Cataloging Permissions</h4>

<p>If the staff member has 'editcatalogue' permissions they have the ability to perform all of these actions. If you would like to control cataloging permissions on a more granular level choose from these options:</p>

<ul>
 <li>edit_catalogue
<ul>
 <li>Edit catalog (Modify bibliographic/holdings data)</li>
 <li>Ability to access all cataloging functions via the Cataloging page</li>
</ul>
</li>
 <li>edit_items
<ul>
 <li>Edit items</li>
 <li>Ability to make edits to item/holdings records, but not bibliographic records</li>
</ul>
</li>
 <li>fast_cataloging
<ul>
 <li>Fast cataloging</li>
 <li>The ability to catalog using only the Fast Add Framework found on the Circulation page</li>
</ul>
</li>
</ul>

<h4>Granular Acquisitions Permissions</h4>

<p>If the staff member has 'acquisition' permissions they have the ability to perform all of these actions. If you would like to control acquisitions permissions on a more granular level choose from these options:</p>

<ul>
 <li>budget_add_del
<ul>
 <li>Add and delete budgets (but can't modify them)</li>
</ul>
</li>
 <li>budget_manage
<ul>
 <li>Manage budgets</li>
</ul>
</li>
 <li>budget_manage_all
<ul>
 <li>Manage all budgets</li>
</ul>
</li>
 <li>budget_modify
<ul>
 <li>Modify budget (can't create lines, but can modify existing ones)</li>
</ul>
</li>
 <li>contracts_manage
<ul>
 <li>Manage contracts</li>
</ul>
</li>
 <li>group_manage
<ul>
 <li>Manage orders and basket groups</li>
</ul>
</li>
 <li>order_manage
<ul>
 <li>Manage orders and baskets</li>
</ul>
</li>
 <li>order_receive
<ul>
 <li>Manage orders and baskets</li>
</ul>
</li>
 <li>period_manage
<ul>
 <li>Manage periods</li>
</ul>
</li>
 <li>planning_manage
<ul>
 <li>Manage budget planning</li>
</ul>
</li>
 <li>vendors_manage
<ul>
 <li>Manage vendors</li>
</ul>
</li>
</ul>

<h4>Granular Serials Permissions</h4>

<p>If the staff member has 'serials' permissions they have the ability to perform all of these actions. If you would like to control serials permissions on a more granular level choose from these options:</p>

<ul>
 <li>check_expiration
<ul>
 <li>Check the expiration of a serial</li>
</ul>
</li>
 <li>claim_serials
<ul>
 <li>Claim missing serials via the Claims section</li>
</ul>
</li>
 <li>create_subscription
<ul>
 <li>Create a new subscription</li>
</ul>
</li>
 <li>delete_subscription
<ul>
 <li>Delete an existing subscription</li>
</ul>
</li>
 <li>edit_subscription
<ul>
 <li>Edit an existing subscription</li>
 <li>This permission does not include the ability to delete or create a subscription</li>
</ul>
</li>
 <li>receive_serials
<ul>
 <li>Serials receiving</li>
 <li>Receive serials on existing subscriptions</li>
</ul>
</li>
 <li>renew_subscription
<ul>
 <li>Renew a subscription</li>
</ul>
</li>
 <li>routing
<ul>
 <li>Routing</li>
 <li>Manage routing lists</li>
</ul>
</li>
</ul>

<h4>Granular Tools Permissions</h4>

<p>If the staff member has 'tools' permissions they have the ability to access and use all items under the Tools menu. If you would like to control which tools staff members have access to on a more granular level choose from these options:</p>

<ul>
 <li>batch_upload_patron_images
<ul>
 <li>Upload patron images in batch or one at a time</li>
 <li>Access to the Image Upload Tool</li>
</ul>
</li>
 <li>delete_anonymize_patrons
<ul>
 <li>Delete old borrowers and anonymize circulation/reading history (deletes borrower reading history)</li>
 <li>Access to the Anonymize Patron Tool</li>
</ul>
</li>
 <li>edit_calendar
<ul>
 <li>Define days when the library is closed</li>
 <li>Access to the Calendar/Holidays Tool</li>
</ul>
</li>
 <li>edit_news
<ul>
 <li>Write news for the OPAC and staff interfaces</li>
 <li>Access to the News Tool</li>
</ul>
</li>
 <li>edit_notice_status_triggers
<ul>
 <li>Set notice/status triggers for overdue items</li>
 <li>Access to the Overdue Notice Status/Triggers Tool</li>
</ul>
</li>
 <li>edit_notices
<ul>
 <li>Define notices</li>
 <li>Access to the Notices Tool</li>
</ul>
</li>
 <li>export_catalog
<ul>
 <li>Export bibliographic, authorities and holdings data</li>
 <li>Access to the Export Data Tool</li>
</ul>
</li>
 <li>import_patrons
<ul>
 <li>Import patron data</li>
 <li>Access to the Import Patrons Tool</li>
</ul>
</li>
 <li>inventory
<ul>
 <li>Perform inventory (stocktaking) of your catalog</li>
 <li>Access to the Inventory Tool</li>
</ul>
</li>
 <li>items_batchdel
<ul>
 <li>Perform batch deletion of items</li>
 <li>Access to the Batch Item Deletion Tool</li>
</ul>
</li>
 <li>items_batchmod
<ul>
 <li>Perform batch modification of items</li>
 <li>Access to the Batch Item Modification Tool</li>
</ul>
</li>
 <li>label_creator
<ul>
 <li>Create printable labels and barcodes from catalog and patron data</li>
 <li>Access to the Label Creator and Quick Label Creator Tools</li>
</ul>
</li>
 <li>manage_csv_profiles
<ul>
 <li>Manage CSV export profiles</li>
 <li>Access to the CSV Profiles Tool</li>
</ul>
</li>
 <li>manage_staged_marc
<ul>
 <li>Managed staged MARC records, including completing and reversing imports</li>
 <li>Access to the Manage Staged MARC Records Tool</li>
</ul>
</li>
 <li>moderate_comments
<ul>
 <li>Moderate patron comments</li>
 <li>Access to the Comments Tool</li>
</ul>
</li>
 <li>moderate_tags
<ul>
 <li>Moderate patron tags</li>
 <li>Access to the Tags Tool</li>
</ul>
</li>
 <li>schedule_tasks
<ul>
 <li>Schedule tasks to run</li>
 <li>Access to the Task Scheduler Tool</li>
</ul>
</li>
 <li>stage_marc_import
<ul>
 <li>Stage MARC records into the reservoir</li>
 <li>Access to the Stage MARC Records Tool</li>
</ul>
</li>
 <li>upload_local_cover_images
<ul>
 <li>Upload local cover images</li>
 <li>Access to the Upload Local Cover Image Tool</li>
</ul>
</li>
 <li>view_system_logs
<ul>
 <li>Browse the system logs</li>
 <li>Access to the Log Viewer Tool</li>
</ul>
</li>
</ul>

<h4>Granular Reports Permissions</h4>

<p>If the staff member has 'reports' permissions they have the ability to perform all of these actions. If you would like to control reports permissions on a more granular level choose from these options:</p>

<ul>
 <li>create_reports
<ul>
 <li>Create SQL Reports</li>
 <li>The ability to create and edit but not run SQL reports</li>
</ul>
</li>
 <li>execute_reports
<ul>
 <li>Execute SQL Reports</li>
 <li>The ability to run but not create or edit SQL reports</li>
</ul>
</li>
</ul>

<p><strong>See the full documentation for Patron Permissions in the <a href="http://manual.koha-community.org/3.12/en/patronpermissions.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
