[% INCLUDE 'doc-head-open.inc' %]
[% INCLUDE 'greybox.inc' %]
<title>Koha &rsaquo; Catalog &rsaquo;
  [% IF ( unknownbiblionumber ) %]
    Unknown record
  [% ELSE %]
    Details for [% title |html %] [% FOREACH subtitl IN subtitle %] [% subtitl.subfield %][% END %]
  [% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
// http://www.oreillynet.com/pub/a/javascript/2003/10/21/amazonhacks.html
function verify_images() {
    $("#bookcoverimg img").each(function(i){
           if ((this.src.indexOf('images.amazon.com') >= 0) || (this.src.indexOf('g-images.amazon.com') >=0)) {
            w = this.width;
            h = this.height;
            if ((w == 1) || (h == 1)) {
                $("#bookcoverimg").remove();
                $(".yui-gb").attr("class","yui-g");
            } else if ((this.complete != null) && (!this.complete)) {
                $("#bookcoverimg").remove();
                $(".yui-gb").attr("class","yui-g");
            }
        }
        });
	$("#editions img").each(function(i){
           if ((this.src.indexOf('images.amazon.com') >= 0) || (this.src.indexOf('g-images.amazon.com') >=0)) {
            w = this.width;
            h = this.height;
            if ((w == 1) || (h == 1)) {
				this.src = 'http://g-images.amazon.com/images/G/01/x-site/icons/no-img-sm.gif';
            } else if ((this.complete != null) && (!this.complete)) {
				this.src = 'http://g-images.amazon.com/images/G/01/x-site/icons/no-img-sm.gif';
            }
        }
        });
}

    function removeLocalImage(imagenumber) {

        $.ajax({
            url: "/cgi-bin/koha/svc/cover_images?action=delete&biblionumber=" + [% biblionumber %] + "&imagenumber=" + imagenumber,
            success: function(data) {
                $(data).each( function(i) {
                    if ( this.deleted == 1 ) {
                        $('#imagenumber-' + this.imagenumber).remove();
                    }
                });
            },
            error: function(data) {
                alert(_("An error occurred on deleting this image"));
            }
        });

    }

    $(document).ready(function() {
        $('#bibliodetails').tabs();
        $('#search-form').focus();
        $('.thumbnails > li > a > span.remove').click(function() {
            var result = confirm(_("Are you sure you want to delete this cover image?"));

            if ( result == true ) {
                var imagenumber = $(this).parent().parent().attr('id').split('-')[1];
                removeLocalImage(imagenumber);
            }

            return false;
        });
    });

     [% IF ( AmazonCoverImages ) %]$(window).load(function() {
        verify_images();
     });[% END %]
//]]>
</script>
<link rel="stylesheet" type="text/css" href="[% themelang %]/css/datatables.css" />
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.dataTables.columnFilter.js"></script>
[% INCLUDE 'datatables-strings.inc' %]
<script type="text/javascript" src="[% themelang %]/js/datatables.js"></script>
<script type="text/javascript">
//<![CDATA[
    function activate_filters(id) {
        table = $("#" + id + " table");
        if (table.length == 1) {
            filters_row = table.find('thead tr.filters_row');
            if (table.find('thead tr.columnFilter').length == 0) {
                table.dataTable().columnFilter({
                    'sPlaceHolder': 'head:after'
                });
                filters_row.addClass('columnFilter');
            }
            filters_row.show();
        }

        $('#' + id + '_activate_filters')
            .text(_("Deactivate filters"))
            .unbind('click')
            .click(function() {
                deactivate_filters(id);
                return false;
            });
    }

    function deactivate_filters(id) {
        filters_row = $("#" + id + " table").find('thead tr.filters_row');

        filters_row.find('input[type="text"]')
            .val('')            // Empty filter text boxes
            .trigger('keyup')   // Filter (display all rows)
            .trigger('blur');   // Reset value to the column name
        filters_row.hide();

        $('#' + id + '_activate_filters')
            .text(_("Activate filters"))
            .unbind('click')
            .click(function() {
                activate_filters(id);
                return false;
            });
    }

    $(document).ready(function() {
        var ids = ['holdings', 'otherholdings'];
        for (var i in ids) {
            var id = ids[i];
            table = $('#' + id + ' table');

            // Duplicate the table header row for columnFilter
            thead_row = table.find('thead tr');
            clone = thead_row.clone().addClass('filters_row');
            thead_row.before(clone);

            // Enable sorting
            table.dataTable($.extend(true, {}, dataTablesDefaults, {
                'sDom': 't',
                'bPaginate': false,
                'bAutoWidth': false
            }));

            // Show a link to activate filtering
            link = $('<a>')
                .attr('href', '#')
                .attr('id', id + '_activate_filters');
            table.before(link);
            deactivate_filters(id);
        }
    });
//]]>
</script>
</head>

<body id="catalog_detail" class="catalog">

[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a>  &rsaquo;
  [% IF ( unknownbiblionumber ) %]
    Unknown record
  [% ELSE %]
    Details for <i>[% title |html %]  [% FOREACH subtitl IN subtitle %] [% subtitl.subfield %][% END %]</i>
  [% END %]
</div>

<div id="doc3" class="yui-t2">

[% IF ( unknownbiblionumber ) %]
  <div class="dialog message">The record you requested does not exist ([% biblionumber %]).</div>
[% ELSE %]
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">

[% INCLUDE 'cat-toolbar.inc' %]
    [% IF ( ocoins ) %]
        <!-- COinS / OpenURL -->
        <span class="Z3988" title="[% ocoins %]"></span>
    [% END %]

    [% IF ( AmazonCoverImages ) %]
        [% IF ( XSLTDetailsDisplay ) %]
            <div class="yui-gc">
            <div id="catalogue_detail_biblio" class="yui-u first">
        [% ELSE %]
            <div class="yui-gb">
            <div id="catalogue_detail_biblio" class="yui-u first">
        [% END %]
    [% ELSE %]
        [% IF ( XSLTDetailsDisplay ) %]
            <div class="yui-g">
            <div id="catalogue_detail_biblio">
        [% ELSE %]
            <div class="yui-g">
            <div id="catalogue_detail_biblio" class="yui-u first">
        [% END %]
    [% END %]

    [% IF ( XSLTDetailsDisplay ) %]
        [% XSLTBloc %]

        [% IF ( GetShelves ) %]
            <span class="results_summary"><span class="label">Lists that include this title: </span>
            [% FOREACH GetShelve IN GetShelves %]
                <a href="/cgi-bin/koha/virtualshelves/shelves.pl?viewshelf=[% GetShelve.shelfnumber %]">[% GetShelve.shelfname %]</a>
                [% IF ( loop.last ) %][% ELSE %]|[% END %]
            [% END %]
            </span>
        [% END %]
        [% IF ( TagsEnabled &&  TagsShowOnDetail &&  TagLoop ) %]
                <span class="results_summary"><span class="label">Tags:</span>
                    [% FOREACH TagLoo IN TagLoop %]
                        [% IF ( CAN_user_tools_moderate_tags ) %]
                        <a href="/cgi-bin/koha/tags/list.pl?tag=[% TagLoo.term |url %]">[% TagLoo.term |html %]</a>
                        [% ELSE %]
                        [% TagLoo.term |html %]
                        [% END %]
                        <span class="weight">([% TagLoo.weight_total %])</span>[% IF ( loop.last ) %][% ELSE %], [% END %]
                    [% END %]
                    </span>
        [% END %]
        <span id="catalogue_detail_marc_preview" class="results_summary"><span class="label">MARC Preview:</span> <a href="/cgi-bin/koha/catalogue/showmarc.pl?id=[% biblionumber %]" title="MARC" rel="gb_page_center[600,500]">Show</a></span>
        [% IF ( holdcount ) %]<span class="results_summary"><span class="label">Holds:</span> <span class="holdcount"><a href="/cgi-bin/koha/reserve/request.pl?biblionumber=[% biblionumber %]">[% holdcount %]</a></span></span>[% ELSE %][% END %]

        [% IF ( AmazonCoverImages ) %]</div><div class="yui-u" id="bookcoverimg">
        <a href="http://www.amazon[% AmazonTld %]/gp/reader/[% normalized_isbn %]/ref=sib_dp_pt/002-7879865-0184864#reader-link"><img border="0" src="http://images.amazon.com/images/P/[% normalized_isbn %].01.MZZZZZZZ.jpg" alt="" /></a>[% END %]
    [% ELSE %]

    <h3>[% title |html %]</h3>
    [% FOREACH subtitl IN subtitle %]
    	<h4>[% subtitl.subfield %]</h4>
    [% END %]
            [% UNLESS ( item_level_itypes ) %]<img src="[% imageurl %]" alt="[% description %]" title="[% description %]">[% END %]
            [% IF ( unititle ) %]<p>[% unititle |html %]</p>[% END %]
            [% IF ( author ) %]<p>By <a href="/cgi-bin/koha/catalogue/search.pl?q=au:[% author |url %]">[% author %]</a></p>[% END %]
        <ul>
        [% IF ( MARCAUTHORS ) %]
            <li><strong>Additional authors:</strong><ul>
            [% FOREACH MARCAUTHOR IN MARCAUTHORS %]
                <li>[% FOREACH MARCAUTHOR_SUBFIELDS_LOO IN MARCAUTHOR.MARCAUTHOR_SUBFIELDS_LOOP %][% MARCAUTHOR_SUBFIELDS_LOO.separator %]<a title="‡[% MARCAUTHOR_SUBFIELDS_LOO.code %] [% MARCAUTHOR_SUBFIELDS_LOO.value |url %]" href="/cgi-bin/koha/catalogue/search.pl?q=[% FOREACH link_loo IN MARCAUTHOR_SUBFIELDS_LOO.link_loop %][% link_loo.operator |url %][% link_loo.limit %]:[% link_loo.link |url %][% END %]">[% MARCAUTHOR_SUBFIELDS_LOO.value %]</a>[% END %]</li>
                [% END %]

        </ul>
            </li>
        [% END %]
[% IF ( MARCSERIES ) %]
		<li><strong>Series: </strong><ul>[% FOREACH MARCSERIE IN MARCSERIES %]
		<li>[% FOREACH MARCSERIES_SUBFIELDS_LOO IN MARCSERIE.MARCSERIES_SUBFIELDS_LOOP %] [% IF ( MARCSERIES_SUBFIELDS_LOO.value ) %]<a href="/cgi-bin/koha/catalogue/search.pl?q=se:[% MARCSERIES_SUBFIELDS_LOO.value |url %]">[% MARCSERIES_SUBFIELDS_LOO.value %]</a>[% END %][% IF ( MARCSERIES_SUBFIELDS_LOO.volumenum ) %]. [% MARCSERIES_SUBFIELDS_LOO.volumenum %][% END %][% END %]</li> 
		[% END %]
		</ul>
		</li>
[% END %]
        [% IF ( publishercode ) %]
    <li><strong>Published by:</strong>
        <a href="/cgi-bin/koha/catalogue/search.pl?q=pb:[% publishercode |url %]">
            [% publishercode |html %]
        </a> [% IF ( place ) %]([% place %])[% END %] [% IF ( publicationyear ) %], [% publicationyear %][% END %] [% IF ( editionstatement ) %][% editionstatement %][% END %] [% IF ( editionresponsability ) %][% editionresponsability %][% END %]
    </li>
    [% END %]
        <li><strong>Description:</strong>
                [% IF ( pages ) %] [% END %][% pages %] [% IF ( illus ) %][% illus %][% END %]
                [% IF ( size ) %][% size %][% END %]
        </li>
[% IF ( MARCURLS ) %]<li>
    
    <strong>Online resources:</strong>
    <ul>    [% FOREACH MARCurl IN MARCURLS %]
		<li>[% IF ( MARCurl.part ) %][% MARCurl.part %]
			<br />[% END %] 
		<!-- here you might do a tmpl_if name="toc" and use greybox or equivalent for table of contents -->
		<a href="[% MARCurl.MARCURL %]" title="[% MARCurl.MARCURL %]">[% MARCurl.linktext %]</a>
			[% IF ( MARCurl.notes ) %]<ul>[% FOREACH note IN MARCurl.notes %]<li>[% note.note %]</li>[% END %]</ul>[% END %]</li>
            [% END %]</ul>
</li>
    [% END %]
    
    [% IF ( OpacUrl ) %]
        <li><strong>OPAC view:</strong>
    	<a href="http://[% OpacUrl %]/cgi-bin/koha/opac-detail.pl?biblionumber=[% biblionumber %]" target="_blank">Open in new window</a>
		</li>
	[% END %]
        <li id="catalogue_detail_marc_preview">
            <strong>MARC Preview:</strong>
            <a href="/cgi-bin/koha/catalogue/showmarc.pl?id=[% biblionumber %]" title="MARC" rel="gb_page_center[600,500]">Show</a>
        </li>
        </ul>
        </div>
       
[% IF ( AmazonCoverImages ) %]<div class="yui-u" id="bookcoverimg">
<a href="http://www.amazon[% AmazonTld %]/gp/reader/[% normalized_isbn %]/ref=sib_dp_pt/002-7879865-0184864#reader-link"><img border="0" src="http://images.amazon.com/images/P/[% normalized_isbn %].01.MZZZZZZZ.jpg" alt="" /></a></div>[% END %]
        
        <div class="yui-u" style="margin-top: 1em;">
        <ul>
        [% IF ( MARCISBNS ) %]
            <li><strong>ISBN:</strong><ul>[% FOREACH MARCISBN IN MARCISBNS %]<li>[% MARCISBN.marcisbn %]</li>[% END %]</ul></li>
        [% ELSE %]
            [% IF ( normalized_isbn ) %]
                <li><strong>ISBN:</strong> [% normalized_isbn %]</li>
            [% END %]
        [% END %]
        [% IF ( issn ) %]
            <li><strong>ISSN:</strong>[% issn %]</li>
        [% END %]
        [% IF ( collectiontitle ) %]
            <li><strong>Collection: </strong>
                [% collectiontitle %] [% IF ( collectionvolume ) %], [% collectionvolume %][% END %][% IF ( collectionissn ) %] (<strong>ISSN:</strong> [% collectionissn %])[% END %]
            </li>
        [% END %]
        [% IF ( MARCSUBJCTS ) %]
            <li><strong>Subjects:</strong> 
            <ul>
                [% FOREACH MARCSUBJCT IN MARCSUBJCTS %]
                <li>[% FOREACH MARCSUBJECT_SUBFIELDS_LOO IN MARCSUBJCT.MARCSUBJECT_SUBFIELDS_LOOP %] [% MARCSUBJECT_SUBFIELDS_LOO.separator %] <a title="‡[% MARCSUBJECT_SUBFIELDS_LOO.code %] [% MARCSUBJECT_SUBFIELDS_LOO.value %]" href="/cgi-bin/koha/catalogue/search.pl?q=[% FOREACH link_loo IN MARCSUBJECT_SUBFIELDS_LOO.link_loop %][% link_loo.operator |url %][% link_loo.limit %]:[% link_loo.link |url %][% END %]">[% MARCSUBJECT_SUBFIELDS_LOO.value |html %]</a>[% END %]</li>
                [% END %]
                </ul>
            </li>
        [% END %]
        [% IF ( copyrightdate ) %]
            <li><strong>Copyright:</strong> [% copyrightdate %]</li>
        [% END %]
     
        [% IF ( classification ) %]
            <li><strong>Classification:</strong> [% subclass %][% classification %]</li>
        [% END %]
        [% IF ( dewey ) %]
            <li><strong>Dewey:</strong> [% dewey %]</li>
        [% END %]
        [% IF ( urlS ) %]
            <li><strong>url:</strong> 
                [% FOREACH url IN urlS %]
                    <a href="[% url.url %]">[% url.url %]</a>
                [% END %]
            </li>
        [% END %]
        <!--This grabs all of the lists a bib record appears in -->
        [% IF ( GetShelves ) %]
	        <li><strong>Lists that include this title: </strong>
	        <ul>
	        [% FOREACH GetShelve IN GetShelves %]
		        <li><a href="/cgi-bin/koha/virtualshelves/shelves.pl?viewshelf=[% GetShelve.shelfnumber %]">[% GetShelve.shelfname %]</a></li>
	        [% END %]
	        </ul>
	        </li>
        [% END %]
        [% IF ( TagsEnabled &&  TagsShowOnDetail &&  TagLoop ) %]
                <li><strong>Tags:</strong>
                    <ul id="tagslist">
                    [% FOREACH TagLoo IN TagLoop %]
                        <li>
                        [% IF ( CAN_user_tools_moderate_tags ) %]
                        <a href="/cgi-bin/koha/tags/list.pl?tag=[% TagLoo.term |url %]">[% TagLoo.term |html %]</a>
                        [% ELSE %]
                        [% TagLoo.term |html %]
                        [% END %]
                        <span class="weight">([% TagLoo.weight_total %])</span>[% IF ( loop.last ) %][% ELSE %], [% END %]</li>
                    [% END %]
                    </ul></li>
        [% END %]
            [% IF ( holdcount ) %]<li><strong>Holds:</strong> <span class="holdcount"><a href="/cgi-bin/koha/reserve/request.pl?biblionumber=[% biblionumber %]">[% holdcount %]</a></span></li>[% ELSE %][% END %]
        </ul>
		[% END %]

</div>
</div>
<div id="bibliodetails" class="toptabs">

<ul>
    [% IF (SeparateHoldings) %]
        <li><a href="#holdings">[% LoginBranchname %] holdings</a></li>
        <li><a href="#otherholdings">Other holdings</a></li>
    [% ELSE %]
        <li><a href="#holdings">Holdings</a></li>
    [% END %]
[% IF ( MARCNOTES || notes ) %]<li><a href="#description">Descriptions</a></li>[% END %]
[% IF ( subscriptionsnumber ) %]<li><a href="#subscriptions">Subscriptions</a></li>[% END %]
[% IF ( FRBRizeEditions ) %][% IF ( XISBNS ) %]<li><a href="#editions">Editions</a></li>[% END %][% END %]
[% IF ( LocalCoverImages ) %][% IF ( localimages || CAN_user_tools_upload_local_cover_images ) %]<li><a href="#images">Images</a></li>[% END %][% END %]
[% IF ( HTML5MediaEnabled ) %][% IF ( HTML5MediaSets ) %]<li><a href="#html5media">Play media</a></li>[% END %][% END %]
</ul>

[% BLOCK items_table %]
    <table>
        <thead>
            <tr>
                [% IF ( item_level_itypes ) %]<th>Item type</th>[% END %]
                <th>Current location</th>
                <th>Home library</th>
                [% IF ( itemdata_ccode ) %]<th>Collection</th>[% END %]
                <th>Call number</th>
                <th>Status</th>
                <th>Last seen</th>
                <th>Barcode</th>
                [% IF ( volinfo ) %]<th>Publication details</th>[% END %]
                [% IF ( itemdata_uri ) %]<th>url</th>[% END %]
                [% IF ( itemdata_copynumber ) %]<th>Copy no.</th>[% END %]
                [% IF materials %]<th>Materials specified</th>[% END %]
                [% IF ( itemdata_itemnotes ) %]<th>Public notes</th>[% END %]
                [% IF ( SpineLabelShowPrintOnBibDetails ) %]<th>Spine label</th>[% END %]
                [% IF ( hostrecords ) %]<th>Host records</th>[% END %]
                [% IF ( analyze ) %]<th>Used in</th><th></th>[% END %]
            </tr>
        </thead>
        <tbody>
            [% FOREACH item IN items %]
                <tr>
                    [% IF ( item_level_itypes ) %]
                        <td class="itype">
                            [% IF !noItemTypeImages && item.imageurl %]
                                <img src="[% item.imageurl %]" alt="[% item.description %]" title="[% item.description %]" />
                            [% END %]
                            [% item.description %]
                        </td>
                    [% END %]
                    <td class="location">[% UNLESS ( singlebranchmode ) %][% item.branchname %] [% END %]</td>
                    <td class="homebranch">[% item.homebranch %]<span class="shelvingloc">[% item.location %]</span> </td>
                    [% IF ( itemdata_ccode ) %]<td>[% item.ccode %]</td>[% END %]
                    <td class="itemcallnumber">[% IF ( item.itemcallnumber ) %] [% item.itemcallnumber %][% END %]</td>
                    <td class="status">

                        [% IF ( item.datedue ) %]
                            <span class="datedue">Checked out
                                [% UNLESS ( item.NOTSAMEBRANCH ) %]
                                    to <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% item.borrowernumber %]">
                                        [% IF ( item.hidepatronname ) %]
                                            [% item.cardnumber %]
                                        [% ELSE %]
                                            [% item.firstname %] [% item.surname %]
                                        [% END %]
                                    </a>
                                [% END %]
                                : due [% item.datedue %]
                            </span>
                        [% ELSIF ( item.transfertwhen ) %]
                            <span class="intransit">In transit from [% item.transfertfrom %] to [% item.transfertto %] since [% item.transfertwhen %]</span>
                        [% END %]

                        [% IF ( item.itemlost ) %]
                            [% IF ( item.itemlostloop ) %]
                                [% FOREACH itemlostloo IN item.itemlostloop %]
                                    [% IF ( itemlostloo.selected ) %]
                                        <span class="lost">[% itemlostloo.lib %]</span>
                                    [% END %]
                                [% END %]
                            [% ELSE %]
                                <span class="lost">Unavailable (lost or missing)</span>
                            [% END %]
                        [% END %]

                        [% IF ( item.wthdrawn ) %]
                            <span class="wdn">Withdrawn</span>
                        [% END %]

                        [% IF ( item.damaged ) %]
                            [% IF ( item.itemdamagedloop ) %]
                                [% FOREACH itemdamagedloo IN item.itemdamagedloop %]
                                    [% IF ( itemdamagedloo.selected ) %]
                                        <span class="dmg">[% itemdamagedloo.lib %]</span>
                                    [% END %]
                                [% END %]
                            [% ELSE %]
                                <span class="dmg">Damaged</span>
                            [% END %]
                        [% END %]

                        [% IF ( item.itemnotforloan ) %]
                            Not for loan
                            [% IF ( item.notforloanvalue ) %]
                                ([% item.notforloanvalue %])
                            [% END %]
                        [% END %]

                        [% IF ( item.reservedate ) %]
                            [% IF ( item.waitingdate ) %]
                                Waiting
                            [% ELSE %]
                                Item-level hold
                            [% END %]
                            [% IF ( canreservefromotherbranches ) %]
                                for <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% item.ReservedForBorrowernumber %]">
                                    [% IF ( item.hidepatronname ) %]
                                        [% item.Reservedcardnumber %]
                                    [% ELSE %]
                                        [% item.ReservedForFirstname %] [% item.ReservedForSurname %]
                                    [% END %]
                                </a>
                            [% END %]
                            [% IF ( item.waitingdate ) %]
                                at[% ELSE %]for delivery at
                            [% END %]
                            [% item.ExpectedAtLibrary %]
                            [% IF ( item.waitingdate ) %]
                                since [% item.waitingdate %]
                            [% ELSE %]
                                [% IF ( item.reservedate ) %]
                                    (placed [% item.reservedate %])
                                [% END %]
                            [% END %]
                        [% END %]
                        [% UNLESS ( item.itemnotforloan or item.onloan or item.itemlost or item.wthdrawn or item.damaged or item.transfertwhen or item.reservedate ) %]
                            Available
                        [% END %]

                        [% IF ( item.restricted ) %]
                            <span class="restricted">([% item.restricted %])</span>
                        [% END %]

                    </td>
                    <td class="datelastseen">[% item.datelastseen %]</td>
                    <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?type=[% item.type %]&amp;itemnumber=[% item.itemnumber %]&amp;biblionumber=[% item.biblionumber %]&amp;bi=[% item.biblioitemnumber %]#item[% item.itemnumber %]">[% item.barcode %]</a></td>
                    [% IF ( volinfo ) %]
                        <td class="enumchron">
                            [% IF ( itemdata_enumchron ) %]
                                [% IF ( item.enumchron ) %]
                                    [% item.enumchron %]
                                    [% IF ( item.serialseq ) %] -- [% END %]
                                [% END %]
                                [% item.serialseq %]
                                [% IF ( item.publisheddate ) %] ([% item.publisheddate %])[% END %]
                            [% END %]
                        </td>
                    [% END %]
                    [% IF ( itemdata_uri ) %]
                        <td class="uri"><a href="[% item.uri %]">[% item.uri %]</a></td>
                    [% END %]
                    [% IF ( itemdata_copynumber ) %]
                        <td class="copynumber">[% item.copynumber %]</td>
                    [% END %]
                    [% IF materials %]
                        <td class="materials"> [% item.materials %] </td>
                    [% END %]
                    [% IF ( itemdata_itemnotes ) %]
                        <td><div class="itemnotes">[% item.itemnotes %]</div></td>
                    [% END %]
                    [% IF ( SpineLabelShowPrintOnBibDetails ) %]
                        <td><a href="/cgi-bin/koha/labels/spinelabel-print.pl?barcode=[% item.barcode %]" >Print label</a></td>
                    [% END %]
                    [% IF ( hostrecords ) %]
                        <td>[% IF ( item.hostbiblionumber) %]<a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% item.hostbiblionumber %]" >[% item.hosttitle %]</a>[% END %]</td>
                    [% END %]
                    [% IF ( analyze ) %]
                        <td>
                            [% IF ( item.countanalytics ) %]
                                <a href="/cgi-bin/koha/catalogue/search.pl?idx=hi&amp;q=[% item.itemnumber %]">[% item.countanalytics %] analytics</a>
                            [% END %]
                        </td>
                    [% END %]
                    [% IF ( analyze ) %]
                        <td><a href="/cgi-bin/koha/cataloguing/addbiblio.pl?hostbiblionumber=[% item.biblionumber %]&amp;hostitemnumber=[% item.itemnumber %]">Create analytics</a></td>
                    [% END %]

                </tr>
            [% END %]
        </tbody>
    </table>
[% END %][%# end of block items_table %]

<div id="holdings">
[% IF ( count ) %]
    [% IF ( showncount ) %]
        [% PROCESS items_table items=itemloop %]
        [% END %]
                [% IF ( hiddencount ) %]
                   <p><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% biblionumber %]&amp;showallitems=1">Show all items ([% hiddencount %] hidden)</a>
                [% END %] 		
		[% IF ( debug_display ) %]
		<br /><br />
		<table>
			<tr><td>itemdata_enumchron</td><td>[% itemdata_enumchron %]</td></tr>
			<tr><td>itemdata_copynumber</td><td>[% itemdata_copynumber %]</td></tr>
			<tr><td>serial</td><td>[% serial %]</td></tr>
		</table>
                [% END %]
[% ELSE %]
    [% IF ( ALTERNATEHOLDINGS ) %]
    [% FOREACH ALTERNATEHOLDING IN ALTERNATEHOLDINGS %]
        <div id="alternateholdings"><span class="holdings_label">Holdings:</span> [% ALTERNATEHOLDING.holding %]</div>
    [% END %]
    [% ELSE %]
    <div id="noitems">No physical items for this record</div>
    [% END %]
[% END %]
    </div>

[% IF (SeparateHoldings) %]
    <div id="otherholdings">
        [% IF (otheritemloop.size) %]
            [% PROCESS items_table items=otheritemloop %]
        [% ELSE %]
            No other items.
        [% END %]
    </div>
[% END %]

[% IF ( MARCNOTES || notes ) %]

<div id="description">
<div class="content_set">

[% IF ( MARCNOTES ) %]
    [% FOREACH MARCNOTE IN MARCNOTES %]
    <p>[% MARCNOTE.marcnote FILTER html_line_break %]</p>
    [% END %]
    [% ELSE %]
    [% IF ( notes ) %]
    <p>[% notes %]</p>
    [% END %]
[% END %]
</div>
</div>

[% END %]

[% IF ( subscriptionsnumber ) %]
<div id="subscriptions">
<div class="yui-g">
<div id="catalogue_detail_subscriptions">
    <h2>This is a serial subscription</h2>
    <p> (There are [% subscriptionsnumber %] subscriptions associated with this title).</p> 
    [% FOREACH subscription IN subscriptions %]
	    [% IF ( subscription.branchname ) %]<h3>At library: [% subscription.branchname %]</h3>[% ELSE %]
	    [% IF ( subscription.branchcode ) %]<h3>At library: [% subscription.branchcode %]</h3>[% END %][% END %]
            [% IF ( subscription.closed ) %]<p>This subscription is closed.</p>[% END %]
            [% IF ( subscription.callnumber ) %]<p>Callnumber: [% subscription.callnumber %] </p>[% END %]
            [% IF ( subscription.subscriptionnotes ) %]<p>[% subscription.subscriptionnotes FILTER html_line_break %] </p>[% END %]
            [% IF ( subscription.missinglist ) %]<p>Missing issues: [% subscription.missinglist %] </p>[% END %]
            [% IF ( subscription.librariannote ) %]<p>([% subscription.librariannote %])</p>[% END %]
            [% IF ( subscription.latestserials ) %]
            <p> The [% subscription.staffdisplaycount %] latest issues related to this subscription:</p>
            <table>
                <tr>
                    <th>Issue #</th>
                    <th>Date arrived</th>
                    <th>Date published</th>
                    <th>Status</th>
                    <th>Note</th>
                </tr>
            [% FOREACH latestserial IN subscription.latestserials %]
                <tr>
                    <td>[% latestserial.serialseq %]</td>
                    <td>[% latestserial.planneddate %]</td>
                    <td>[% latestserial.publisheddate%]</td>
                    <td>
                      [% IF ( latestserial.status1 ) %]Expected[% END %]
                      [% IF ( latestserial.status2 ) %]Arrived[% END %]
                      [% IF ( latestserial.status3 ) %]Late[% END %]
                      [% IF ( latestserial.status4 ) %]Missing[% END %]
                      [% IF ( latestserial.status5 ) %]Not issued[% END %]
                      [% IF ( latestserial.status6 ) %]Delete[% END %]
                      [% IF ( latestserial.status7 ) %]Claimed[% END %]
                      [% IF ( latestserial.status8 ) %]Stopped[% END %]
                    </td>
                    <td>[% latestserial.notes %]</td>
                </tr>
            [% END %]
            </table>
            [% END %]
            <a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=[% subscription.subscriptionid %]">Subscription details</a>
    [% END %]
</div>
</div>
</div>
[% END %]

[% IF ( FRBRizeEditions ) %][% IF ( XISBNS ) %]
<div id="editions"><h4>Editions</h4>
<table>
[% FOREACH XISBN IN XISBNS %]<tr>[% IF ( AmazonCoverImages ) %]<td><a href="http://www.amazon.com/gp/reader/[% XISBN.normalized_isbn %]/ref=sib_dp_pt/002-7879865-0184864#reader-link"><img src="http://images.amazon.com/images/P/[% XISBN.normalized_isbn %].01._AA75_PU_PU-5_.jpg" /></a></td>[% END %]
[% UNLESS ( item_level_itypes ) %]<td>[% IF ( noItemTypeImages ) %][% XISBN.description %][% ELSE %]<img src="[% XISBN.imageurl %]" alt="[% XISBN.description %]" title="[% XISBN.description %]">[% END %]</td>[% END %]
<td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% XISBN.biblionumber %]">[% XISBN.title |html %]</a> by [% XISBN.author %] &copy;[% XISBN.copyrightdate %]
  [% IF ( XISBN.publishercode ) %]
[% XISBN.publishercode %] [% IF ( XISBN.place ) %]([% XISBN.place %])[% END %] [% IF ( XISBN.publicationyear ) %], [% XISBN.publicationyear %][% END %] [% IF ( XISBN.editionstatement ) %][% XISBN.editionstatement %][% END %] [% IF ( XISBN.editionresponsability ) %][% XISBN.editionresponsability %][% END %]
    [% END %]
                [% IF ( XISBN.pages ) %] [% END %][% XISBN.pages %] [% IF ( XISBN.illus ) %][% XISBN.illus %][% END %]
                [% IF ( XISBN.size ) %], [% END %][% XISBN.size %]
</td>

[% END %]
</table></div>[% END %]
[% END %]

[% IF ( LocalCoverImages ) %]
<div id="images">
[% IF ( localimages.0 ) %]
    <p>Click on an image to view it in the image viewer</p>
    <ul class="thumbnails">
[% FOREACH image IN localimages %]
    [% IF image %]
        <li id="imagenumber-[% image %]">
            <a class="thumbnail" href="/cgi-bin/koha/catalogue/imageviewer.pl?biblionumber=[% biblionumber %]&amp;imagenumber=[% image %]">
                <img alt="remove this image" src="/cgi-bin/koha/catalogue/image.pl?thumbnail=1&amp;imagenumber=[% image %]" />
                [% IF CAN_user_tools_upload_local_cover_images %]
                  <span class="remove" title="remove this image">Delete image</span>
                [% END %]
            </a>
        </li>
    [% END %]
[% END %]
    </ul>
[% ELSE %]
[% IF ( CAN_user_tools_upload_local_cover_images ) %]
    <p>No images have been uploaded for this bibliographic record yet. Please <a href='/cgi-bin/koha/tools/upload-cover-image.pl?biblionumber=[% biblionumber %]&amp;filetype=image'>upload</a> one.</p>
[% END %]
[% END %]
</div>
[% END %]

[% IF ( HTML5MediaEnabled ) %]
<div id="html5media">
        <p>
        <[% HTML5MediaParent %] controls preload=none>
          [% FOREACH HTML5MediaSet IN HTML5MediaSets %]
            <[% HTML5MediaSet.child  %] src="[% HTML5MediaSet.srcblock %]"[% HTML5MediaSet.typeblock %] />
          [% END %]
            [[% HTML5MediaParent %] tag not supported by your browser.]
        </[% HTML5MediaParent %]>
        </p>
</div>
[% END %]


</div><!-- /bibliodetails -->

<div class="yui-g" id="export" style="margin-top: 1em;">
<form method="get" action="/cgi-bin/koha/catalogue/export.pl">
<table>  <tr>
      <th>Save Record</th>   </tr>
    <tr><td> Select download format:    <select name="format">
        <option value="mods">MODS (XML)</option>
        <option value="dc">Dublin Core (XML)</option>
        <option value="marcxml">MARCXML</option>
        <option value="marc8">MARC (non-Unicode/MARC-8)</option>
        <option value="utf8">MARC (Unicode/UTF-8)</option>    </select>
        <input type="submit" name="save" value="Download Record" /></td>
  </tr>
  <tr><td>
    <input type="hidden" name="op" value="export" /><input type="hidden" name="bib" value="[% biblionumber %]" />
  </td></tr>
</table>
</form>
</div>



</div>
</div>
<div class="yui-b">
[% INCLUDE 'biblio-view-menu.inc' %]
</div>
[% END %]
</div>
[% INCLUDE 'intranet-bottom.inc' %]
