[% INCLUDE 'help-top.inc' %]

<h1>Upload Koha plugin</h1>

<p>Koha's plugin system allows for you to add additional tools and reports to Koha that are specific to your library. Plugins are installed by uploading KPZ ( Koha Plugin Zip ) packages. A KPZ file is just a zip file containing the perl files, template files, and any other files neccessary to make the plugin work.</p>

<p style="color: #990000;">Important: Only install plugins from trusted sources.</p>

<p><strong>See the full documentation for the Plugin system in the <a href="http://manual.koha-community.org/3.12/en/pluginsystem.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
