[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Administration &rsaquo; Item types [% IF ( add_form ) %]&rsaquo;
 [% IF ( itemtype ) %]
Modify item type '[% itemtype %]'
 [% ELSE %]
Add item type
 [% END %]
[% END %]
[% IF ( delete_confirm ) %]&rsaquo; 
 [% IF ( total ) %]
Cannot delete item type '[% itemtype %]'
 [% ELSE %]
Delete item type '[% itemtype %]'?
 [% END %]
[% END %]
[% IF ( delete_confirmed ) %]&rsaquo; 
Data deleted
[% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]
<link rel="stylesheet" type="text/css" href="[% themelang %]/css/datatables.css" />
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.dataTables.min.js"></script>
[% INCLUDE 'datatables-strings.inc' %]
<script type="text/javascript" src="[% themelang %]/js/datatables.js"></script>
<script type="text/javascript">
//<![CDATA[

function isNotNull(f,noalert) {
	if (f.value.length ==0) {
		return false;
	}
	return true;
}

function toUC(f) {
	var x=f.value.toUpperCase();
	f.value=x;
	return true;
}

function isNum(v,maybenull) {
var n = new Number(v.value);
if (isNaN(n)) {
	return false;
	}
if (maybenull==0 && v.value=='') {
	return false;
}
return true;
}

function isDate(f) {
	var t = Date.parse(f.value);
	if (isNaN(t)) {
		return false;
	}
}

function Check(f) {
	var ok=1;
	var _alertString="";
	var alertString2;
	if (f.itemtype.value.length==0) {
		_alertString += "\n- " + _("Itemtype missing");
	}
	if (!(isNotNull(window.document.Aform.description,1))) {
		_alertString += "\n- " + _("Description missing");
	}
	if ((!isNum(f.rentalcharge,0)) && f.rentalcharge.value.length > 0) {
		_alertString += "\n- " + _("Rental charge is not a number");
	}
	if (_alertString.length==0) {
		document.Aform.submit();
	} else {
		alertString2  = _("Form not submitted because of the following problem(s)");
		alertString2 += "\n------------------------------------------------------------------------------------\n";
		alertString2 += _alertString;
		alert(alertString2);
	}
}
     $(document).ready(function() {
        $('#icons').tabs();
        $("#table_item_type").dataTable($.extend(true, {}, dataTablesDefaults, {
            "aoColumnDefs": [
                { "aTargets": [ -1 ], "bSortable": false, "bSearchable": false },
            ],
            "aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
            "aaSorting": [[ 2, "asc" ]],
            "iDisplayLength": 10
        }));
     });
//]]>
</script>
<style type="text/css">
	fieldset.rows div.toptabs li { clear:none;margin-right:.5em;padding-bottom:0;width:auto; }
  fieldset.rows div.toptabs .ui-tabs-nav li.ui-tabs-selected {background-color : #F4F8F9; }
	fieldset.rows .ui-tabs-panel { margin-right : 10px; margin-left : 10px;margin-bottom:10px;}
  fieldset.rows .ui-tabs-nav { margin-left : 10px; }
</style>
</head>
<body id="admin_itemtypes" class="admin">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; [% IF ( add_form ) %]
 [% IF ( itemtype ) %]
<a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a> &rsaquo; Modify item type '[% itemtype %]'
 [% ELSE %]
<a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a> &rsaquo; Add item type
 [% END %]
[% END %]
[% IF ( delete_confirm ) %]
 [% IF ( total ) %]
<a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a> &rsaquo; Cannot delete item type '[% itemtype %]'
 [% ELSE %]
<a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a> &rsaquo; Delete item type '[% itemtype %]'?
 [% END %]
[% END %]
[% IF ( delete_confirmed ) %]
<a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a> &rsaquo;Data deleted
[% END %]
[% IF ( else ) %]
Item types administration
[% END %]</div>

<div id="doc3" class="yui-t2">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">
 
[% IF ( else ) %]<div id="toolbar" class="btn-toolbar">
 <a class="btn btn-small" id="newitemtype" href="/cgi-bin/koha/admin/itemtypes.pl?op=add_form"><i class="icon-plus"></i> New item type</a>
</div>[% END %]

[% IF ( add_form ) %]
 [% IF ( itemtype ) %]
 <h3>Modify item type</h3>
 [% ELSE %]
 <h3>Add item type</h3>
 [% END %]
<form action="[% script_name %]" name="Aform" method="post">
 <input type="hidden" name="op" value="add_validate" />
 <input type="hidden" name="checked" value="0" />
 
 <fieldset class="rows">
 <ol>
 [% IF ( itemtype ) %]
 <li>
 <span class="label">Item type: </span> <input type="hidden" name="itemtype" value="[% itemtype %]" />
 [% itemtype %]
 </li>
 [% ELSE %]
 <li>
 <label for="itemtype">Item type: </label> <input type="text" id="itemtype" name="itemtype" size="10" maxlength="10" onblur="toUC(this)" class="focus" />
 </li>
 [% END %]
 <li>
 [% IF ( itemtype ) %]
 <label for="description">Description: </label><input type="text" id="description" name="description" size="48" value="[% description |html %]" class="focus" /></li>
 [% ELSE %]
 <label for="description">Description: </label><input type="text" id="description" name="description" size="48" value="[% description |html %]" /></li>
 [% END %]
 [% IF ( noItemTypeImages ) %]
 <li><span class="label">Image: </span>Item type images are disabled. To enable them, turn off the <a href="/cgi-bin/koha/admin/preferences.pl?op=search&amp;searchfield=noItemTypeImages">noItemTypeImages system preference</a></li></ol>
 [% ELSE %]</ol>
 <div id="icons" class="toptabs" style="clear:both">
 <h5 style="margin-left:10px;">Choose an icon:</h5>
 <ul>
 <li><a href="#none">None</a></li>
 [% FOREACH imageset IN imagesets %]
 [% IF ( imageset.imagesetactive ) %]<li class="ui-tabs-selected">[% ELSE %]<li>[% END %]<a href="#[% imageset.imagesetname %]">[% imageset.imagesetname %]</a></li>
 [% END %]
 [% IF ( remote_image ) %]<li class="ui-tabs-selected">[% ELSE %]<li>[% END %]<a href="#remote">Remote image</a></li>
 </ul>
 <div id="none"><ul>
 <li><label for="noimage">No image: </label><input type="radio" name="image" id="noimage" value="removeImage" /></li>
 </ul>
 <br class="clear" /></div>

 [% FOREACH imageset IN imagesets %]
 <div id="[% imageset.imagesetname %]"><ul>
 [% FOREACH image IN imageset.images %]
 <li style="float: none; display: inline-block; clear : none; width: auto;">
 <label> [% IF ( image.StaffImageUrl ) %]
 <img src="[% image.StaffImageUrl %]" alt="[% image.StaffImageUrl %]" title="[% image.StaffImageUrl %]" />
 [% ELSE %]
 [% END %]
 [% IF ( image.checked ) %]
 <input type="radio" name="image" value="[% image.KohaImage %]" checked="checked" />
 [% ELSE %]
 [% IF ( image.KohaImage ) %] <!-- to delete the radio button if there is no image after -->
 <input type="radio" name="image" value="[% image.KohaImage %]" />
 [% END %]
 [% END %]
 </label>
 </li>
 [% END %]
 </ul>
 <br class="clear" />
 </div>
 [% END %]
<div id="remote"><ul>
<li> <label for="remote_image_check"> Remote image:</label>
 [% IF ( remote_image ) %]
 <input type="radio" id="remote_image_check" name="image" value="remoteImage" checked="checked" />
 [% ELSE %]
 <input type="radio" id="remote_image_check" name="image" value="remoteImage" />
 [% END %]<input type="text" name="remoteImage" size="48" maxlength="200" value="[% remote_image %]" onmousedown="document.getElementById('remote_image_check').checked = true;" /> [% IF ( remote_image ) %]
 <img src="[% remote_image %]" alt="" />
 [% END %]</li>
</ul>
 <br class="clear" />
</div>
[% END %]
</div>
<ol>
 <li>
 <label for="notforloan">Not for loan: </label> [% IF ( notforloan ) %]
 <input type="checkbox" id="notforloan" name="notforloan" checked="checked" value="1" />
 [% ELSE %]
 <input type="checkbox" id="notforloan" name="notforloan" value="1" />
 [% END %]
 (if checked, no item of this type can be issued. If not checked, every item of this type can be issued unless notforloan is set for a specific item)
 
 </li>
 <li>
 <label for="rentalcharge">Rental charge: </label>
 <input type="text" id="rentalcharge" name="rentalcharge" size="10" value="[% rentalcharge %]" />
 </li>
 <li>
 <label for="summary">Summary: </label>
 <textarea id="summary" name="summary" cols="55" rows="5">[% summary %]</textarea>
 <p>Enter a summary that will overwrite the default one in search results lists. Example, for a website itemtype : </p>
 <p><b>&lt;a href="[856u]"&gt;open site&lt;/a&gt;</b> will show the link just below the title</p>
 </li>
 </ol>
 </fieldset>

 <fieldset class="action">
 <input type="button" value="Save changes" onclick="Check(this.form)" />
 <a href="/cgi-bin/koha/admin/itemtypes.pl" class="cancel">Cancel</a>
 </fieldset>
</form>
[% END %]

[% IF ( delete_confirm ) %]
[% IF ( total ) %]<div class="dialog message">
<h3>Cannot delete item type</h3>
<p><strong>This record is used [% total %] times</strong>. Deletion is not possible.</p>
[% ELSE %]<div class="dialog alert">
<h3>Delete item type '[% itemtype %]'?</h3>
[% END %]
<table>
 <tr>
 <th scope="row">Item type</th>
 <td>[% itemtype %]</td>
 </tr>

 <tr><th scope="row">Description</th><td>[% description %]</td></tr>
 <tr><th scope="row">Loan length</th><td>[% loanlength %]</td></tr>
<tr><th scope="row">Rental charge</th><td>[% rentalcharge %]</td></tr></table>
 <form action="[% script_name %]" method="post">
 <input type="hidden" name="op" value="delete_confirmed" /><input type="hidden" name="itemtype" value="[% itemtype %]" />[% IF ( total ) %]
 </form>
 
 <form action="[% script_name %]" method="post"><input type="submit" class="approve" value="OK" /></form>
 [% ELSE %]
 <input type="submit" class="approve" value="Delete this Item Type" /></form> <form action="[% script_name %]" method="post"><input type="submit" class="deny" value="Do Not Delete" /></form>
 [% END %]
</div>
 
[% END %]

[% IF ( else ) %]
<h2>Item types administration</h2>
[% IF ( loop ) %]
<table id="table_item_type">
 <thead>
 [% UNLESS ( noItemTypeImages ) %]<th>Image</th>[% END %]
 <th>Code</th>
 <th>Description</th>
 <th>Not for loan</th>
 <th>Charge</th>
 <th>Actions</th>
 </thead>
 [% FOREACH loo IN loop %]
 [% UNLESS ( loop.odd ) %]
 <tr class="highlight">
 [% ELSE %]
 <tr>
 [% END %]
 [% UNLESS ( noItemTypeImages ) %] <td>[% IF ( loo.imageurl ) %]<img src="[% loo.imageurl %]" alt="" />[% ELSE %]&nbsp;[% END %]</td>[% END %]
 <td>
 <a href="[% loo.script_name %]?op=add_form&amp;itemtype=[% loo.itemtype |html %]">
 [% loo.itemtype %]
 </a>
 </td>
 <td>[% loo.description %]</td>
 <td>[% IF ( loo.notforloan ) %]Yes[% ELSE %]&nbsp;[% END %]</td>
 <td>
 [% UNLESS ( loo.notforloan ) %]
 [% loo.rentalcharge %]
 [% END %]
 </td>
 <td>
 <a href="[% loo.script_name %]?op=add_form&amp;itemtype=[% loo.itemtype |html %]">Edit</a>
 <a href="[% loo.script_name %]?op=delete_confirm&amp;itemtype=[% loo.itemtype |html %]">Delete</a>
 </td>
 </tr>
 [% END %]
</table>[% ELSE %]
<div class="dialog message">There are no itemtypes defined</div>
[% END %]

<div class="pages">[% pagination_bar %]</div>

[% END %]



</div>
</div>
<div class="yui-b">
[% INCLUDE 'admin-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
