[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Tools &rsaquo; Task scheduler</title>
[% INCLUDE 'doc-head-close.inc' %]
[% INCLUDE 'calendar.inc' %]
<script type="text/JavaScript">
//<![CDATA[
    $(document).ready(function(){
        $("#startdate").datepicker({ minDate: "+0D" });
    });
//]]>
</script>
</head>
<body id="tools_scheduler" class="tools">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'circ-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <strong>Task scheduler</strong></div>

<div id="doc3" class="yui-t2">

 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">

<div id="main">

[% IF ( job_add_failed ) %]
<div class="dialog message">Failed to add scheduled task</div>
[% END %]

<form name="form1" action="scheduler.pl" method="post">
<input type="hidden" name="mode" value="job_add" />

<fieldset class="rows">
<legend>Task scheduler</legend><ol>
<li><span class="label">Current server time is:</span>
[% time %]</li>
<li><label for="starttime">Time:</label>
<input type="text" name="starttime" id="starttime" value="" maxlength="5" size="5" /></li>
<li><label for="startdate">Date: </label> <input type="text" size="10" id="startdate" name="startdate" value="" />
<div class="hint">[% INCLUDE 'date-format.inc' %]</div>
</li>
<li><label for="report">Report:</label>
<select name="report" id="report">
[% FOREACH savedreport IN savedreports %]
 [% IF ( savedreport.selected ) %]
 <option value="[% savedreport.id %]" selected="selected">[% savedreport.report_name %]</option>
 [% ELSE %]
 <option value="[% savedreport.id %]">[% savedreport.report_name %]</option>
 [% END %]
[% END %]
</select>
</li>
<li><label for="format">Output format:</label>
<select name="format" id="format">
<option value="text">Text</option>
<option value="url">URL</option>
</select>
</li>
<li><label for="email">Email:</label>

<input type="text" name="email" id="email" size="50" />
</li>
</ol></fieldset>
<fieldset class="action"><input class="submit-button" type="submit" value="Save" /></fieldset>
</form>
 
[% IF ( JOBS ) %]<h2>Jobs already entered</h2>
<table>
<tr>
<th>Date/Time</th>
<th>Action</th>
<th>&nbsp;</th>
</tr>
[% FOREACH JOB IN JOBS %]
<form action="scheduler.pl" method="post">
<input type="hidden" name="mode" value="job_change" />

<tr>
<td>[% JOB.TIME %]</td>
<td>[% JOB.TAG %]</td>
<td><input type="submit" name="delete" value="Delete" /></td>
</tr>
<input type="hidden" name="jobid" value="[% JOB.JOBID %]" />
</form>
[% END %]
</table>[% END %]


</div>
</div>
</div>
<div class="yui-b noprint">
[% INCLUDE 'tools-menu.inc' %]
[% INCLUDE 'guided-reports-view.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
