<!DOCTYPE html PUBLIC "-//W3C//DTD Xhtml 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gestion des index MACLES</title>
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript">
//<![CDATA[

    $(document).ready(function() {
        $('#macles').tabs();
    });
//]]>
</script>
</head>

<body id="cat_macles" class="yui-skin-sam cat" onload="Activate(0);load_macles();" >

<h1>Gestion des index MACLES</h1>
<form name="f_pop" action="">

<div id="macles" class="toptabs numbered">
 [% IF ( BIGLOOP ) %]<ul>
 [% FOREACH BIGLOO IN BIGLOOP %]
 <li><a href="#tab[% BIGLOO.number %]XX">[% BIGLOO.number %]</a></li>
 [% END %]
 </ul>[% END %]
 <!-- RESET PAGINATION -->
 [% FOREACH BIGLOO IN BIGLOOP %]
 [% IF ( BIGLOO.number ) %]
 <div id="tab[% BIGLOO.number %]XX">
 [% ELSE %]
 <div id="tab[% BIGLOO.number %]XX">
 [% END %]
 <h2> [% BIGLOO.hdr_tab %]</h2>
 <a href="#" class="button" onclick="add_macles('630');">Envoyer</a>
 <!-- <input type="submit" class="button" value="Envoyer" /> -->
 <a class="button" href="" onclick="load_macles(630);">R&eacute;initialiser</a>
 <a class="button" href="javascript:uncheck_tab([% BIGLOO.number %])">d&eacute;selectionner onglet</a>
 <input type="reset" class="button" value="déselectionner tout" />
 [% IF ( BIGLOO.Table ) %]
 <table>
 <tr>
 <th>Espace\Temps</th>
 [% FOREACH col_hd IN BIGLOO.col_hdr %]
 <th scope="col" id="[% col_hd.colvalue %]"> [% col_hd.collib |html %] <br /><input type="checkbox" name="[% col_hd.colvalue %]" onclick="check_col('[% col_hd.colvalue %]')" />
 </th>
 [% END %]
 </tr>
 [% FOREACH line IN BIGLOO.lines %]
 <tr>
 <th scope="row" id="[% line.rowvalue %]"> [% line.rowlib |html %] <br /><input type="checkbox" name="[% line.rowvalue %]" onclick="check_row('[% line.rowvalue %]')" />
 </th>
 [% FOREACH cell IN line.cells %]
 <td headers="[% cell.rowvalue %] [% cell.colvalue %]">
 <span title="[% FOREACH lib IN cell.libs %][% lib.lib |html %] - [% END %]">
 [% cell.celvalue %] <br /><input type="checkbox" name="[% cell.celvalue %]" value="[% cell.celvalue %]" />
 </span>
 </td>
 [% END %]
 </tr>
 [% END %]
 </table>
 [% END %]
 [% IF ( BIGLOO.Lists ) %]
 <h2>s&eacute;lection au moyen d'une liste de descripteurs</h2>
 [% FOREACH List IN BIGLOO.Lists %]
 <h3>[% List.lib %]</h3>
 [% FOREACH liblis IN List.liblist %]
 <a href="#[% liblis.listvalue %]" onclick="check_multiple([% liblis.listvalue %])"> [% liblis.listlib |html %]</a><br />
 [% END %]
 [% END %]
 [% END %]
 [% UNLESS ( BIGLOO.Table ) %]
 <!-- Listes simples :Onglets 0 et 9-->
 [% FOREACH line IN BIGLOO.lines %]
 <h3>[% line.rowvalue |html %]&nbsp;-&nbsp;[% line.rowlib |html %]&nbsp;<input type="checkbox" name="[% line.rowvalue %]" onclick="check_row('[% line.rowvalue %]')" /></h3>
 [% FOREACH cell IN line.cells %]
 <p>[% cell.celvalue |html %]&nbsp;-&nbsp;[% FOREACH lib IN cell.libs %]
 [% lib.lib |html %] &nbsp;
 [% END %]
 <input type="checkbox" name="[% cell.celvalue %]" value="[% cell.celvalue %]" />
 </p>
 [% END %]
 [% END %]
 [% END %]
 </div>
 [% END %]
</div>
</form>
<script type="text/javascript">
//<![CDATA[
function Activate(numlayer)
{
	for (var i=0; i <= 9 ; i++ ) {
		var ong = i+"XX";
		var link = "link"+i;
		if (numlayer==i) {
			with(document){
			if (document.getElementById(ong)){
				document.getElementById(ong).style.visibility="visible";
			}
			if(document.getElementById(link)){
				document.getElementById(link).style.color="#000066";
				document.getElementById(link).style.backgroundColor="#FFFFCC";
			}
			}
		} else {
			with(document){
			if (document.getElementById(ong)){
				document.getElementById(ong).style.visibility="hidden";
			}
			if (document.getElementById(link)) {
				document.getElementById(link).style.color="#669999";
				document.getElementById(link).style.backgroundColor="#D8DEB8";
			}
			}
		}
	}
}

function add_macles(myvalue)
{
  var myinputs=document.getElementsByTagName("input");
  var mycountMACLESgen=0;
  var tab = new Array();
  for (var i=0;i<myinputs.length;i++){
    if (myinputs[i].checked) {
      tab[mycountMACLESgen]=myinputs[i].value;
      mycountMACLESgen++;
    }
  }
  if (mycountMACLESgen==1){opener.document.f.[% index %].value = tab[0];
  } else {
    var mytags=opener.document.getElementsByTagName("input");
    var index_string="[% index %]";
    index_string=index_string.substr(0,index_string.lastIndexOf("_"));  
    index_string=index_string.substr(0,index_string.lastIndexOf("_"));
    index_string=index_string+".*";    
    var mycountMACLESinit=0;
    var indexmin=0;
    var tab_ids_fields=new Array();  
    //Compter le nombre de MACLES present
    for (i=0;i<mytags.length;i++){
      if (mytags[i].name.match(index_string)){
        if (mytags[i].value==myvalue) {
            if (indexmin==0){
                indexmin=i
            }
        }
        tab_ids_fields[mycountMACLESinit]=mytags[i].getAttribute("id");
        mycountMACLESinit++;
      }   
    }
    // Si Nombre de Macles <Nombre de cases cochees, ajouter le nombre de champ manquant
    if (mycountMACLESinit < mycountMACLESgen){
    //for (i=0;i< (mycountMACLESgen - mycountMACLESinit);i++){
    //  PluginAddField(myvalue);
    //}
      alert(_("veuillez d'abord creer le nombre de champs necessaires "));
    } else {
    // Pour chaque valeur cochee, ajouter la valeur dans un noeud MACLES.
      for (i=0;i<tab.length;i++){
          // Se positionner sur le prochain noeud MACLES
          opener.document.f.elements[tab_ids_fields[i]].value = tab[i];
      }
    }
  }
  window.close();
  return false;
}

function uncheck_tab(number)
{
  var myinputs=document.getElementsByTagName("input");
  var myRegEx=new RegExp(number+"..");
  for(i=0;i<myinputs.length;i++){
    if ((myinputs[i].name.search(myRegEx)>=0) && myinputs[i].checked == true) {
      myinputs[i].checked = false;
    }
  }
}
function check_col(col)
{
  var myref=document.getElementsByName(col);
  var myinputs=document.getElementsByTagName("input");
  var myRegEx=new RegExp(col);
  for(i=0;i<myinputs.length;i++){
    if (myinputs[i].name.search(myRegEx)>=0) {
      if (myref[0].checked){
        myinputs[i].checked = true;
      } else {
        myinputs[i].checked = false;
      }
    } 
  }
  return false;
}

function check_multiple()
{
  for(myi=0;myi<check_multiple.arguments.length;myi++){
    var myinput=document.getElementsByName(""+check_multiple.arguments[myi]);
    myinput[0].checked=true;
  }
  return false;
}

function check_row(row)
{
  var myref=document.getElementsByName(row);
  var myinputs=document.getElementsByTagName("input");
  var myRegEx=new RegExp(row);
//   alert myRegEx;
  for(i=0;i<myinputs.length;i++){
    if (myinputs[i].name.search(myRegEx)>=0){
      if (myref[0].checked){
        myinputs[i].checked = true;
      } else {
        myinputs[i].checked = false;
      }
    } 
  }
  return false;
}

function load_macles()
{
  document.forms.f_pop.reset;
  var mystart="[% index %]";
  mystart=mystart.substr(0,mystart.lastIndexOf("_"));  
  mystart=mystart.substr(0,mystart.lastIndexOf("_"));
  mystart=mystart+".*";    
  var mytags=opener.document.getElementsByTagName("input");
  for (i=0;i<mytags.length;i++){
    if (mytags[i].name.match(mystart)){
      var checkvalue=mytags[i].value;
      var myinput=document.getElementsByName(checkvalue);
      if (myinput.length>0){
        myinput[0].checked=true;
      }
    }  
  } 
  return false;
}
//]]>
</script>
</body>
</html>
