[% INCLUDE 'doc-head-open.inc' %]
<title>UNIMARC field 128b builder</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="cat_unimarc_field_128b" class="cat" style="padding:1em;">
<h3>UNIMARC field 128b builder</h3>
<form name="f_pop" action="">
<table>
 <tr>
 <td><label for="f1">Instruments or voices for ensemble:</label></td>
 <td>
 <select name="f1" id="f1" size="1">
 [% IF ( f1dblpipe ) %]
 <option value="||" selected="selected">||- Filling characters</option>
 [% ELSE %]
 <option value="||">||- Filling characters</option>
 [% END %]

 [% IF ( f1ba ) %]
 <option value="ba" selected="selected">Horn</option>
 [% ELSE %]
 <option value="ba">Horn</option>
 [% END %]
 [% IF ( f1bb ) %]
 <option value="bb" selected="selected">Trumpet</option>
 [% ELSE %]
 <option value="bb">Trumpet</option>
 [% END %]
 [% IF ( f1bc ) %]
 <option value="bc" selected="selected">Cornet</option>
 [% ELSE %]
 <option value="bc">Cornet</option>
 [% END %]
 [% IF ( f1bd ) %]
 <option value="bd" selected="selected">Trombone</option>
 [% ELSE %]
 <option value="bd">Trombone</option>
 [% END %]
 [% IF ( f1be ) %]
 <option value="be" selected="selected">Tuba</option>
 [% ELSE %]
 <option value="be">Tuba</option>
 [% END %]
 [% IF ( f1bf ) %]
 <option value="bf" selected="selected">Baritone</option>
 [% ELSE %]
 <option value="bf">Baritone</option>
 [% END %]
 [% IF ( f1bt ) %]
 <option value="bt" selected="selected">Ethnic brass</option>
 [% ELSE %]
 <option value="bt">Ethnic brass</option>
 [% END %]
 [% IF ( f1bu ) %]
 <option value="bu" selected="selected">Unspecified brass</option>
 [% ELSE %]
 <option value="bu">Unspecified brass</option>
 [% END %]
 [% IF ( f1bz ) %]
 <option value="bz" selected="selected">Other brass</option>
 [% ELSE %]
 <option value="bz">Other brass</option>
 [% END %]
 [% IF ( f1ca ) %]
 <option value="ca" selected="selected">Mixed chorus</option>
 [% ELSE %]
 <option value="ca">Mixed chorus</option>
 [% END %]
 [% IF ( f1cb ) %]
 <option value="cb" selected="selected">Women's chorus</option>
 [% ELSE %]
 <option value="cb">Women's chorus</option>
 [% END %]
 [% IF ( f1cc ) %]
 <option value="cc" selected="selected">Men's chorus</option>
 [% ELSE %]
 <option value="cc">Men's chorus</option>
 [% END %]
 [% IF ( f1cd ) %]
 <option value="cd" selected="selected">Children's chorus</option>
 [% ELSE %]
 <option value="cd">Children's chorus</option>
 [% END %]
 [% IF ( f1ct ) %]
 <option value="ct" selected="selected">Ethnic chorus</option>
 [% ELSE %]
 <option value="ct">Ethnic chorus</option>
 [% END %]
 [% IF ( f1cu ) %]
 <option value="cu" selected="selected">Unspecified chorus</option>
 [% ELSE %]
 <option value="cu">Unspecified chorus</option>
 [% END %]
 [% IF ( f1oa ) %]
 <option value="oa" selected="selected">Full orchestra</option>
 [% ELSE %]
 <option value="oa">Full orchestra</option>
 [% END %]
 [% IF ( f1ob ) %]
 <option value="ob" selected="selected">Chamber orchestra</option>
 [% ELSE %]
 <option value="ob">Chamber orchestra</option>
 [% END %]
 [% IF ( f1oc ) %]
 <option value="oc" selected="selected">String orchestra</option>
 [% ELSE %]
 <option value="oc">String orchestra</option>
 [% END %]
 [% IF ( f1od ) %]
 <option value="od" selected="selected">Band</option>
 [% ELSE %]
 <option value="od">Band</option>
 [% END %]
 [% IF ( f1oe ) %]
 <option value="oe" selected="selected">Dance orchestra</option>
 [% ELSE %]
 <option value="oe">Dance orchestra</option>
 [% END %]
 [% IF ( f1of ) %]
 <option value="of" selected="selected">Larger ensemble brass band</option>
 [% ELSE %]
 <option value="of">Larger ensemble brass band</option>
 [% END %]
 [% IF ( f1ot ) %]
 <option value="ot" selected="selected">Ethnic orchestra</option>
 [% ELSE %]
 <option value="ot">Ethnic orchestra</option>
 [% END %]
 [% IF ( f1ou ) %]
 <option value="ou" selected="selected">Unspecified orchestra</option>
 [% ELSE %]
 <option value="ou">Unspecified orchestra</option>
 [% END %]
 [% IF ( f1oz ) %]
 <option value="oz" selected="selected">Other orchestra</option>
 [% ELSE %]
 <option value="oz">Other orchestra</option>
 [% END %]
 [% IF ( f1pa ) %]
 <option value="pa" selected="selected">Timpani</option>
 [% ELSE %]
 <option value="pa">Timpani</option>
 [% END %]
 [% IF ( f1pb ) %]
 <option value="pb" selected="selected">Xylophone</option>
 [% ELSE %]
 <option value="pb">Xylophone</option>
 [% END %]
 [% IF ( f1pc ) %]
 <option value="pc" selected="selected">Marimba</option>
 [% ELSE %]
 <option value="pc">Marimba</option>
 [% END %]
 [% IF ( f1pd ) %]
 <option value="pd" selected="selected">Drum</option>
 [% ELSE %]
 <option value="pd">Drum</option>
 [% END %]
 [% IF ( f1pt ) %]
 <option value="pt" selected="selected">Ethnic percussion</option>
 [% ELSE %]
 <option value="pt">Ethnic percussion</option>
 [% END %]
 [% IF ( f1pu ) %]
 <option value="pu" selected="selected">Unspecified percussion</option>
 [% ELSE %]
 <option value="pu">Unspecified percussion</option>
 [% END %]
 [% IF ( f1pz ) %]
 <option value="pz" selected="selected">Other percussion</option>
 [% ELSE %]
 <option value="pz">Other percussion</option>
 [% END %]
 [% IF ( f1sa ) %]
 <option value="sa" selected="selected">Violon</option>
 [% ELSE %]
 <option value="sa">Violon</option>
 [% END %]
 [% IF ( f1sb ) %]
 <option value="sb" selected="selected">Viola</option>
 [% ELSE %]
 <option value="sb">Viola</option>
 [% END %]
 [% IF ( f1sc ) %]
 <option value="sc" selected="selected">Cello</option>
 [% ELSE %]
 <option value="sc">Cello</option>
 [% END %]
 [% IF ( f1sd ) %]
 <option value="sd" selected="selected">Double bass</option>
 [% ELSE %]
 <option value="sd">Double bass</option>
 [% END %]
 [% IF ( f1se ) %]
 <option value="se" selected="selected">Viol</option>
 [% ELSE %]
 <option value="se">Viol</option>
 [% END %]
 [% IF ( f1sf ) %]
 <option value="sf" selected="selected">viola d'amore</option>
 [% ELSE %]
 <option value="sf">viola d'amore</option>
 [% END %]
 [% IF ( f1sg ) %]
 <option value="sg" selected="selected">Viola da gamba</option>
 [% ELSE %]
 <option value="sg">Viola da gamba</option>
 [% END %]
 [% IF ( f1st ) %]
 <option value="st" selected="selected">Ethnic bowed strings</option>
 [% ELSE %]
 <option value="st">Ethnic bowed strings</option>
 [% END %]
 [% IF ( f1su ) %]
 <option value="su" selected="selected">Unspecified bowed strings</option>
 [% ELSE %]
 <option value="su">Unspecified bowed strings</option>
 [% END %]
 [% IF ( f1sz ) %]
 <option value="sz" selected="selected">Other bowed strings</option>
 [% ELSE %]
 <option value="sz">Other bowed strings</option>
 [% END %]
 [% IF ( f1uu ) %]
 <option value="uu" selected="selected">Unspecified</option>
 [% ELSE %]
 <option value="uu">Unspecified</option>
 [% END %]
 [% IF ( f1ea ) %]
 <option value="ea" selected="selected">Synthesizer</option>
 [% ELSE %]
 <option value="ea">Synthesizer</option>
 [% END %]
 [% IF ( f1eb ) %]
 <option value="eb" selected="selected">Tape</option>
 [% ELSE %]
 <option value="eb">Tape</option>
 [% END %]
 [% IF ( f1ec ) %]
 <option value="ec" selected="selected">Computer</option>
 [% ELSE %]
 <option value="ec">Computer</option>
 [% END %]
 [% IF ( f1ed ) %]
 <option value="ed" selected="selected">Ondes Martenot</option>
 [% ELSE %]
 <option value="ed">Ondes Martenot</option>
 [% END %]
 [% IF ( f1eu ) %]
 <option value="eu" selected="selected">Unspecified electronic</option>
 [% ELSE %]
 <option value="eu">Unspecified electronic</option>
 [% END %]
 [% IF ( f1ez ) %]
 <option value="ez" selected="selected">Other electronic</option>
 [% ELSE %]
 <option value="ez">Other electronic</option>
 [% END %]
 [% IF ( f1ka ) %]
 <option value="ka" selected="selected">Piano</option>
 [% ELSE %]
 <option value="ka">Piano</option>
 [% END %]
 [% IF ( f1kb ) %]
 <option value="kb" selected="selected">Organ</option>
 [% ELSE %]
 <option value="kb">Organ</option>
 [% END %]
 [% IF ( f1kc ) %]
 <option value="kc" selected="selected">Harpsichord</option>
 [% ELSE %]
 <option value="kc">Harpsichord</option>
 [% END %]
 [% IF ( f1kd ) %]
 <option value="kd" selected="selected">Clavicorde</option>
 [% ELSE %]
 <option value="kd">Clavicorde</option>
 [% END %]
 [% IF ( f1ke ) %]
 <option value="ke" selected="selected">Continuo</option>
 [% ELSE %]
 <option value="ke">Continuo</option>
 [% END %]
 [% IF ( f1kf ) %]
 <option value="kf" selected="selected">Celesta</option>
 [% ELSE %]
 <option value="kf">Celesta</option>
 [% END %]
 [% IF ( f1kt ) %]
 <option value="kt" selected="selected">Ethnic keyboard</option>
 [% ELSE %]
 <option value="kt">Ethnic keyboard</option>
 [% END %]
 [% IF ( f1ku ) %]
 <option value="ku" selected="selected">Unspecified keyboard</option>
 [% ELSE %]
 <option value="ku">Unspecified keyboard</option>
 [% END %]
 [% IF ( f1kz ) %]
 <option value="kz" selected="selected">Autre</option>
 [% ELSE %]
 <option value="kz">Autre</option>
 [% END %]
 [% IF ( f1va ) %]
 <option value="va" selected="selected">Soprano</option>
 [% ELSE %]
 <option value="va">Soprano</option>
 [% END %]
 [% IF ( f1vb ) %]
 <option value="vb" selected="selected">Mezzosoprano</option>
 [% ELSE %]
 <option value="vb">Mezzosoprano</option>
 [% END %]
 [% IF ( f1vc ) %]
 <option value="vc" selected="selected">Alto</option>
 [% ELSE %]
 <option value="vc">Alto</option>
 [% END %]
 [% IF ( f1vd ) %]
 <option value="vd" selected="selected">Tenor</option>
 [% ELSE %]
 <option value="vd">Tenor</option>
 [% END %]
 [% IF ( f1ve ) %]
 <option value="ve" selected="selected">Baritone</option>
 [% ELSE %]
 <option value="ve">Baritone</option>
 [% END %]
 [% IF ( f1vf ) %]
 <option value="vf" selected="selected">Bass</option>
 [% ELSE %]
 <option value="vf">Bass</option>
 [% END %]
 [% IF ( f1vg ) %]
 <option value="vg" selected="selected">Counter tenor</option>
 [% ELSE %]
 <option value="vg">Counter tenor</option>
 [% END %]
 [% IF ( f1vh ) %]
 <option value="vh" selected="selected">Voices high voice</option>
 [% ELSE %]
 <option value="vh">Voices high voice</option>
 [% END %]
 [% IF ( f1vi ) %]
 <option value="vi" selected="selected">Voices medium voice</option>
 [% ELSE %]
 <option value="vi">Voices medium voice</option>
 [% END %]
 [% IF ( f1vj ) %]
 <option value="vj" selected="selected">Voices low voice</option>
 [% ELSE %]
 <option value="vj">Voices low voice</option>
 [% END %]
 [% IF ( f1vt ) %]
 <option value="vt" selected="selected">Ethnic voices</option>
 [% ELSE %]
 <option value="vt">Ethnic voices</option>
 [% END %]
 [% IF ( f1vu ) %]
 <option value="vu" selected="selected">Unspecified voices</option>
 [% ELSE %]
 <option value="vu">Unspecified voices</option>
 [% END %]
 [% IF ( f1ta ) %]
 <option value="ta" selected="selected">Harp</option>
 [% ELSE %]
 <option value="ta">Harp</option>
 [% END %]
 [% IF ( f1tb ) %]
 <option value="tb" selected="selected">Guitar family</option>
 [% ELSE %]
 <option value="tb">Guitar family</option>
 [% END %]
 [% IF ( f1tc ) %]
 <option value="tc" selected="selected">Lute family</option>
 [% ELSE %]
 <option value="tc">Lute family</option>
 [% END %]
 [% IF ( f1td ) %]
 <option value="td" selected="selected">Mandolin</option>
 [% ELSE %]
 <option value="td">Mandolin</option>
 [% END %]
 [% IF ( f1tt ) %]
 <option value="tt" selected="selected">Ethnic plucked string</option>
 [% ELSE %]
 <option value="tt">Ethnic plucked strings</option>
 [% END %]
 [% IF ( f1tu ) %]
 <option value="tu" selected="selected">Unspecified plucked strings</option>
 [% ELSE %]
 <option value="tu">Unspecified plucked strings</option>
 [% END %]
 [% IF ( f1tz ) %]
 <option value="tz" selected="selected">Other plucked strings</option>
 [% ELSE %]
 <option value="tz">Other plucked strings</option>
 [% END %]
 [% IF ( f1wa ) %]
 <option value="wa" selected="selected">Flute</option>
 [% ELSE %]
 <option value="wa">Flute</option>
 [% END %]
 [% IF ( f1wb ) %]
 <option value="wb" selected="selected">Oboe</option>
 [% ELSE %]
 <option value="wb">Oboe</option>
 [% END %]
 [% IF ( f1wc ) %]
 <option value="wc" selected="selected">Clarinet</option>
 [% ELSE %]
 <option value="wc">Clarinet</option>
 [% END %]
 [% IF ( f1wd ) %]
 <option value="wd" selected="selected">Bassoon</option>
 [% ELSE %]
 <option value="wd">Bassoon</option>
 [% END %]
 [% IF ( f1we ) %]
 <option value="we" selected="selected">Piccolo</option>
 [% ELSE %]
 <option value="we">Piccolo</option>
 [% END %]
 [% IF ( f1wf ) %]
 <option value="wf" selected="selected">Cor anglais</option>
 [% ELSE %]
 <option value="wf">Cor anglais</option>
 [% END %]
 [% IF ( f1wg ) %]
 <option value="wg" selected="selected">Bass clarinet</option>
 [% ELSE %]
 <option value="wg">Bass clarinet</option>
 [% END %]
 [% IF ( f1wh ) %]
 <option value="wh" selected="selected">Recorder</option>
 [% ELSE %]
 <option value="wh">Recorder</option>
 [% END %]
 [% IF ( f1wi ) %]
 <option value="wi" selected="selected">Saxophone</option>
 [% ELSE %]
 <option value="wi">Saxophone</option>
 [% END %]
 [% IF ( f1wt ) %]
 <option value="wt" selected="selected">Ethnic woodwinds</option>
 [% ELSE %]
 <option value="wt">Ethnic woodwinds</option>
 [% END %]
 [% IF ( f1wu ) %]
 <option value="wu" selected="selected">Unspecified woodwinds</option>
 [% ELSE %]
 <option value="wu">Unspecified woodwinds</option>
 [% END %]
 [% IF ( f1wz ) %]
 <option value="wz" selected="selected">Other woodwinds</option>
 [% ELSE %]
 <option value="wz">Other woodwinds</option>
 [% END %]
 </select>
 </td></tr>
</table>
<fieldset class="action"><input type="button" value="OK" onclick="report();" /> <a href="#" class="cancel close">Cancel</a></fieldset>
</form>
<script type="javascript">
//<![CDATA[
	function report() {
		var doc   = opener.document; 
            var field = doc.getElementById("[% index %]");
        
            field.value =  document.f_pop.f1.value;
		self.close();
		return false;
	}
//]]>
</script>

[% INCLUDE 'popup-bottom.inc' %]
