[% PROCESS 'authorities-search-results.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Authorities &rsaquo; Authority search results</title>
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript" >
//<![CDATA[
function confirm_deletion(id) {
    
    var is_confirmed = confirm('Are you sure you want to delete this authority?');
    if (is_confirmed) {
      window.location="authorities-home.pl?op=delete"
          + "&authid=" + id
          + "&type=intranet"
          + "&authtypecode=[% authtypecode %]"
          + "&marclist=[% marclist %]"
          + "&and_or=[% and_or %]"
          + "&excluding=[% excluding %]"
          + "&operator=[% operator %]"
          + "&orderby=[% orderby %]"
          + "&value=[% value |url %]"
          + "&startfrom=[% startfrom %]"
          + "&resultsperpage=[% resultsperpage %]";
    }
}
function Help() {
    newin=window.open("/cgi-bin/koha/help.pl","KohaHelp",'width=600,height=600,toolbar=false,scrollbars=yes');
}

function addauthority() {
    X = document.forms[0].authtype.value;
    window.location="/cgi-bin/koha/authorities/authorities.pl?authtypecode="+X;
}
function searchauthority() {
    X = document.forms[0].authtype2.value;
    Y = document.forms[0].value.value;
    window.location="/cgi-bin/koha/authorities/authorities-home.pl?op=do_search&type=intranet&authtypecode="+X+"&value="+Y+"&marclist=&and_or=and&excluding=&operator=contains";
}
//]]>
</script>
</head>
<body id="auth_searchresultlist" class="auth">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'authorities-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/authorities/authorities-home.pl">Authorities</a> &rsaquo; Authority search results</div>

<div id="doc" class="yui-t7">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-g">
 
 [% INCLUDE 'authorities-toolbar.inc' %]
<h1>Authority search results</h1>

[% IF ( total ) %]
<div class="pages">[% pagination_bar %]</div>

<p id="authorities_searchresultlist_current_page_info">
 Results [% from %] to [% to %] of [% total %]
</p>

<div id="authorities_searchresultlist_results">
 <table>
 <tr>
 <th colspan="2">Summary</th>
[% UNLESS ( isEDITORS ) %]
 <th>Used in</th>
[% END %]
 [% IF ( CAN_user_editauthorities ) %]
 <th>&nbsp;</th>
 [% END %]
 </tr>
[% FOREACH resul IN result %]
 [% UNLESS ( loop.odd ) %]
 <tr class="highlight">
 [% ELSE %]
 <tr>
 [% END %]
 <td>[% PROCESS authresult summary=resul.summary link="/cgi-bin/koha/authorities/authorities-home.pl?op=do_search&type=intranet&marclist=any&operator=contains&orderby=HeadingAsc&value=" %]</td>
 <td><a href="detail.pl?authid=[% resul.authid %]">Details</a></td>
 [% UNLESS ( resul.isEDITORS ) %]
 <td>
 <a href="../catalogue/search.pl?type=intranet&amp;op=do_search&amp;idx=an,phr&amp;q=[% resul.authid %]" class="button">[% resul.used %] records(s)</a>
 </td>
 [% END %]
 [% IF ( CAN_user_editauthorities ) %]
 <td>
 <a href="/cgi-bin/koha/authorities/authorities.pl?authid=[% resul.authid %]">Edit</a>
 [% UNLESS ( resul.used ) %]
 | <a href="javascript:confirm_deletion([% resul.authid %])">Delete</a>
 [% END %]
 </td>
 [% END %]
 </tr>
[% END %]
 </table>
</div>

<div class="paginationBar">[% pagination_bar %]</div>

[% ELSE %]
 No results found
[% END %]
</div>
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
