[% INCLUDE 'help-top.inc' %]

<h1>Patrons (anonymize, bulk-delete)</h1>

<p>This tool allows you to bulk anonymize circulation histories (this means that you keep records of how many times items were checked out - but not the patrons who checked the items out) or bulk delete patrons (remove them from the system completely).</p>

<p style="color: #990000;">Important: Patrons with outstanding fines or items checked out are not saved. They are not completely removed from the system (they are only moved to the delete_borrowers table), but this tool does not provide as many checks as one may desire.</p>

<p style="color: #990000;">Important: Before using this tool it is recommended that you backup your database. Changes made here are permanent.</p>

<p style="color: #990000;">Important: The anonymization will fail quietly if AnonymousPatron preference does not contain a valid value.</p>

<p>To either delete or anonymize patrons</p>

<ul>
 <li>Check the 'Verify' box on the task you would like to complete (Delete or Anonymize)</li>
 <li>Enter a date before which you want to alter the data</li>
 <li>If deleting patrons you can also choose to find patrons with a specific expiration date or category</li>
 <li>Click 'Next'</li>
 <li>A confirmation will appear asking if you're sure this is what you want to happen</li>
 <li>Clicking 'Finish' will delete or anonymize your data</li>
</ul>

<p><strong>See the full documentation for Anonymizing Patrons in the <a href="http://manual.koha-community.org/3.12/en/anonpatrons.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]