[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Circulation History for [% INCLUDE 'patron-title.inc' %]</title>
[% INCLUDE 'doc-head-close.inc' %]
<link rel="stylesheet" type="text/css" href="[% interface %]/[% theme %]/en/css/datatables.css" />
<script type="text/javascript" src="[% interface %]/[% theme %]/en/lib/jquery/plugins/jquery.dataTables.min.js"></script>
[% INCLUDE 'datatables-strings.inc' %]
<script type="text/javascript" src="[% interface %]/[% theme %]/en/js/datatables.js"></script>
<script type="text/javascript" id="js">
//<![CDATA[

 $(document).ready(function() {
    [% IF (dateformat == 'metric') %]
        dt_add_type_uk_date();
    [% END %]
    $("#table_readingrec").dataTable($.extend(true, {}, dataTablesDefaults, {
        "sPaginationType": "four_button",
        "aaSorting": [],
        "aoColumns": [
            null,
            { "sType": "anti-the" },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            { "sType": "title-string" }
        ]
    }));
 });
//]]>
</script>
</head>
<body id="pat_readingrec" class="pat">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'patron-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a> &rsaquo; Circulation history for [% INCLUDE 'patron-title.inc' %]</div>

<div id="doc3" class="yui-t2">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">
[% INCLUDE 'members-toolbar.inc' %]
<h1>Circulation history</h1>
[% IF loop_reading %]
<form action="/cgi-bin/koha/members/readingrec.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="[% borrowernumber %]" /></form>


<table id="table_readingrec">
<thead>
 <th>Date</th>
 <th>Title</th>
 <th>Author</th>
 <th>Call no.</th>
 <th>Barcode</th>
 <th>Number of renewals</th>
 <th>Checked out on</th>
 <th>Checked out from</th>
 <th>Date due</th>
 <th>Return date</th>
</thead>
[% FOREACH issue IN loop_reading %]
 [% IF  issue.returndate  %]<tr>[% ELSE %]<tr class="onissue">[% END %]
 <td>
 [% issue.issuestimestamp | $KohaDates %]
 </td>
 <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% issue.biblionumber %]">[% issue.title |html %]</a></td>

 <td>[% issue.author %]</td>

 <td>
 [% IF issue.classification %]
 [% issue.classification %]
 [% ELSE %]
 [% issue.itemcallnumber %]
 [% END %]
 </td>

 <td>[% issue.barcode %]</td>

 <td>
 [% issue.renewals %]</td>
 <td>
 [% issue.issuedate | $KohaDates %]</td>
 <td>
 [% issue.issuingbranch %]</td>
 <td>[% IF issue.date_due %]
 [% issue.date_due | $KohaDates %]
 [% ELSE %]&nbsp;[% END %]</td>
 <td>
 [% IF  issue.returndate %]
 <span title="[% issue.returndate %]">[% issue.returndate | $KohaDates %]</span>
 [% ELSE %]
 <span title="Checked Out"><small>Checked Out</small></span>
 [% END %]
 </td>
</tr>
[% END %]
</table>
[% ELSE %]
<div class="dialog message">This patron has no circulation history.</div>
[% END %]
</div>
</div>

<div class="yui-b">
[% INCLUDE 'circ-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
