[% USE Koha %]
[% PROCESS 'opac-authorities.inc' %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Entry
[% INCLUDE 'doc-head-close.inc' %]
<script language="javascript" type="text/javascript" src="/opac-tmpl/lib/jquery/plugins/jquery.jstree.js"></script>
<script language="javascript" type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    [% IF ( displayhierarchy ) %]
        var current_nodes = [];
        $('.currentauth').each(function() {
            current_nodes.push('#' + $(this).parent().parents('li:first').attr('id'));
            });
        $('#hierarchies').jstree({
                "plugins": [ "themes", "html_data"],
                "themes": { "theme": "classic",
                            "icons": false },
                "core": { "initially_open": current_nodes }
            });
    [% END %]
});
//]]>
</script>
</head>
<body id="opac-authoritiesdetail">

<div id="doc3" class="yui-t7">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div class="yui-g">
<div id="userauthdetails" class="container">

 <div id="views"><span class="view"><a id="MARCview" href="/cgi-bin/koha/opac-authoritiesdetail.pl?authid=[% authid %]">มุมมองปกติ</a></span> <span class="view"><span id="MARCview">มุมมอง MARC</span></span></div>

[% IF ( displayhierarchy ) %] <div id="hierarchies">
[% PROCESS showhierarchy trees = loophierarchies %] </div>
[% END %] <h1>รายการ [% authtypetext %]</h1>
 <p>ใช้ใน<a href="opac-search.pl?type=opac&amp;q=[% authid %]&amp;idx=an,phr">[% count %] ระเบียน</a></p>
 [% FOREACH Tag0X IN Tab0XX %] <p><b>[% Tag0X.tag %]</b></p>
 <ul>
 [% FOREACH subfiel IN Tag0X.subfield %] <p><b>[% subfiel.marc_lib %]:</b>
 [% IF subfiel.isurl %]<a href="[% subfiel.marc_value %]">[% subfiel.marc_value %]</a>
 [% ELSE %][% subfiel.marc_value %][% END %]</p>
 [% END %] </ul>
 [% END %] </div> 

</div>
</div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %] 