[% USE Koha %]
[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Recent comments
[% INCLUDE 'doc-head-close.inc' %]
<link rel="alternate" href="[% OPACBaseURL %]/cgi-bin/koha/opac-showreviews.pl?format=rss" type="application/rss+xml" title="[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]ความคิดเห็นล่าสุดเกี่ยวกับ[% END %]ทรัพยากรห้องสมุดออนไลน์ของ Koha" />
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    [% IF ( GoogleJackets ) %]KOHA.Google.GetCoverFromIsbn();[% END %]
});
//]]>
</script>
</head>
<body id="opac-showreviews">
[% IF ( OpacNav ) %]<div id="doc3" class="yui-t1">[% ELSE %]<div id="doc3" class="yui-t7">[% END %] <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div id="usershowreviews" class="container">
 <div id="recentcomments" class="searchresults">
<h3>ความคิดเห็นล่าสุด</h3>
<table>
 [% FOREACH review IN reviews %] [% UNLESS ( loop.odd ) %]<tr class="highlight">[% ELSE %]<tr>[% END %] <td>

<p>[% IF ( BiblioDefaultViewmarc ) %]<a href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=[% review.biblionumber |url %]" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% ELSE %] [% IF ( BiblioDefaultViewisbd ) %]<a href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=[% review.biblionumber |url %]" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% ELSE %]<a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% review.biblionumber |url %]#comments" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% END %] [% END %] [% IF ( review.title ) %][% review.title %][% ELSE %]ไม่มีชื่อเรื่อง[% END %] [% FOREACH subtitl IN review.subtitle %] [% subtitl.subfield |html %][% END %]</a>
 [% IF ( review.author ) %]โดย<a href="/cgi-bin/koha/opac-search.pl?q=au:[% review.author |url %]" title="ค้นหางานของผู้แต่งรายนี้" class="author">[% review.author %]</a></p>
 [% END %] <p>
 <span class="results_summary"><span class="label">การพิมพ์:</span>
 [% IF ( review.place ) %][% review.place %] [% END %][% IF ( review.publishercode ) %][% review.publishercode %][% END %][% IF ( review.publicationyear ) %] [% review.publicationyear %] [% ELSE %][% IF ( review.copyrightdate ) %] [% review.copyrightdate %][% END %][% END %] [% IF ( review.pages ) %]. [% review.pages %][% END %] [% IF ( review.notes ) %], [% review.notes %][% END %] [% IF ( review.size ) %] [% review.size %][% END %] </span>
 [% IF ( review.summary ) %] <span class="result_summary">
 [% review.summary %] </span>
 [% END %] [% IF ( review.copyrightdate ) %]<span class="results_summary"><span class="label">วันที่:</span>[% review.copyrightdate %]</span>[% END %]</p>

 <p class="commentline[% IF ( review.your_comment ) %] yours[% END %]">
 [% IF ( review.avatarurl ) %] <img class="avatar" src="[% review.avatarurl %]" height="40" width="40" alt="" />
 [% END %] [% FILTER html_break %] [% review.review |html %] [% END %] <span style="font-size:87%;font-color:#CCC;">เพิ่ม [% review.datereviewed | $KohaDates %] [% IF ( review.your_comment ) %] โดย<strong>คุณ</strong>[% ELSE %] [% IF ( review.borrowernumber && ShowReviewer != "none" ) %] โดย [% SWITCH ShowReviewer %] [% CASE 'full' %] [% review.borrtitle %] [% review.firstname %] [% review.surname %] [% CASE 'first' %] [% review.firstname %] [% CASE 'surname' %] [% review.surname %] [% CASE 'firstandinitial' %] [% review.firstname %] [% review.surname|truncate(2,'.') %] [% CASE 'username' %] [% review.userid %] [% END %] [% END %][% END %]</span></p>
 </td>
 <td>
[% IF ( review.BiblioDefaultViewmarc ) %]<a href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=[% review.biblionumber |url %]" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% ELSE %] [% IF ( review.BiblioDefaultViewisbd ) %]<a href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=[% review.biblionumber |url %]" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% ELSE %]<a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% review.biblionumber |url %]#comments" class="title" title="ดูรายละเอียดของชื่อเรื่องนี้">
 [% END %] [% END %] [% IF ( OPACAmazonCoverImages ) %][% IF ( review.normalized_isbn ) %]<img src="http://images.amazon.com/images/P/[% review.normalized_isbn %].01.TZZZZZZZ.jpg" alt="" class="thumbnail" />[% ELSE %]<span class="no-image">ไม่มีภาพปก</span>[% END %][% END %] [% IF ( SyndeticsEnabled ) %][% IF ( SyndeticsCoverImages ) %][% IF ( using_https ) %] <img src="https://secure.syndetics.com/index.aspx?isbn=[% review.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% review.normalized_upc %]&amp;oclc=[% review.normalized_oclc %]" alt="" class="thumbnail" />
 [% ELSE %] <img src="http://www.syndetics.com/index.aspx?isbn=[% review.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% review.normalized_upc %]&amp;oclc=[% review.normalized_oclc %]" alt="" class="thumbnail" />[% END %][% END %][% END %] [% IF ( GoogleJackets ) %][% IF ( review.normalized_isbn ) %]<div style="block" title="[% review.biblionumber |url %]" class="[% review.normalized_isbn %]" id="gbs-thumbnail[% loop.count %]"></div>[% ELSE %]<span class="no-image">ไม่มีภาพปก</span>[% END %][% END %] </a>
 [% IF ( BakerTaylorEnabled ) %][% IF ( review.normalized_isbn ) %]<a href="https://[% review.BakerTaylorBookstoreURL |html %][% review.normalized_isbn %]"><img alt="ดูที่ Baker & Taylor" src="[% review.BakerTaylorImageURL |html %][% review.normalized_isbn %]" /></a>[% ELSE %]<span class="no-image">ไม่มีภาพปก</span>[% END %][% END %] </td>
 </tr>
 [% END %] </table>
[% IF ( PAGE_NUMBERS ) %]<div class="pages">
 <!-- Row of numbers corresponding to showreviews result pages -->
 [% IF ( previous_page_offset ) %]<a class="nav" href="/cgi-bin/koha/opac-showreviews.pl?offset=[% previous_page_offset %]">&lt;&lt; ก่อนหน้า</a>
 [% ELSE %] [% IF ( previous_page_first ) %]<a class="nav" href="/cgi-bin/koha/opac-showreviews.pl?offset=0">&lt;&lt; ก่อนหน้า</a>[% END %] [% END %] [% FOREACH PAGE_NUMBER IN PAGE_NUMBERS %][% IF ( PAGE_NUMBER.highlight ) %]<span class="current">[% PAGE_NUMBER.pg %]</span>[% ELSE %]<a class="nav" href="/cgi-bin/koha/opac-showreviews.pl?offset=[% PAGE_NUMBER.offset %]">[% PAGE_NUMBER.pg %]</a>[% END %] [% END %] [% IF ( next_page_offset ) %]<a class="nav" href="/cgi-bin/koha/opac-showreviews.pl?offset=[% next_page_offset %]">ถัดไป &gt;&gt;</a>[% END %] </div>[% END %] </div>
</div>
</div>
[% IF ( OpacNav ) %] <div class="yui-b"><div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' %] </div></div>
[% END %] </div>
[% INCLUDE 'opac-bottom.inc' %] 