[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Acquisitions &rsaquo; [% IF ( booksellername ) %]Orders with uncertain prices for vendor [% booksellername %][% ELSE %]Orders with uncertain prices[% END %]</title>
<link rel="stylesheet" type="text/css" href="[% themelang %]/css/datatables.css" />
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.dataTables.min.js"></script>
[% INCLUDE 'datatables-strings.inc' %]
<script type="text/javascript" src="[% themelang %]/js/datatables.js"></script>
<script type="text/javascript">
//<![CDATA[
 $(document).ready(function() {
    var uncertainpricet = $("#uncertainpricet").dataTable($.extend(true, {}, dataTablesDefaults, {
        "aoColumnDefs": [
            { "aTargets": [ -1, -2, -3 ], "bSortable": false, "bSearchable": false },
        ],
        "sPaginationType": "four_button"
    } ) );
 });
var MSG_INVALIDPRICE = _("ERROR: Price is not a valid number, please check the price and try again!");
 //]]>
</script>
<script type="text/javascript" src="[% themelang %]/js/acq.js"></script>
<script type="text/javascript">
//<![CDATA[
function check(form) {
    form.submit();
}
//]]>
</script>
</head>
<body id="acq_uncertainprice" class="acq">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'acquisitions-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; [% IF ( booksellername ) %]<a href="/cgi-bin/koha/acqui/supplier.pl?booksellerid=[% booksellerid %]">[% booksellername %]</a> &rsaquo; Uncertain prices for vendor [% booksellername %][% ELSE %]Uncertain prices[% END %]</div>

<div id="doc3" class="yui-t2">

 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">

[% INCLUDE 'acquisitions-toolbar.inc' %]
 [% IF ( validate ) %]
 <META HTTP-EQUIV=Refresh CONTENT="0; url=[% scriptname %]?booksellerid=[% booksellerid %]">
 [% ELSE %]
 [% IF ( booksellername ) %]
 <h1>Orders with uncertain prices for vendor <a href="/cgi-bin/koha/acqui/supplier.pl?booksellerid=[% booksellerid %]">[% booksellername %]</a></h1>
 <h2>Contact information</h2>
 <p><strong>Address: </strong>
 [% booksellerpostal %]
 [% bookselleraddress1 %]
 [% bookselleraddress2 %]
 [% bookselleraddress3 %]
 [% bookselleraddress4 %]
 <a href="[% booksellerurl %]">[% booksellerurl %]</a>
 </p>
 <p><strong>Phone: </strong>
 [% booksellerphone %] / Fax:
 [% booksellerfax %]</p>
 <dl>
 <dt><strong>Contact: </strong></dt>
 <dd>[% booksellercontact %]
 [% booksellercontpos %]
 [% booksellercontphone %]
 [% booksellercontaltphone %]
 [% booksellercontemail %]
 [% booksellercontnotes %]
 </dd>
 </dl>
 [% IF ( booksellernotes ) %]
 <p><strong>Notes: </strong>
 [% booksellernotes %]</p>
 [% END %]
 [% END %]

 <h2>Orders with uncertain prices</h2>
 <form action="[% scriptname %]" method="post" name="uncertainprices">
 <input type="hidden" name="booksellerid" value="[% booksellerid %]" />
 Orders from:
 <select name="owner">
 [% IF ( owner ) %]
 <option value="0">Everyone</option>
 <option value="1" selected="selected">me</option>
 [% ELSE %]
 <option value="0" selected="selected">Everyone</option>
 <option value="1">me</option>
 [% END %]
 </select>
 <input type="submit" value="Filter" />
 </form>
 <form action="[% scriptname %]" method="post" name="uncertainprices">
 <input type="hidden" name="booksellerid" value="[% booksellerid %]" />
 <input type="hidden" name="op" value="validate" />
 <table id="uncertainpricet">
 <thead>
 <tr>
 <th>Basket</th>
 <th>Order</th>
 <th>By</th>
 <th>Uncertain</th>
 <th>Price</th>
 <th>Quantity</th>
 </tr>
 </thead>
 <tbody>
 [% FOREACH uncertainpriceorder IN uncertainpriceorders %]
 <tr>
 <td>
 [% uncertainpriceorder.basketname %]
 </td>
 <td>
 [% uncertainpriceorder.bibtitle %] / [% uncertainpriceorder.bibauthor %] <br /> [% uncertainpriceorder.bibpublishercode %], [% uncertainpriceorder.bibpublicationyear %]<br />[% uncertainpriceorder.bibisbn %]<br />
 <a href="neworderempty.pl?ordernumber=[% uncertainpriceorder.ordernumber %]&amp;booksellerid=[% booksellerid %]&amp;basketno=[% uncertainpriceorder.basketno %]">
 edit
 </a>
 </td>
 <td>
 [% uncertainpriceorder.firstname %] [% uncertainpriceorder.surname %]
 </td>
 <td>
 <input type="checkbox" name="uncertainprice[% uncertainpriceorder.ordernumber %]" value="1" checked="checked" />
 </td>
 <td>
 <input type="text" size="10" name="price[% uncertainpriceorder.ordernumber %]" value="[% uncertainpriceorder.listprice %]"
	                                        onchange="uncheckbox(this.form, [% uncertainpriceorder.ordernumber %]);" />
 </td>
 <td>
 
 <input type="text" size="10" name="qty[% uncertainpriceorder.ordernumber %]" value="[% uncertainpriceorder.quantity %]"
	                                        onchange="uncheckbox(this.form, [% uncertainpriceorder.ordernumber %]);" />
 </td>
 </tr>
 [% END %]
 </tbody>
 </table>
 <fieldset class="action"><input type="button" value="Save" onclick="check(this.form)" /></fieldset>
 </form>
 [% END %]

</div>
</div>
<div class="yui-b">
[% INCLUDE 'vendor-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
