[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Serials &rsaquo; Subscription information for [% bibliotitle %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="ser_serial-issues" class="ser">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'serials-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Subscription information for <i>[% bibliotitle %]</i></div>

<div id="doc3" class="yui-t2">
 
 <div id="bd">
 <div id="yui-main">
 <div class="yui-b">

<h1>Subscription information for <i>[% bibliotitle %]</i></h1>
<div id="action">
 <a href="/cgi-bin/koha/serials/serials-search.pl?biblionumber=[% biblionumber %]">Subscriptions</a>
 <a href="/cgi-bin/koha/catalogue/MARCdetail.pl?biblionumber=[% biblionumber %]">Back to biblio</a>
 <a href="/cgi-bin/koha/serials/serial-issues.pl?biblionumber=[% biblionumber %]&amp;selectview=full">Complete view</a>
</div>
[% FOREACH subscription_LOO IN subscription_LOOP %]
 <div id="serials_serial_issue_[% subscription_LOO.subscriptionid %]">
 <h2>Subscription summary</h2>
 <p>It began on <b>[% subscription_LOO.histstartdate %]</b> and is issued every
 <b>
 [% IF ( subscription_LOO.periodicity1 ) %]
 day
 [% END %]
 [% IF ( subscription_LOO.periodicity2 ) %]
 week
 [% END %]
 [% IF ( subscription_LOO.periodicity3 ) %]
 2 weeks
 [% END %]
 [% IF ( subscription_LOO.periodicity4 ) %]
 3 weeks
 [% END %]
 [% IF ( subscription_LOO.periodicity5 ) %]
 month
 [% END %]
 [% IF ( subscription_LOO.periodicity6 ) %]
 2 months
 [% END %]
 [% IF ( subscription_LOO.periodicity7 ) %]
 3 months
 [% END %]
 [% IF ( subscription_LOO.periodicity8 ) %]
 quarter
 [% END %]
 [% IF ( subscription_LOO.periodicity9 ) %]
 2 quarters
 [% END %]
 [% IF ( subscription_LOO.periodicity10 ) %]
 year
 [% END %]
 [% IF ( subscription_LOO.periodicity11 ) %]
 2 years
 [% END %]
 </b>
 [% IF ( subscription_LOO.arrival1 ) %]
 on <b>Monday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival2 ) %]
 on <b>Tuesday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival3 ) %]
 on <b>Wednesday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival4 ) %]
 on <b>Thursday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival5 ) %]
 on <b>Friday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival6 ) %]
 on <b>Saturday</b>
 [% END %]
 [% IF ( subscription_LOO.arrival7 ) %]
 on <b>Sunday</b>
 [% END %]
 for <b>
 [% IF ( subscription_LOO.numberlength ) %][% subscription_LOO.numberlength %] issues[% END %]
 [% IF ( subscription_LOO.weeklength ) %][% subscription_LOO.weeklength %] weeks[% END %]
 [% IF ( subscription_LOO.monthlength ) %][% subscription_LOO.monthlength %] months[% END %]
 </b>
 </p>
 <p>Last renewal of subscription was <b>[% subscription_LOO.startdate %]</b></p>
 [% IF ( subscription_LOO.enddate ) %]<p><b>This subscription is now ended. The last issue was received on [% subscription_LOO.enddate %]</b></p>[% END %]
 [% UNLESS ( subscription_LOO.fullinfo ) %]
 <p>[% subscription_LOO.notes %]</p>
 [% IF ( subscription_LOO.opacnote ) %]
 <h2>Issues summary</h2>
 <p>
 [% subscription_LOO.opacnote %]
 </p>
 [% END %]
 [% IF ( subscription_LOO.recievedlist ) %]
 <h2>Received issues</h2>
 <p>
 [% subscription_LOO.recievedlist %]
 </p>
 [% END %]
 [% IF ( subscription_LOO.missinglist ) %]
 <h2>Missing issues</h2>
 <p>
 [% subscription_LOO.missinglist %]
 </p>
 [% END %]
 </div>
 [% END %]
[% END %]

</div>
</div>

<div class="yui-b">
[% INCLUDE 'serials-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
