[% USE Koha %]
[% USE KohaAuthorisedValues %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo;
[% IF ( op_add ) %]Enter a new purchase suggestion[% END %]
[% IF ( op_else ) %]Purchase Suggestions[% END %]
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
//<![CDATA[
$.tablesorter.addParser({
    id: 'articles', 
    is: function(s) {return false;  }, 
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); }, 
    type: 'text' 
});
[% IF ( loggedinusername ) %]function enableCheckboxActions(){
    // Enable/disable controls if checkboxes are checked
    var checkedBoxes = $(".checkboxed input:checkbox:checked");
    if ($(checkedBoxes).size()) {
      $("#selections").html(_("พร้อมข้อเสนอแนะที่เลือก:"));
      $("#selections-toolbar .links a").removeClass("disabled");
    } else {
      $("#selections").html(_("ลือกข้อเสนอแนะเพื่อ:"));
      $("#selections-toolbar .links a").addClass("disabled");
    }
}[% END %]

       $(function() {
			$("#suggestt").tablesorter({
				widgets : ['zebra'],
				[% IF ( loggedinusername ) %]sortList: [[1,0]],[% ELSE %]sortList: [[0,0]],[% END %]
		        headers: {
				[% IF ( loggedinusername ) %]
					[% IF ( OPACViewOthersSuggestions ) %]
					0: { sorter: false },2: { sorter: 'articles' },2: {sorter: false },4: {sorter: false},5:{sorter:false}
					[% ELSE %]
					0: { sorter: false },2: { sorter: 'articles' },2: {sorter: false },3: {sorter: false},4:{sorter:false}
					[% END %]
				[% ELSE %]
				[% IF ( OPACViewOthersSuggestions ) %]
					0: { sorter: 'articles' },1: {sorter: false },3: {sorter: false},4:{sorter:false}
					[% ELSE %]
					0: { sorter: 'articles' },1: {sorter: false },2: {sorter: false},3:{sorter:false}
					[% END %]
				[% END %]
				}
            });
            [% IF ( loggedinusername ) %]$("span.clearall").html("<a id=\"CheckNone\" href=\"#\">"+_("ล้างทั้งหมด")+"<\/a>");
            $("span.checkall").html("<a id=\"CheckAll\" href=\"#\">"+_("เลือกทั้งหมด")+"<\/a>");
            $("#CheckAll").click(function(){
                $(".checkboxed").checkCheckboxes();
                enableCheckboxActions();
                return false;
            });
            $("#CheckNone").click(function(){
                $(".checkboxed").unCheckCheckboxes();
                enableCheckboxActions();
                return false;
            });
            $(".cb").click(function(){
              enableCheckboxActions();
            });
            $("#removeitems").html("<a href=\"#\" class=\"removeitems tag_hides disabled\">"+_("ลบ")+"</a>")
            .click(function(){
              $("#myform").submit();
              return false;
            });
            enableCheckboxActions();
            [% END %]
       });

      function Check(f) {
		var _alertString="";
		var alertString2;

	    if(f.title.value.length ==0){
			_alertString += _("- คุณต้องป้อนชื่อเรื่อง") + "\n";
		}

		if (_alertString.length==0) {
			f.submit();
		} else {
			alertString2 = _("ไม่มีการส่งแบบฟอร์มเนื่องจากปัญหาต่อไปนี้");
			alertString2 += "\n------------------------------------------------------------------------------------\n\n";
			alertString2 += _alertString;
			alert(alertString2);
		}
	}
//]]>
</script>
</head>
[% IF ( loggedinusername ) %]<body id="opac-usersuggestions">[% ELSE %]<body id="opac-suggestions">[% END %] <div id="doc3" class="yui-t1">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div class="yui-g">
<div id="usersuggestions" class="container">
[% IF ( op_add ) %] <h1>ใส่ข้อมูลข้อเสนอแนะเพื่อสั่งซื้อหนังสือใหม่</h1>

 <p>โปรดกรอกแบบฟอร์มนี้เพื่อแนะนำให้สั่งซื้อ คุณจะได้รับอีเมลแจ้งเมื่อห้องสมุดดำเนินการตามการแนะนำของคุณแล้ว</p>
 <p>ต้องระบุชื่อเรื่องเท่านั้น แต่ข้อมูลเพิ่มเติมที่คุณป้อนไว้จะช่วยให้บรรณารักษ์สามารถค้นหาชื่อเรื่องที่คุณร้องขอได้ง่ายขึ้น โดยฟิลด์ "หมายเหตุ" สามารถใช้สำหรับระบุข้อมูลเพิ่มเติมได้</p>
 <form action="/cgi-bin/koha/opac-suggestions.pl" method="post">
 <fieldset class="rows"> <ol>
 <li><label class="required" for="title">ชื่อเรื่อง:</label><input type="text" id="title" name="title" size="80" maxlength="255" /></li>
 <li><label for="author">ชื่อผู้แต่ง:</label><input type="text" id="author" name="author" size="50" maxlength="80" /></li>
 <li><label for="copyrightdate">วันที่จดสิขสิทธิ์:</label><input type="text" id="copyrightdate" name="copyrightdate" size="4" maxlength="4" /></li>
 <li><label for="isbn">เลขมาตรฐาน (ISBN, ISSN หรืออื่นๆ):</label><input type="text" id="isbn" name="isbn" size="50" maxlength="80" /></li>
 <li><label for="publishercode">สำนักพิมพ์:</label><input type="text" id="publishercode" name="publishercode" size="50" maxlength="80" /></li>
 <li><label for="collectiontitle">ชื่อหมวดหมู่:</label><input type="text" id="collectiontitle" name="collectiontitle" size="50" maxlength="80" /></li>
 <li><label for="place">สถานที่พิมพ์:</label><input type="text" id="place" name="place" size="50" maxlength="80" /></li>
 <li><label for="itemtype">ชนิดรายการ:</label><select name="itemtype" id="itemtype">
 <option value="">ค่าที่ตั้งไว้</option>
 [% FOREACH itemtypeloo IN itemtypeloop %] [% IF ( itemtypeloo.selected ) %]<option value="[% itemtypeloo.itemtype %]" selected="selected"> [% ELSE %]<option value="[% itemtypeloo.itemtype %]"> [% END %] [% itemtypeloo.description %]</option>
 [% END %] </select> </li>
 [% IF ( branchloop ) %] <li><label for="branch">ห้องสมุด:</label>
 <select name="branch" id="branch">
 [% FOREACH branchloo IN branchloop %] [% IF ( branchloo.selected ) %] <option value="[% branchloo.branchcode %]" selected="selected">[% branchloo.branchname %]</option>
 [% ELSE %] <option value="[% branchloo.branchcode %]">[% branchloo.branchname %]</option>
 [% END %] [% END %] </select>
 </li>
 [% END %] [% IF ( patron_reason_loop ) %]<li><label for="patronreason">เหตุของของการแนะนำ:</label><select name="patronreason" id="patronreason"><option value="">-- เลือก --</option>[% FOREACH patron_reason_loo IN patron_reason_loop %] <option value="[% patron_reason_loo.authorised_value %]">[% patron_reason_loo.lib %]</option>
 [% END %]</select></li>[% END %] <li><label for="note">หมายเหตุ:</label><textarea name="note" id="note" rows="5" cols="40"></textarea></li>
 </ol></fieldset>
 <fieldset class="action"><input type="hidden" name="suggestedby" value="[% suggestedbyme %]" /><input type="hidden" name="op" value="add_confirm" /><input value="ส่งข้อเสนอแนะของคุณ" type="submit" onclick="Check(this.form); return false;" /> <a class="action" href="/cgi-bin/koha/opac-suggestions.pl">ยกเลิก</a></fieldset>
 </form>

[% END %] [% IF ( op_else ) %] <h1>[% IF ( OPACViewOthersSuggestions ) %]ข้อเสนอแนะการสั่งซื้อ[% ELSE %][% IF ( loggedinusername ) %]ข้อเสนอแนะการสั่งซื้อของฉัน[% ELSE %]ข้อเสนอแนะการสั่งซื้อ[% END %][% END %]</h1>

 [% IF ( deleted ) %]<div class="dialog message">ข้อเสนอแนะที่เลือกถูกลบแล้ว</div>[% END %] [% IF ( submitted ) %]<div class="dialog message">ข้อเสนอแนะของคุณถูกส่งแล้ว</div>[% END %] [% IF ( suggestions_loop ) %] [% IF ( OPACViewOthersSuggestions ) %] <form action="/cgi-bin/koha/opac-suggestions.pl" method="get">
 <table>
 <tr>
 <th>
 ค้นหา:</th>
 <td>
 <input type="text" name="title" value="[% title |html %]" />
 </td>
 <th>
 เสนอแนะโดย:</th>
 <td>
 <select name="suggestedby">
 <option value="0">ไม่จำกัดผู้ใช้</option>
 <option value="1">ฉันเอง</option>
 </select>
 </td>
 <th>
 <input value="ค้นหา" type="submit" />
 </th>
 </tr>
 </table>
 </form>[% END %] <form action="/cgi-bin/koha/opac-suggestions.pl" method="post" id="myform">
 <input type="hidden" name="op" value="delete_confirm" />
 <div id="toolbar" class="list-actions">[% IF ( loggedinusername ) %]<a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">รายการแนะนำการสั่งซื้อใหม่</a>[% ELSE %][% IF ( AnonSuggestions ) %]<a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">รายการแนะนำการสั่งซื้อใหม่</a>[% END %][% END %] </div>
 [% IF ( loggedinusername ) %]<div id="selections-toolbar" class="list-actions">
 <span class="checkall"></span> <span class="clearall"></span> <span class="sep">|</span>
 <span class="links"><span id="selections">ลือกข้อเสนอแนะเพื่อ:</span>
 <span id="removeitems"></span>
 </div>[% END %] <table id="suggestt" class="checkboxed">
 <thead><tr>
 [% IF ( loggedinusername ) %]<th>&nbsp;</th>[% END %] <th>บทสรุป</th>
 <th>หมายเหตุ</th>
 [% IF ( OPACViewOthersSuggestions ) %]<th>เสนอแนะสำหรับ</th>[% END %] <th>จัดการโดย</th>
 <th>สถานะ</th>
 </tr></thead>
 <tbody>[% FOREACH suggestions_loo IN suggestions_loop %] [% IF ( suggestions_loo.even ) %]<tr>[% ELSE %]<tr class="highlight">[% END %] [% IF ( loggedinusername ) %]<td>
 [% IF ( suggestions_loo.showcheckbox ) %] <input type="checkbox" class="cb" name="delete_field" value="[% suggestions_loo.suggestionid %]" />
 [% END %] </td>[% END %] <td>
 <p><strong>[% suggestions_loo.title |html %]</strong></p>
 <p>[% IF ( suggestions_loo.author ) %][% suggestions_loo.author %],[% END %] [% IF ( suggestions_loo.copyrightdate ) %] - [% suggestions_loo.copyrightdate %],[% END %] [% IF ( suggestions_loo.publishercode ) %] - [% suggestions_loo.publishercode %][% END %] [% IF ( suggestions_loo.place ) %]([% suggestions_loo.place %])[% END %] [% IF ( suggestions_loo.collectiontitle ) %] , [% suggestions_loo.collectiontitle %][% END %] [% IF ( suggestions_loo.itemtype ) %] - [% suggestions_loo.itemtype %][% END %] </p>
 </td>
 <td>
 [% suggestions_loo.note %] </td>
 [% IF ( OPACViewOthersSuggestions ) %]<td>
 [% IF ( suggestions_loo.branchcodesuggestedby ) %][% suggestions_loo.branchcodesuggestedby %][% ELSE %]&nbsp;[% END %] </td>[% END %] <td>
 [% IF ( suggestions_loo.surnamemanagedby ) %][% suggestions_loo.surnamemanagedby %][% IF ( suggestions_loo.firstnamemanagedby ) %],[% END %] [% suggestions_loo.firstnamemanagedby %][% ELSE %]&nbsp;[% END %] </td>
 <td>
 [% IF ( suggestions_loo.ASKED ) %]ร้องขอแล้ว[% END %] [% IF ( suggestions_loo.CHECKED ) %]ตรวจสอบโดยห้องสมุด[% END %] [% IF ( suggestions_loo.ACCEPTED ) %]ยอมรับโดยห้องสมุด[% END %] [% IF ( suggestions_loo.ORDERED ) %]สั่งซื้อโดยห้องสมุด[% END %] [% IF ( suggestions_loo.REJECTED ) %]ข้อเสนอแนะถูกปฏิเสธ [% END %] [% IF ( suggestions_loo.AVAILABLE ) %]มีในห้องสมุด[% END %] [% IF ( suggestions_loo.reason ) %]([% suggestions_loo.reason %])[% END %]</td>
 </tr>
 [% END %] </tbody>
 </table> [% IF ( loggedinusername ) %]<fieldset class="action">
 <input value="ลบรายการที่เลือก" type="submit" />
 </fieldset>
 [% END %] </form>
 [% ELSE %]<p>ไม่มีข้อเสนอแนะการสั่งซื้อที่ค้างอยู่</p> [% IF ( loggedinusername ) %]<p><a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">รายการแนะนำการสั่งซื้อใหม่</a></p>[% ELSE %][% IF ( AnonSuggestions ) %]<p><a class="new" href="/cgi-bin/koha/opac-suggestions.pl?op=add">รายการแนะนำการสั่งซื้อใหม่</a></p>[% END %][% END %][% END %] [% END %] </div>
</div>
</div>
</div>
<div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' IsPatronPage=1 %] </div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %] 