[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Your privacy management
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="opac-privacy">
<div id="doc3" class="yui-t1">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div class="yui-g">
 <div id="userprivacy" class="container">
 <h3><a href="/cgi-bin/koha/opac-user.pl">[% firstname %] บัญชีผู้ใช้ของ [% surname %]</a> &#8674; นโยบายความเป็นส่วนตัว</h3>

 [% IF ( deleted ) %] <div class="dialog message">ประวัติการอ่านของคุณถูกลบออกแล้ว</div>
 [% ELSIF ( err_history_not_deleted ) %] <div class="dialog alert">การลบประวัติการอ่านของคุณล้มเหลว เนื่องจากเกิดปัญหาในการกำหนดค่าคุณลักษณะนี้ โปรดช่วยแก้ไขระบบด้วยการแจ้งข้อผิดพลาดนี้ให้ห้องสมุดของคุณทราบ</div>
 [% END %] [% IF ( privacy_updated ) %] <div class="dialog message">กฎความเป็นส่วนตัวของคุณได้รับการปรับปรุงแล้ว</div>
 [% END %] <div id="userprivacyrules" class="container">
 <h2>กฎความเป็นส่วนตัว</h2>
 [% IF ( Ask_data ) %] <p>เรายึดมั่นในการป้องกันความเป็นส่วนตัวของคุณ บนหน้าจอนี้ คุณสามารถกำหนดระยะเวลาที่จะให้เราเก็บประวัติการอ่านของคุณไว้ได้</p>
 <p>ตัวเลือกของคุณคือ:<p>
 <ul id="opac-privacy-options-list">
 <li class="privacy0">ตลอดไป: เก็บประวัติการอ่านของฉันโดยไม่มีระยะเวลาจำกัด ตัวเลือกนี้สำหรับผู้ใช้ที่ต้องการเก็บประวัติสิ่งที่พวกเขากำลังอ่านอยู่</li>
 <li class="privacy1">ค่าที่ตั้งไว้: เก็บประวัติการอ่านของฉันไว้ตามข้อกำหนดของกฎหมายท้องถิ่น นี่เป็นตัวเลือกที่ตั้งไว้: ห้องสมุดจะเก็บประวัติการอ่านของคุณไว้ตามระยะเวลาที่กฎหมายท้องถิ่นได้ระบุไว้</li>
 <li class="privacy2">ไม่ต้อง: ลบประวัติการอ่านของฉันทันที ตัวเลือกนี้จะลบระเบียนทั้งหมดของรายการที่ถูกยืมเมื่อมีการส่งคืน</li>
 </ul>
 <p id="note1">โปรดทราบว่าห้องสมุดจะต้องเก็บข้อมูลเกี่ยวกับหนังสือที่ถูกยืมอยู่ไว้ไม่ว่าคุณจะเลือกตัวเลือกความเป็นส่วนตัวระดับใดไว้ก็ตาม</p>
 <p id="note2">โปรดทราบว่าเจ้าหน้าที่ห้องสมุดไม่สามารถปรับปรุงค่าเหล่านี้ให้ได้: เนื่องจากเป็นข้อมูลส่วนบุคคลของคุณ!</p>
 </div>
 <form action="/cgi-bin/koha/opac-privacy.pl" method="post" id="opac-privacy-update-form">
 <input type="hidden" name="op" value="update_privacy" />
 <label for:"privacy">โปรดเลือกกฎความเป็นส่วนตัวของคุณ:</label>
 <select name="privacy">
 [% IF ( privacy0 ) %] <option value="0" selected="1" class="privacy0">ตลอดไป</option>
 [% ELSE %] <option value="0" class="privacy0">ตลอดไป</option>
 [% END %] [% IF ( privacy1 ) %] <option value="1" selected="1" class="privacy1">ค่าที่ตั้งไว้</option>
 [% ELSE %] <option value="1" class="privacy1">ค่าที่ตั้งไว้</option>
 [% END %] [% IF ( privacy2 ) %] <option value="2" selected="1" class="privacy2">ไม่ต้อง</option>
 [% ELSE %] <option value="2" class="privacy2">ไม่ต้อง</option>
 [% END %] </select>
 <input value="ตกลง" type="Submit" />
 </form>
 <h2>การลบทันที</h2>
 <form action="/cgi-bin/koha/opac-privacy.pl" method="post" id="opac-privacy-delete-form">
 <input type="hidden" name="op" value="delete_record" />
 <p>ไม่ว่าคุณจะเลือกกฎความเป็นส่วนตัวระดับใดไว้ คุณสามารถลบประวัติการอ่านทั้งหมดของคุณได้ทันทีด้วยการคลิกที่นี่<b>โปรดระมัดระวัง</b> เมื่อคุณยืนยันการลบแล้ว จะไม่มีใครสามารถเรียกดูรายการหนังสือได้!</p>
 <input value="การลบทันที" type="submit" onclick="return confirmDelete(MSG_CONFIRM_AGAIN);" />
 </form>
 [% END %] </div>
</div>
</div>
</div>
<div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' IsPatronPage=1 %] </div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %] 