[% SET TagsInputEnabled = ( opacuserlogin && TagsEnabled && TagsInputOnList ) %] [% INCLUDE 'doc-head-open.inc' %] [% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]ทรัพยากรห้องสมุดของ[% END %] Koha &rsaquo; รถเข็นหนังสือของคุณ [% IF ( print_basket ) %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="[% themelang %]/includes/favicon.ico" type="image/x-icon" />
<meta http-equiv="Content-Language" content="en-us" />
<script type="text/javascript" src="[% themelang %]/lib/jquery/jquery.js"></script>
 <script type="text/javascript">
    //<![CDATA[
    var IEprint=0;
    $(document).ready(function(){
        if(navigator.appName.indexOf("Internet Explorer")>-1) {
        // too bad that we need this trick to make printing work in IE...
            window.setTimeout(function () {IE_Print_Page();}, 500);
        }
        else {
            print();
            location.href="/cgi-bin/koha/opac-basket.pl?bib_list=[% bib_list %][% IF ( verbose ) %]&verbose=1[% END %]";
        }
    });
    function IE_Print_Page() {
        if(IEprint==0) {
            IEprint++;
            window.print(); // IE needs the window object here
            window.onfocus=function() { // focus will not work in Firefox a.o.
                location.href="/cgi-bin/koha/opac-basket.pl?bib_list=[% bib_list %][% IF ( verbose ) %]&verbose=1[% END %]"; }
        }
    }
    //]]>
    </script>
<style type="text/css">
    @import url([% themelang %]/css/print.css);
</style>
 [% ELSE %][% INCLUDE 'doc-head-close.inc' %] <script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
 <script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
 <script type="text/javascript">
    //<![CDATA[

$.tablesorter.addParser({
    // set a unique id
    id: 'links',
    is: function(s)
    {
        // return false so this parser is not auto detected
        return false;
    },
    format: function(s)
    {
        // format your data for normalization
        return s.replace(new RegExp(/<.*?>/),"");
    },
    // set type, either numeric or text
    type: 'text'
});

$(document).ready(function()
    {
        $("#itemst").tablesorter({
                        headers: { 0: { sorter: false }, 1: {sorter: 'links'}, 4:{sorter:false}}
                });
    $(".cb").click(function(){
      enableCheckboxActions();
    });
    enableCheckboxActions();
    }
);

[% IF ( TagsInputEnabled && loggedinusername ) %]
function tagSelected() {
    var bibs = document.getElementById('records').value;
    if (bibs) {
        $("#tagsel_tag").hide();
        $("#tag_hides").hide();
        $("#tagsel_form").show();
    } else {
        alert(MSG_NO_RECORD_SELECTED);
    }
}

function tagCanceled() {
    $("#tagsel_form").hide();
    $("#tagsel_tag").show();
    $("#tag_hides").show();
    $("#tagsel_new").val("");
    $(".tagstatus").empty().hide();
}

function tagAdded() {
    var checkedBoxes = $("input:checkbox:checked");
    if (!$(checkedBoxes).size()) {
        alert(MSG_NO_RECORD_SELECTED);
        return false;
    }

    var tag = $("#tagsel_new").val();
    if (!tag || (tag == "")) {
        alert(MSG_NO_TAG_SPECIFIED);
        return false;
    }

    var bibs = [];
    for (var i = 0; i < $(checkedBoxes).size(); i++) {
        var box = $(checkedBoxes).get(i);
        bibs[i] = $(box).val();
    }

    KOHA.Tags.add_multitags_button(bibs, tag);
    return false;
}
[% END %]
    $(document).ready(function(){
        $("#CheckAll").click(function(){
            var checked = [];
            $(".checkboxed").checkCheckboxes("*", true).each(
                function() {
                    selRecord(this.value,true);
                }
            );
            enableCheckboxActions();
            return false;
        });
        $("#CheckNone").click(function(){
        var checked = [];
        $(".checkboxed").unCheckCheckboxes("*",true).each(
            function() {
                selRecord(this.value,false);
            }
        );
        enableCheckboxActions();
            return false;
        });

    });

function enableCheckboxActions(){
    // Enable/disable controls if checkboxes are checked
    var checkedBoxes = $(".checkboxed input:checkbox:checked");
    if ($(checkedBoxes).size()) {
      $("#selections").html(_("พร้อมชื่อเรื่องที่เลือก:"));
      $("#selections-toolbar .links a").removeClass("disabled");
    } else {
      $("#selections").html(_("เลือกชื่อเรื่องเพื่อ:"));
      $("#selections-toolbar .links a").addClass("disabled");
    }
}
    //]]>
    </script>
 [% END %] </head>
<body id="basket" class="popup">

<div id="doc" class="yui-t7">
<div id="userbasket" class="container">
<h2>กล่องรายการที่เลือกของคุณ</h2>

[% UNLESS ( print_basket ) %] <div id="toolbar">
<ul>
 <li>[% IF ( verbose ) %]<a href="opac-basket.pl" class="brief" onclick="showLess(); return false;">แสดงผลอย่างย่อ</a>[% ELSE %]<a href="opac-basket.pl" class="detail" onclick="showMore(); return false;">รายละเอียดเพิ่มเติม</a>[% END %]</li>
 [% IF ( opacuserlogin ) %]<li><a class="send" href="opac-basket.pl" onclick="sendBasket(); return false;">ส่งข้อมูล</a></li>[% END %] <li><a class="download" href="opac-basket.pl" onclick="downloadBasket(); return false;">ดาวน์โหลด</a></li>
 <li><a class="print" href="opac-basket.pl" onclick="printBasket(); return false;">พิมพ์</a></li>
 <li><a class="empty" href="opac-basket.pl" onclick="delBasket(); return false;">ลบทั้งหมดแล้วปิด</a></li>
 <li><a class="hide close" href="opac-basket.pl">ซ่อนหน้าต่าง</a></li>
</ul>
</div>
[% END %] [% UNLESS ( print_basket ) %] <div id="selections-toolbar">
 <a id="CheckAll" href="#">เลือกทั้งหมด</a>
 <a id="CheckNone" href="#">ล้างทั้งหมด</a>
 <span class="sep">|</span>
 <span class="links" id="tag_hides">
 <span id="selections">เลือกชื่อเรื่องเพื่อ:</span>
 <a href="#" class="deleteshelf disabled" onclick="delSelRecords(); return false;">เอาออก</a>
 [% IF ( opacuserlogin ) %] [% IF ( virtualshelves ) %][% IF ( loggedinusername ) %] <a href="#" class="newshelf disabled" onclick="addSelToShelf(); return false;">เพิ่มไปยังรายการ</a>
 [% END %][% END %] [% IF ( RequestOnOpac ) %]<a href="#" class="hold disabled" onclick="holdSel(); return false;">ทำการจอง</a>[% END %] [% IF ( TagsInputEnabled && loggedinusername ) %] <a href="#" id="tagsel_tag" class="disabled" onclick="tagSelected(); return false;">แท็ก</a>
 [% END %] [% END %] </span>
 [% IF ( TagsInputEnabled && loggedinusername ) %] <span id="tagsel_form" style="display:none">
 <label for="tagsel_new">แท็กใหม่:</label>
 <input name="tagsel_new" id="tagsel_new" maxlength="100" />
 <input value="เพิ่ม" name="tagsel_button" id="tagsel_button" class="input tagsel_button" title="เพิ่ม" type="submit" onclick="tagAdded(); return false;" />
 <a href="#" id="tagsel_cancel" onclick="tagCanceled(); return false;">ยกเลิก</a>
 </span>
 [% END %] </div>
[% END %] [% IF ( verbose ) %] <form action="opac-basket.pl" method="get" name="bookbag_form" id="bookbag_form" class="checkboxed">
 [% FOREACH BIBLIO_RESULT IN BIBLIO_RESULTS %] <h3>
 [% IF ( print_basket ) %] [% BIBLIO_RESULT.title |html %] [% IF ( BIBLIO_RESULT.subtitle ) %] [% FOREACH subtitl IN BIBLIO_RESULT.subtitle %] [% subtitl.subfield |html %] [% END %][% END %] [% IF ( BIBLIO_RESULT.author ) %] [% BIBLIO_RESULT.author |html %][% END %] [% ELSE %] <input type="checkbox" class="cb" value="[% BIBLIO_RESULT.biblionumber %]" name="bib[% BIBLIO_RESULT.biblionumber %]" id="bib[% BIBLIO_RESULT.biblionumber %]" onclick="selRecord(value,checked)" />
 [% BIBLIO_RESULT.title |html %] [% IF ( BIBLIO_RESULT.subtitle ) %] [% FOREACH subtitl IN BIBLIO_RESULT.subtitle %] [% subtitl.subfield |html %] [% END %][% END %] [% IF ( BIBLIO_RESULT.author ) %] [% BIBLIO_RESULT.author |html %][% END %] [% END %] </h3>
 <!-- COinS / Openurl -->
 <span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.au=[% BIBLIO_RESULT.author %]&amp;rft.btitle=[% BIBLIO_RESULT.title |url %]&amp;rft.date=[% BIBLIO_RESULT.publicationyear %]&amp;rft.tpages=[% BIBLIO_RESULT.size %]&amp;rft.isbn=[% BIBLIO_RESULT.isbn |url %]&amp;rft.aucorp=&amp;rft.place=[% BIBLIO_RESULT.place %]&amp;rft.pub=[% BIBLIO_RESULT.publisher |url %]&amp;rft.edition=[% BIBLIO_RESULT.edition %]&amp;rft.series=[% BIBLIO_RESULT.series %]&amp;rft.genre="></span>
 <table>
 [% IF ( BIBLIO_RESULT.isbn ) %] <tr>
 <th scope="row">ISBN</th>
 <td>[% BIBLIO_RESULT.isbn %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.HASAUTHORS ) %] <tr>
 <th scope="row">ชื่อผู้แต่ง</th>
 <td>
 [% IF ( BIBLIO_RESULT.author ) %] <p>[% BIBLIO_RESULT.author %]</p>
 [% END %] [% IF ( BIBLIO_RESULT.MARCAUTHORS ) %] [% FOREACH MARCAUTHOR IN BIBLIO_RESULT.MARCAUTHORS %] <p> [% FOREACH MARCAUTHOR_SUBFIELDS_LOO IN MARCAUTHOR.MARCAUTHOR_SUBFIELDS_LOOP %] [% MARCAUTHOR_SUBFIELDS_LOO.separator %] [% MARCAUTHOR_SUBFIELDS_LOO.value %] [% END %] </p>
 [% END %] [% END %] </td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.publishercode ) %] <tr>
 <th scope="row">สำนักพิมพ์</th>
 <td>[% BIBLIO_RESULT.place %] [% BIBLIO_RESULT.publishercode %] [% BIBLIO_RESULT.publicationyear %] </td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.pages ) %] <tr>
 <th scope="row">รายละเอียด</th>
 <td>[% BIBLIO_RESULT.pages %] [% BIBLIO_RESULT.illus %] [% BIBLIO_RESULT.size %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.seriestitle ) %] <tr>
 <th scope="row">หมวดหมู่</th>
 <td> [% BIBLIO_RESULT.seriestitle %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.MARCSUBJCTS ) %] <tr>
 <th scope="row">หัวเรื่อง</th>
 <td>[% FOREACH MARCSUBJCT IN BIBLIO_RESULT.MARCSUBJCTS %] <p> [% FOREACH MARCSUBJECT_SUBFIELDS_LOO IN MARCSUBJCT.MARCSUBJECT_SUBFIELDS_LOOP %] [% MARCSUBJECT_SUBFIELDS_LOO.separator %][% MARCSUBJECT_SUBFIELDS_LOO.value %][% END %] </p>
 [% END %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.copyrightdate ) %] <tr><th scope="row">สงวนลิขสิทธิ์</th>
 <td> [% BIBLIO_RESULT.copyrightdate %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.MARCNOTES ) %] <tr>
 <th scope="row">หมายเหตุ</th>
 <td>
 [% FOREACH MARCNOTE IN BIBLIO_RESULT.MARCNOTES %] <p>- [% MARCNOTE.marcnote %]</p>
 [% END %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.unititle ) %] <tr>
 <th scope="row">ชื่อเรื่องรวม</th>
 <td> [% BIBLIO_RESULT.unititle %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.serial ) %] <tr>
 <th scope="row">สิ่งพิมพ์ต่อเนื่อง</th>
 <td>[% BIBLIO_RESULT.serial %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.dewey ) %] <tr>
 <th scope="row">ระบบดิวอี้</th>
 <td>[% BIBLIO_RESULT.dewey %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.classification ) %] <tr>
 <th scope="row">การจัดหมวดหมู่</th>
 <td> [% BIBLIO_RESULT.classification %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.lccn ) %] <tr>
 <th scope="row">LCCN</th>
 <td> [% BIBLIO_RESULT.lccn %]</td>
 </tr>
 [% END %] [% IF ( BIBLIO_RESULT.MARCurlS ) %] <tr>
 <th scope="row">URL(s)</th>
 <td>
 [% FOREACH MARCurl IN BIBLIO_RESULT.MARCurlS %] <p>
 [% IF ( MARCurl.part ) %][% MARCurl.part %] <br />
 [% END %] [% MARCurl.MARCurl %] [% IF ( MARCurl.notes ) %][% FOREACH note IN MARCurl.notes %][% note.note %]<br />[% END %][% END %] [% END %] </p>
 </td>
 </tr>[% END %] <tr>
 <th scope="row">สถานที่ (สถานะ)</th>
 <td>[% IF ( BIBLIO_RESULT.ITEM_RESULTS ) %]<ul>[% FOREACH ITEM_RESULT IN BIBLIO_RESULT.ITEM_RESULTS %] <li>
 <strong>[% ITEM_RESULT.branchname %]</strong>[% IF ( ITEM_RESULT.location_opac ) %], [% ITEM_RESULT.location_opac %][% END %] [% IF ( ITEM_RESULT.itemcallnumber ) %] ([% ITEM_RESULT.itemcallnumber %]) [% END %] ([% INCLUDE 'item-status.inc' item = ITEM_RESULT %]) </li>
 [% END %]</ul>[% ELSE %]ระเบียนนี้ไม่มีฉบับพิมพ์[% END %]</td>
 </tr>
 </table>
 [% END %] </form>

[% ELSE %] <form action="/cgi-bin/koha/opac-basket.pl" method="get" name="bookbag_form" id="bookbag_form" class="checkboxed">
 <table id="itemst">
 <thead>
 <tr>
 [% UNLESS ( print_basket ) %]<th>&nbsp;</th>[% END %] <th>ชื่อเรื่อง</th>
 <th>ชื่อผู้แต่ง</th>
 <th>ปี</th>
 <th>สถานที่ (สถานะ)</th>
 </tr>
 </thead>

 [% FOREACH BIBLIO_RESULT IN BIBLIO_RESULTS %] [% IF ( BIBLIO_RESULT.even ) %] <tr class="highlight">
 [% ELSE %] <tr>
 [% END %] [% UNLESS ( print_basket ) %]<td>
 <input type="checkbox" class="cb" value="[% BIBLIO_RESULT.biblionumber %]" name="bib[% BIBLIO_RESULT.biblionumber %]" id="bib[% BIBLIO_RESULT.biblionumber %]" onclick="selRecord(value,checked);" />

 </td> [% END %] <td>
 <a href="#" onclick="openBiblio('[% BIBLIO_RESULT.dest %]',[% BIBLIO_RESULT.biblionumber %])">[% BIBLIO_RESULT.title |html %][% IF ( BIBLIO_RESULT.subtitle ) %] [% FOREACH subtitl IN BIBLIO_RESULT.subtitle %][% subtitl.subfield |html %][% END %][% END %]</a>
 <!-- COinS / Openurl -->
 <span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.au=[% BIBLIO_RESULT.author %]&amp;rft.btitle=[% BIBLIO_RESULT.title |url %]&amp;rft.date=[% BIBLIO_RESULT.publicationyear %]&amp;rft.tpages=[% BIBLIO_RESULT.size %]&amp;rft.isbn=[% BIBLIO_RESULT.isbn |url %]&amp;rft.aucorp=&amp;rft.place=[% BIBLIO_RESULT.place %]&amp;rft.pub=[% BIBLIO_RESULT.publisher |url %]&amp;rft.edition=[% BIBLIO_RESULT.edition %]&amp;rft.series=[% BIBLIO_RESULT.series %]&amp;rft.genre="></span>
 [% IF ( TagsInputEnabled && loggedinusername ) %] <span id="newtag[% BIBLIO_RESULT.biblionumber %]_status" class="tagstatus results_summary" style="display:none">แท็กสถานะัที่นี่</span>
 [% END %] </td>
 <td>[% BIBLIO_RESULT.author %]</td>
 <td>
 [% IF ( BIBLIO_RESULT.publicationyear ) %] [% BIBLIO_RESULT.publicationyear %] [% ELSE %] [% BIBLIO_RESULT.copyrightdate %] [% END %] </td>
 <td>[% IF ( BIBLIO_RESULT.ITEM_RESULTS ) %]<ul>[% FOREACH ITEM_RESULT IN BIBLIO_RESULT.ITEM_RESULTS %] <li>
 [% ITEM_RESULT.branchname %][% IF ( ITEM_RESULT.location_opac ) %], [% ITEM_RESULT.location_opac %][% END %] [% IF ( ITEM_RESULT.itemcallnumber ) %] ([% ITEM_RESULT.itemcallnumber %]) [% END %] ([% INCLUDE 'item-status.inc' item = ITEM_RESULT %]) </li>
 [% END %]</ul>[% ELSE %]ระเบียนนี้ไม่มีฉบับพิมพ์[% END %]</td>
 </tr>
 [% END %] </table></form>
[% END %] [% UNLESS ( print_basket ) %] <form name="myform" action="opac-basket.pl" method="get">
 <input type="hidden" name="records" id="records" />
</form>
[% END %] </div>
</div>
</body>
</html>
