<SUBJECT>
รถเข็นหนังสือของคุณ<END_SUBJECT>

[% USE HtmlToText %] [% myhtml FILTER html2text(leftmargin => 0, rightmargin => 0) %] [% myhtmltext | html2text %] <HEADER>

[%# FILTER html2text %] <p>สวัสดีค่ะ</p>

 <p>[% firstname %] [% surname %] ได้ส่งรถเข็นหนังสือจากทรัพยากรห้องสมุดให้คุณ</p>

 <p>โปรดทราบว่าไฟล์ที่แนบมานี้คือระเบียนบรรณานุกรมในรูปแบบ MARC ที่สามารถนำเข้าไปยังซอฟต์แวร์บรรณานุกรมส่วนตัว เช่น EndNote, Reference Manager หรือ ProCite ได้</p>
 <hr/>
[%# END %] <END_HEADER>

<MESSAGE>
[%# FILTER html2text %] [% IF comment %] <p>[% comment %]</p>
 <hr/>
 [% END %] <ol>
 [% FOREACH BIBLIO_RESULT IN BIBLIO_RESULTS %] <li>
 <span>
 [% BIBLIO_RESULT.title %] [% IF ( BIBLIO_RESULT.subtitle ) %] [% BIBLIO_RESULT.subtitle %][% END %] </span>

 <p>
 [% IF ( BIBLIO_RESULT.HASAUTHORS ) %] <span>ชื่อผู้แต่ง: [% IF ( BIBLIO_RESULT.author ) %][% BIBLIO_RESULT.author %][% END %] [% IF ( BIBLIO_RESULT.MARCAUTHORS ) %] [% IF ( BIBLIO_RESULT.author ) %]; [% END %] [% FOREACH MARCAUTHOR IN BIBLIO_RESULT.MARCAUTHORS %] [% FOREACH MARCAUTHOR_SUBFIELDS_LOO IN MARCAUTHOR.MARCAUTHOR_SUBFIELDS_LOOP %] [% MARCAUTHOR_SUBFIELDS_LOO.separator %][% MARCAUTHOR_SUBFIELDS_LOO.value %] [% END %] [% UNLESS ( loop.last ) %];[% END %] [% END %] [% END %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.ISBN ) %] <span>
 ISBN: [% BIBLIO_RESULT.ISBN %] </span><br/>
 [% END %] [% IF BIBLIO_RESULT.publishercode %] <span>
 จัดพิมพ์โดย: [% BIBLIO_RESULT.publishercode %] [% IF ( BIBLIO_RESULT.publicationyear ) %] ใน [% BIBLIO_RESULT.publicationyear %] [% END %] [% IF ( BIBLIO_RESULT.pages ) %] , [% BIBLIO_RESULT.pages %] [% END %] [% IF BIBLIO_RESULT.size %] , [% BIBLIO_RESULT.size %] [% END %]</span><br/>
 [% END %] [% IF BIBLIO_RESULT.collection %] <span>
 กลุ่มข้อมูล: [% BIBLIO_RESULT.seriestitle %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.subject ) %] <span>
 หัวเรื่อง: [% BIBLIO_RESULT.subject %]<span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.copyrightdate ) %] <span>
 ปีจดลิขสิทธิ์: [% BIBLIO_RESULT.copyrightdate %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.notes ) %] <span>
 หมายเหตุ: [% BIBLIO_RESULT.notes %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.unititle ) %] <span>
 ชื่อเรื่องรวม: [% BIBLIO_RESULT.unititle %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.serial ) %] <span>
 สิ่งพิมพ์ต่อเนื่อง: [% BIBLIO_RESULT.serial %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.dewey ) %] <span>
 ระบบดิวอี้: [% BIBLIO_RESULT.dewey %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.classification ) %] <span>
 การจัดหมวดหมู่: [% BIBLIO_RESULT.classification %]</span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.lccn ) %] <span>
 LCCN: [% BIBLIO_RESULT.lccn %] </span><br/>
 [% END %] [% IF ( BIBLIO_RESULT.url ) %] <span>
 URL: [% BIBLIO_RESULT.url |url %] </span>
 [% END %] </p>

 [% IF ( OPACBaseURL ) %] <p>
 ในทรัพยากรห้องสมุดออนไลน์: [% OPACBaseURL %]/cgi-bin/koha/opac-detail.pl?biblionumber=[% BIBLIO_RESULT.biblionumber %]</p>
 [% END %] [% IF ( BIBLIO_RESULT.ITEM_RESULTS.size ) %] <p>รายการ:<ul>
 [% FOREACH ITEM_RESULT IN BIBLIO_RESULT.ITEM_RESULTS %]<li>
 [% ITEM_RESULT.branchname %] [% ITEM_RESULT.location %] [% IF ITEM_RESULT.itemcallnumber %]([% ITEM_RESULT.itemcallnumber %])[% END %] [% ITEM_RESULT.barcode %] </li>[% END %] </ul>
 </p>
 [% END %] <hr/>
 </li>
 [% END %] </ol>

[%# END %] <END_MESSAGE>
