[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Updates submitted
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="opac-patron-update-submitted">
<div id="doc3" class="yui-t1">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b">
 <div id="update-submitted" class="container">

 <h3><a href="/cgi-bin/koha/opac-user.pl">[% borrower.firstname %] บัญชีผู้ใช้ของ [% borrower.surname %]</a> &#8674; ปรับปรุงระเบียนของคุณ</h3>
 <div class="dialog message">
 <h3>ขอบคุณ</h3>
 <p>การปรับปรุงของคุณถูกส่งแล้ว บรรณารักษ์จะตรวจสอบการปรับปรุงของคุณก่อนจะนำไปใช้</p>
 </div>
 </div>
 </div>
</div>
<div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' IsPatronPage=1 %] </div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %] 