[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; ISBD
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="opac-browser">
 [% IF ( OpacNav ) %]<div id="doc3" class="yui-t1">[% ELSE %]<div id="doc3" class="yui-t7">[% END %] <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div class="yui-g">
<div id="userbrowser" class="container">
 <h1>เรียกดูทรัพยากรห้องสมุด</h1>
 [% IF ( have_hierarchy ) %] <ul>
 <li>
 [% description %] <a href="opac-browser.pl">ระดับบนสุด</a>
 </li>
 <li style="list-style-type: none;"><ul>
 [% FOREACH HIERARCHY_LOO IN HIERARCHY_LOOP %] <li>
 <a href="opac-browser.pl?level=[% HIERARCHY_LOO.level %]&amp;filter=[% HIERARCHY_LOO.classification |uri %]">[% HIERARCHY_LOO.description |html %]</a>
 </li>
 <li  style="list-style-type: none;"><ul>
 [% END %] <li style="list-style-type: none;"><table><tr>
 [% FOREACH LEVEL_LOO IN LEVEL_LOOP %] <td width="33%">
 <p>
 [% IF ( LEVEL_LOO.endnode ) %] <a href="opac-search.pl?q=Dewey-classification:[% LEVEL_LOO.classification |uri %]">[% LEVEL_LOO.description |html %]</a>
 [% ELSE %] <a href="opac-browser.pl?level=[% LEVEL_LOO.level %]&amp;filter=[% LEVEL_LOO.classification |uri %]">[% LEVEL_LOO.description |html %]</a>
 [% END %]</p>
 <p style="font-size:0.75em"><i>([% LEVEL_LOO.number %] รายการบรรณานุกรม)</i></p>
 </td>
 [% IF ( LEVEL_LOO.count3 ) %]</tr><tr>[% END %] [% END %] </tr></table></li>
 [% FOREACH HIERARCHY_LOO IN HIERARCHY_LOOP %] </ul></li>
 [% END %] </ul></li></ul>
 [% ELSE %] <div class="warning">ตารางเบราว์เซอร์ว่างเปล่า คุณไม่ได้ติดตั้งคุณลักษณะนี้ทั้งหมด โปรดดู<a href="http://wiki.koha-community.org/wiki/Opac_browse_feature">Koha Wiki</a> สำหรับข้อมูลเพิ่มเติมเกี่ยวกับการทำงานและวิธีกำหนดค่า</div>
 [% END %] </div></div>
</div>
</div>
[% IF ( OpacNav ) %] <div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' %] </div>
</div>[% END %] </div>
[% INCLUDE 'opac-bottom.inc' %] 