[% USE Koha %]
[% USE KohaDates %]

[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Your fines and charges
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="opac-account">
<div id="doc3" class="yui-t1">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div class="yui-g">
 <div id="useraccount" class="container">
<!--CONTENT-->
 [% FOREACH BORROWER_INF IN BORROWER_INFO %]
 <h3><a href="/cgi-bin/koha/opac-user.pl">[% BORROWER_INF.firstname %] บัญชีผู้ใช้ของ [% BORROWER_INF.surname %]</a> &#8674; ค่าปรับและค่าธรรมเนียม</h3>
 [% END %] [% IF ( ACCOUNT_LINES ) %] <table>
 <thead>
 <tr>
 <th>วันที่</th>
 <th>รายละเอียด</th>
 <th>จำนวนค่าปรับ</th>
 <th>จำนวนยอดคงค้าง</th>
 </tr>
 </thead>

 <tfoot>
 <tr>
 <th class="sum" colspan="3">จำนวนทั้งหมดที่ถึงกำหนดส่ง</th>
 <td class="sum">[% total %]</td>
 </tr>
 </tfoot>

 <tbody>
 [% FOREACH ACCOUNT_LINE IN ACCOUNT_LINES %] [% IF ( ACCOUNT_LINE.odd ) %]<tr class="highlight">[% ELSE %]<tr>[% END %] <td>[% ACCOUNT_LINE.date | $KohaDates %]</td>
 <td>[% ACCOUNT_LINE.description %] [% IF ( ACCOUNT_LINE.title ) %][% ACCOUNT_LINE.title |html %][% END %]</td>
 [% IF ( ACCOUNT_LINE.amountcredit ) %]<td class="credit">[% ELSE %]<td class="debit">[% END %][% ACCOUNT_LINE.amount %]</td>
 [% IF ( ACCOUNT_LINE.amountoutstandingcredit ) %]<td class="credit">[% ELSE %]<td class="debit">[% END %][% ACCOUNT_LINE.amountoutstanding %]</td>
 </tr>
 [% END %] </tbody>

 </table>
 [% ELSE %] <h4>คุณไม่มีค่าปรับหรือค่าธรรมเนียมที่ต้องชำระ</h4>
 [% END %] </div>
</div>
</div>
</div>
<div class="yui-b">
<div id="leftmenus" class="container">
[% INCLUDE 'navigation.inc' IsPatronPage=1 %] </div>
</div>
</div>
[% INCLUDE 'opac-bottom.inc' %] 