[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %][% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; MARC details for record no. [% biblionumber %]
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript">
//<![CDATA[
    YAHOO.util.Event.onContentReady("furtherm", function () {
        $("#furtherm").css("display","block").css("visibility","hidden");
        $("#furthersearches").parent().show();
        var furthersearchesMenu = new YAHOO.widget.Menu("furtherm");
            furthersearchesMenu.render();
            furthersearchesMenu.cfg.setProperty("context", ["furthersearches", "tr", "br"]);
            furthersearchesMenu.subscribe("beforeShow",positionfurthersearchesMenu);
            furthersearchesMenu.subscribe("show", furthersearchesMenu.focus);
            function positionfurthersearchesMenu() {
                        furthersearchesMenu.align("tr", "br");
            }
            YAHOO.util.Event.addListener("furthersearches", "click", furthersearchesMenu.show, null, furthersearchesMenu);
            YAHOO.widget.Overlay.windowResizeEvent.subscribe(positionfurthersearchesMenu);
     });
[% IF ( OPACXSLTDetailsDisplay ) %]
$(document).ready(function(){
    $.ajaxSetup({
        error:function(x,e){
            switch (x.status) {
                case 200: break;
                default:
                $('#switchview').parent().html("<div class=\"dialog alert\">"+_("ขออภัย มุมมองธรรมดาไม่พร้อมใช้งานชั่วคราว")+".</div>");
                $("#plainmarc").hide();
                $("#labeledmarc").show();
                break;
            }
        }
    });

    var loaded = 0;
    $("#switchview").toggle(
      function () {
        $(this).text(_("ສະແດງກ່ຽວກັບເຄື່ອງໜາຍ/ບາໂຄດ"));
        $("#labeledmarc").hide();
        if(!loaded){
            $("#plainmarc").show().html("<div style=\"margin:1em;padding:1em;border:1px solid #EEE;font-size:150%;\"><img src=\"[% interface %]/[% theme %]/images/loading.gif\" /> "+_("กำลังโหลด")+"...</div>").load("/cgi-bin/koha/opac-showmarc.pl","id=[% biblionumber %]&viewas=html");
            loaded = 1;
        } else {
            $("#plainmarc").show();
        }
      },
      function () {
        $(this).text(_("มุมมองธรรมดา"));
        $("#labeledmarc").show();
        $("#plainmarc").hide();
      }
    );
});
[% END %]
//]]>
</script>
</head>
<body id="opac-marcdetail">

<div id="doc3" class="yui-t7">
 <div id="bd">
[% INCLUDE 'masthead.inc' %] <div id="yui-main">
 <div class="yui-b"><div id="opac-detail" class="yui-ge">
 <div class="yui-u first">
 <div id="usermarcdetail" class="container">
 <div id="catalogue_detail_biblio">

 <div id="views">
 <span class="view"><a id="Normalview" href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% biblionumber %]">มุมมองปกติ</a></span>

<span class="view"><span id="MARCview">มุมมอง MARC</span></span>
[% IF ( ISBD ) %]<span class="view"><a id="ISBDview"  href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=[% biblionumber %]">มุมมอง ISBD</a></span>[% END %] </div>
 <h1 class="title">[% bibliotitle %] (ระเบียนเลขที่ [% biblionumber %])</h1>
 [% IF ( OPACXSLTDetailsDisplay ) %] <div id="switchview_div">[ <a id="switchview" href="/cgi-bin/koha/opac-showmarc.pl?id=[% biblionumber %]&amp;viewas=html">มุมมองธรรมดา</a> ]</div>
 <div id="plainmarc"></div>[% END %] <div id="labeledmarc">
 <table id="marc">
 [% FOREACH tab0X IN tab0XX %] <tr><th colspan="2">[% tab0X.tag %]</th></tr>
 [% FOREACH subfiel IN tab0X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab1X IN tab1XX %] <tr><th colspan="2">[% tab1X.tag %]</th></tr>
 [% FOREACH subfiel IN tab1X.subfield %] <tr>
 <td  >[% subfiel.marc_lib %]</td>
 <td  >[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab2X IN tab2XX %] <tr><th colspan="2">[% tab2X.tag %]</th></tr>
 [% FOREACH subfiel IN tab2X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab3X IN tab3XX %] <tr><th colspan="2">[% tab3X.tag %]</th></tr>
 [% FOREACH subfiel IN tab3X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab4X IN tab4XX %] <tr><th colspan="2" >[% tab4X.tag %]</th></tr>
 [% FOREACH subfiel IN tab4X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab5X IN tab5XX %] <tr><th colspan="2">[% tab5X.tag %]</th></tr>
 [% FOREACH subfiel IN tab5X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab6X IN tab6XX %] <tr><th colspan="2">[% tab6X.tag %]</th></tr>
 [% FOREACH subfiel IN tab6X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab7X IN tab7XX %] <tr><th colspan="2">[% tab7X.tag %]</th></tr>
 [% FOREACH subfiel IN tab7X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab8X IN tab8XX %] <tr><th colspan="2">[% tab8X.tag %]</th></tr>
 [% FOREACH subfiel IN tab8X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] [% FOREACH tab9X IN tab9XX %] <tr><th colspan="2">[% tab9X.tag %]</th></tr>
 [% FOREACH subfiel IN tab9X.subfield %] <tr>
 <td>[% subfiel.marc_lib %]</td>
 <td>[% subfiel.marc_value %]</td>
 </tr>
 [% END %] [% END %] </table>
 </div>
[% IF ( item_header_loop ) %] <table id="items">
 <caption>Holdings</caption>
 <tr>
 [% FOREACH item_header_loo IN item_header_loop %] <th>
 [% item_header_loo.header_value %] </th>
 [% END %] </tr>
 [% FOREACH item_loo IN item_loop %] <tr>
 [% item_loo.item_value %] </tr>
 [% END %] </table>[% ELSE %] <p>ไม่มีตัวเล่มหลงเหลืออยู่</p>
 [% END %] </div>
 </div>
 </div>
 <div class="yui-u">
 <div id="ulactioncontainer" class="container">

[% INCLUDE 'opac-detail-sidebar.inc' %] </div>
</div>
</div>

</div>
</div>

</div>
[% INCLUDE 'opac-bottom.inc' %] 